.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.LogoFontBlue{
    font-family: calibri !important;
    color:#002E6C !important;
    font-size: 25px !important;
    font-weight: bold !important;
}
.LogoFontRed{
    font-family: calibri !important;
    color:#D8262E !important;
    font-size: 25px !important;
    font-weight: bold !important;
}
.LoginNameFontRed{
    font-family: calibri !important;
    color:#D8262E !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
ul.info-list {
    margin-top: 20px;
}
.info-box {
    margin-bottom: 20px;
    border-radius: 4px;

}
.text-white {
    color: #FFFFFF !important;
}
.info-box-azul { /* Divs Azulez */
    background: #2A2B51 !important;
    padding: 10px !important;
    width: 100px;
  }
.feed-container .panel-body{
    width: 100%;
    height: 200px;
    overflow-y: scroll;

}

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
.buscador input[type="text"] {
    position: relative;
    }
input.buscador { font-family: 'FontAwesome'; }

.buscador {
    background: #F3F2F2;
    color : black;
    padding: 5px 5px 5px 5px;
    width: 60px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}

.buscador:focus {
     background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #CCC;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.buscador:hover { 
    border: 1px solid #808080; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
  } 


.filtro input[type="text"] {
    position: relative;
    }
input.filtro { 
  font-style: normal; 
  font-weight: bold;
  text-align: center;
}

.filtro {
    background: #F3F2F2;
    color : black;
    padding: 5px 5px 5px 5px;
    width: 60px;
    border: 1px solid #CCC;
    width: 33px;
    height: 18px;
}

.filtro:focus {
     background: #FFF;

}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}
.btn-circle-sm {
  width: 34px;
  height: 34px;
  text-align: center;
  padding: 2px 0;
  font-size: 19px;
  line-height: 1.65;
  border-radius: 30px;
}
.btn-circle-xs {
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.20;
  border-radius: 30px;
}
.btn-circle-xss {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px 0;
  font-size: 11px;
  line-height: 1.20;
  border-radius: 30px;
}
.btn-DemePedido-xs {
  width: 120px;
  height: 22px;
  text-align: center;
  padding: 2px 2px;
  font-size: 12px;
  border-radius: 20px;
  font-family: Andale Mono, monospace;
  font-weight: bold;
}
.btn-cuadro-xs {
  width: 32px;
  height: 22px;
  text-align: center;
  padding: 1px 0;
  font-size: 12px;
  line-height: 1.20;
}
.DemePedido{
  /*color:#FF7800;*/
  color:#D8262E;
  font-weight: bold;
}
.DemePedidoBlue{
  /*color:#FF7800;*/
  color:#002E6C;
  font-weight: bold;
}
.navbar-pad-derecha {
    padding-right: 30px ;
}
.navbar-pad-izquierda {
    padding-left: 30px ;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
@font-face {
	font-family: 'digi';
	src: url('../fonts/DS-DIGII.TTF');
}
.clock {
  font-family: 'digi';
  font-size:50px;
}
.Tips{
  cursor:pointer;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fixed-panel {

  max-height: 450px;
  overflow-y: scroll;
}
.grupo-select{
  height: 22px;
  width:150px;
  font-size: 0.75em;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* Chat */
.chatTextarea {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gray;
    outline:0;
  }

/* Chat */
/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
    color: #4F4E4E !important;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #4F4E4E;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #4F4E4E;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #4F4E4E;
    cursor: default;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: rgba(68,68,68, .23);
    border-bottom-color: transparent;
}
/*Estilos para los cool checkboxex */
.flipswitch
{
    position: relative;
    background: white;
    margin: 0px 0 0;
    padding: 0;
    width: 42px;
    height: 22px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline:none;
    font-size: inherit;
    /*font-size: 65%;
    font-size: 9px;
    font-weight: bold;*/
    font-family: Trebuchet, Arial, sans-serif;
    cursor:pointer;
    border:1px solid #ddd;
    z-index: 0;
}
.flipswitch:after
{
    position:absolute;
    top:5%;
    display:block;
    line-height:17px;
    width:45%;
    height:90%;
    background:#F76684;
    box-sizing:border-box;
    text-align:center;
    transition: all 0.3s ease-in 0s;
    color:white;
    border:#888 1px solid;
    border-radius:3px;
    z-index: 0;
}
.flipswitch:after
{
    left:2%;
    content: "No";
}
.flipswitch:checked:after
{
    left:53%;
    content: "Si";
}
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}
.profile-card {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}