<ol class="breadcrumb">
  <li><a href="./#/">Actividades</a></li>

</ol>
<div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Formas Actividades</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)">Datos Actividades</a>
        </li>

    </ul>

        <div class="col-md-16">
        <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Registros <small> Actividades</small></h2>
                            <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br>
                        </div>
                    </div>



			<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>
                    <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="33%" align="left">

				Total de Registros: <b>{{data.totalItems1}} </b>
			</td>
			<td width="33%" align="center">
				<a class="btn btn-block btn-primary" ng-click="nuevoRegistroActivadades();"><span class="glyphicon glyphicon-thumbs-up"></span> Añadir</a>
                        </td>

			<td width="33%" align="right">
				<pagination total-items="data.totalItems1" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>
                                    <th width="7%">Fecha</th>
                                    <th width="15%">Tipo Trabajo</th>
                                    <th width="10%">Aplicacion/Actividad</th>
                                    <th width="8%">Cola</th>
                                    <th width="17%">Usuario</th>
                                    <th width="17%">Observaciones</th>
                                    <th width="17%">Editar</th>

                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transaccionesActividades| orderBy:'FECHA_FIN':true ">
                                    <td>{{data.FECHA}}</td>
                                    <td>{{data.TIPO_TRABAJO}}</td>
                                    <td>{{data.APLICACION_ACTIVIDADES}}</td>
                                    <td>{{data.COLA}}</td>
                                    <td>{{data.USUARIO}}</td>
                                    <td>{{data.OBSERVACIONES}}</td>
                                    <td align="center"><button class="btn btn-success btn-xs" value="edit!" ng-click="getTransaccionActividades(data.ID);"><i class="fa fa-pencil-square-o"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>
                  </div>


                <div ng-show="isSet(2)">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Historico <small> Actividades</small></h2>
                            <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br>
                        </div>
                    </div>
		          <div class="row">
			         <label class=" input col-sm-3">Seleccione Fecha:</label>
                                <div class="input-daterange col-sm-7" id="datepicker">
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="fromDate" name="fromDate" ng-model="data.fechaIni" />
                                        <span class="input-group-addon">Hasta</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="toDate" name="toDate" ng-model="data.fechaFin" />
                                        <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="pageChanged();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
                                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvactividades();"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>
                                        </span>
                                    </div>
                                </div>
		</div>


         <form class="form-inline" role="form">

              <div class="form-group btn-group">


                <input type="text" size="13px" class="form-control btn-group btn btn-md btn-default" onClick="this.setSelectionRange(0, this.value.length)" title="Escriba usuario a Buscar" data-toggle="tooltip" data-placement="top" placeholder="Buscador de usuarios" ng-model="usuario">
                <button type="button" class="form-control btn btn-md btn-primary"  title="Buscar usuario" data-toggle="tooltip" data-placement="top" ng-click="buscarDatos(usuario);"><i class="fa fa-search" aria-hidden="true"></i></button>




                </div>
             </form>



			<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>
                    <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="33%" align="left">

				Total de Registros: <b>{{data.totalItems}} </b>
			</td>

			<td width="33%" align="right">
				<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>

                                    <th width="10%">Fecha</th>
                                    <th width="15%">Tipo Trabajo</th>
                                    <th width="10%">Aplicacion/Actividad</th>
                                    <th width="8%">Cola</th>
                                    <th width="17%">Usuario</th>
                                    <th width="17%">Observaciones</th>

                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transaccionesActividades1| orderBy:'FECHA_FIN':true ">


                                    <td>{{data.FECHA}}</td>
                                    <td>{{data.TIPO_TRABAJO}}</td>
                                    <td>{{data.APLICACION_ACTIVIDADES}}</td>
                                    <td>{{data.COLA}}</td>
                                    <td>{{data.USUARIO}}</td>
                                    <td>{{data.OBSERVACIONES}}</td>

                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>



                  </div>
            </div>
        </div>
    </div>
    </div>
<br>

<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<ol class="breadcrumb">
  <li><a href="./#/actividades/">Actividades</a></li>
  <li class="active">Transacciones Actividades</li>
</ol>
<div class="view">
    <div class="container">
        <div id="legend">
                <h3>Registrar Nueva Transacción:</h3>
                <hr style="background:#D8262E; border:0; height:2px" />
        </div>
        <!--div class="row"-->
        <div class="col-xs-6">
        <form role="form" name="myForm" class="form-horizontal">
            <!--div class="row"-->

               <div class= "form-group"><!--Inicia Div de Fecha -->
                <label class= "col-md-2">Fecha: </label>
                <div class="input-daterange col-sm-2" id="datepicker">
                    <input type="text" class="form-control" style="min-width: 100px" id="toDate" name="toDate" ng-model="transaccion.FECHA"  placeholder= "Fecha" />
             </div>
            </div><!--Finaliza Div de Fecha-->

            <div class= "form-group"><!--Inicia Div de Tipo Trabajo-->
                <label class= "col-md-2" for="multipleSelect">Tipo Trabajo: </label>
                <div class="col-md-20">
                  <select name="multipleSelect" id="multipleSelect"  ng-model="transaccion.TIPO_TRABAJO" multiple>
                        <option value='ASEGURAMIENTO'>ASEGURAMIENTO</option>
                		<option value='CAMBIO'>CAMBIO</option>
                		<option value='DEPURACION'>DEPURACION</option>
                		<option value='NUEVO'>NUEVO</option>
                		<option value='RECONEXION'>RECONEXION</option>
                		<option value='RETIRO'>RETIRO</option>
                        <option value='SUSPENSION'>SUSPENSION</option>
                        <option value='TRASLADO'>TRASLADO</option>
                        <option value='VALIDAR SERVICIO'>VALIDAR SERVICIO</option>

                    </select><br>
                     <tt>multipleSelect = {{transaccion.TIPO_TRABAJO}}</tt><br/>
                </div>
            </div><!--Finaliza Div de Tipo Trabajo-->
            <div class= "form-group"><!--Inicia Div de Aplicacion/Actividad-->
                <label class= "col-md-4"> Aplicacion/Actividad: </label>
                <div class="col-md-4">
            	<select ng-model="transaccion.APLICACION_ACTIVIDADES" class="form-control" style="width: auto;">

            		<option value='ACTUALIZAR INFORMACION'>ACTUALIZAR INFORMACION</option>
            		<option value='ATENCION DE LINEA'>ATENCION DE LINEA</option>
            		<option value='CAPACITACION'>CAPACITACION</option>
            		<option value='CENTRAL'>CENTRAL</option>
            		<option value='CNR'>CNR</option>
            		<option value='CORREOS'>CORREOS</option>
                    <option value='CR/RQ/TT'>CR/RQ/TT</option>
                    <option value='ELITE'>ELITE</option>
                    <option value='FENIX'>FENIX</option>
                    <option value='INCAPACIDAD'>INCAPACIDAD</option>
                    <option value='INDISPONIBILIDAD DE SISTEMA'>INDISPONIBILIDAD DE SISTEMA</option>
                    <option value='INGRESO DE PEDIDO'>INGRESO DE PEDIDO</option>
                    <option value='INVENTARIO PSR'>INVENTARIO PSR</option>
                    <option value='MIGRACION'>MIGRACION</option>
                    <option value='NCA'>NCA</option>
                    <option value='OPEN'>OPEN</option>
                    <option value='PERMISO'>PERMISO</option>
                    <option value='PLATAFORMA'>PLATAFORMA</option>
                    <option value='PRUEBAS'>PRUEBAS</option>
                    <option value='REALIMENTACION'>REALIMENTACION</option>
                    <option value='REUNION'>REUNION</option>
                    <option value='SIEBEL'>SIEBEL</option>
            	</select>
                </div>
            </div><!--Finaliza Div de Aplicacion/Actividad-->

            <div class= "form-group"><!--Inicia Div de Cola-->
                <label class= "col-md-2">Cola:</label>
                <div class="col-md-4">
                    <select ng-model="transaccion.COLA" class="form-control" style="width: auto;">

                		<option value='Activacion/Desactiv equipos monitoreo HFC'>Activacion/Desactiv equipos monitoreo HFC</option>
                		<option value='ACTIVADOR'>ACTIVADOR</option>
                		<option value='ACTIVAR LINEA HUAWEI'>ACTIVAR LINEA HUAWEI</option>
                		<option value='AISLADOS/DESAISLADOS'>AISLADOS/DESAISLADOS</option>
                		<option value='AMARILLAS'>AMARILLAS</option>
                		<option value='APR-099'>APR-099</option>
                		<option value='ARCHIVO GESTION'>ARCHIVO GESTION</option>
                		<option value='ASEGURAMIENTO NCA'>ASEGURAMIENTO NCA</option>
                        <option value='ATS'>ATS</option>
                        <option value='AUDSL'>AUDSL</option>
                        <option value='BREDRE'>BREDRE</option>
                        <option value='BUC-ACC'>BUC-ACC</option>
                        <option value='BUC-ACM'>BUC-ACM</option>
                        <option value='BUC-IPS'>BUC-IPS</option>
                        <option value='BUZON'>BUZON</option>
                        <option value='CAMBIO EQUIPO'>CAMBIO EQUIPO</option>
                        <option value='CAMBIOID'>CAMBIOID</option>
                        <option value='CAR-ACC'>CAR-ACC</option>
                        <option value='CAR-ACM'>CAR-ACM</option>
                        <option value='CAR-IPS'>CAR-IPS</option>
                        <option value='CBAPON'>CBAPON</option>
                        <option value='CI-SUS'>CI-SUS</option>
                        <option value='CISCO'>CISCO</option>
                        <option value='CITOFONIA VIRTUAL'>CITOFONIA VIRTUAL</option>
                        <option value='CLIPS'>CLIPS</option>
                        <option value='CORREO'>CORREO</option>
                        <option value='CMSUS'>CMSUS</option>
                        <option value='COMAN'>COMAN</option>
                        <option value='CONPPV'>CONPPV</option>
                         <option value='CONTROL'>CONTROL</option>
                        <option value='CREACIÓN DE LINEA'>CREACIÓN DE LINEA</option>
                        <option value='CREACION PSR'>CREACION PSR</option>
                        <option value='CREAR ACTIVIDAD'>CREAR ACTIVIDAD</option>
                        <option value='CRM DATOS TECNICOS'>CRM DATOS TECNICOS</option>
                         <option value='CREDINT'>CREDINT</option>
                        <option value='CTVPONS'>CTVPONS</option>
                        <option value='DEPURAR ARCHIVO'>DEPURAR ARCHIVO</option>
                        <option value='DISCADOS'>DISCADOS</option>
                         <option value='DOM'>DOM</option>
                        <option value='DSLAM'>DSLAM</option>
                        <option value='DTH'>DTH</option>
                        <option value='EDATEL'>EDATEL</option>
                        <option value='ELITE'>ELITE</option>
                        <option value='ESEGUR'>ESEGUR</option>
                        <option value='FAX Y DATAFONO'>FAX Y DATAFONO</option>
                        <option value='Generacion TT/CR '>Generacion TT/CR </option>
                        <option value='GESTION BUZON'>GESTION BUZON</option>
                        <option value='GPON'>GPON</option>
                        <option value='GPONSR'>GPONSR</option>
                        <option value='GTC'>GTC</option>
                        <option value='HABIL'>HABIL</option>
                        <option value='HSEGUR'>HSEGUR</option>
                        <option value='IAF'>IAF</option>
                        <option value='INFORME'>INFORME</option>
                        <option value='INDISPONIBILIDAD DE SISTEMA'>INDISPONIBILIDAD DE SISTEMA</option>
                        <option value='IDC'>IDC</option>
                         <option value='IDIOMA'>IDIOMA</option>
                        <option value='INGRESAR PEDIDO'>INGRESAR PEDIDO</option>
                         <option value='INGRESAR REALIMENTACIÓN'>INGRESAR REALIMENTACIÓN</option>
                        <option value='INTDDV'>INTDDV</option>
                        <option value='INTFW'>INTFW</option>
                        <option value='INTHPER'>INTHPER</option>
                          <option value='INTIP'>INTIP</option>
                        <option value='INTMOVIL'>INTMOVIL</option>
                        <option value='INTPLA'>INTPLA</option>
                        <option value='INTROA'>INTROA</option>
                         <option value='INTUNX'>INTUNX</option>
                        <option value='INTVIR'>INTVIR</option>
                        <option value='INTWIN'>INTWIN</option>
                        <option value='IVR-PREP'>IVR-PREP</option>
                        <option value='LDAP4'>LDAP4</option>
                        <option value='LICIVI'>LICIVI</option>
                        <option value='LTEAPN'>LTEAPN</option>
                        <option value='LTEHP'>LTEHP</option>
                        <option value='LTEIMEI'>LTEIMEI</option>
                         <option value='LTEIP'>LTEIP</option>
                        <option value='LTERBM'>LTERBM</option>
                        <option value='MAC-LOGIN'>MAC-LOGIN</option>
                        <option value='MAN-IPS'>MAN-IPS</option>
                        <option value='MIUNE'>MIUNE</option>
                         <option value='NCA'>NCA</option>
                        <option value='PENDIENTES OTROS'>PENDIENTES OTROS</option>
                        <option value='PERMISO'>PERMISO</option>
                        <option value='PRUEBAS'>PRUEBAS</option>
                        <option value='PSMPR'>PSMPR</option>
                         <option value='RQ'>RQ</option>
                        <option value='RETIRO DE LINEA'>RETIRO DE LINEA</option>
                        <option value='REUNION'>REUNION</option>
                         <option value='RIGHTV'>RIGHTV</option>
                        <option value='SEREQU (HOGAR SEGURO)'>SEREQU (HOGAR SEGURO)</option>
                        <option value='SERIP'>SERIP</option>
                         <option value='SERVICIOS ESPECIALES'>SERVICIOS ESPECIALES</option>
                        <option value='SERVICIOS SUPLEMENTARIOS'>SERVICIOS SUPLEMENTARIOS</option>
                        <option value='SERVTOE'>SERVTOE</option>
                        <option value='SHASTA'>SHASTA</option>
                        <option value='SMART'>SMART</option>
                         <option value='SOBER'>SOBER</option>
                        <option value='SUBAS'>SUBAS</option>
                        <option value='SUGRU'>SUGRU</option>
                        <option value='SUSPENSION DE LINEA'>SUSPENSION DE LINEA</option>
                        <option value='TEOIG'>TEOIG</option>
                        <option value='TOIP'>TOIP</option>
                        <option value='TOIPON'>TOIPON</option>
                        <option value='TRGPON'>TRGPON</option>
                        <option value='TRASA SUSPECORE'>TRASA SUSPECORE</option>
                         <option value='TSTDA'>TSTDA</option>
                        <option value='TSTLIA'>TSTLIA</option>
                        <option value='TVCAMO'>TVCAMO</option>
                        <option value='TVCANAL'>TVCANAL</option>
                        <option value='USRPOR'>USRPOR</option>
                        <option value='USRSEG'>USRSEG</option>
                        <option value='VAL-ACC'>VAL-ACC</option>
                        <option value='VERTIP'>VERTIP</option>
                        <option value='VMWARE'>VMWARE</option>
                         <option value='VOIP'>VOIP</option>
                        <option value='ZEUS'>ZEUS</option>

                    </select>
                </div>
            </div><!--Finaliza Div de Cola-->
              <div class= "form-group"><!--Inicia Div de Amanecieron-->
                <label class= "col-md-3">Amanecieron: </label>
                <div class="col-md-4">
                <input ng-model="transaccion.AMANECIERON" type= "text" class= "form-control" placeholder= "Amanecieron"/>
                </div>
            </div><!--Finaliza Div de Amanecieron-->
                <div class= "form-group"><!--Inicia Div de Gestionados dia-->
                <label class= "col-md-3">Gestionados dia: </label>
                <div class="col-md-4">
                <input ng-model="transaccion.GESTIONADO_DIA" type= "text" class= "form-control" placeholder= "Gestionados dia"/>
                </div>
            </div><!--Finaliza Div de Gestionados dia-->

                <div class= "form-group"><!--Inicia Div de Quedan Pendientes-->
                <label class= "col-md-3">Quedan Pendientes: </label>
                <div class="col-md-4">
                <input ng-model="transaccion.QUEDAN_PENDIENTES" type= "text" class= "form-control" placeholder= "Quedan Pendientes"/>
                </div>
            </div><!--Finaliza Div de Quedan Pendientes-->

             <div class= "form-group"><!--Inicia Div de Quedan Observacion-->
                <label class= "col-md-3">Observacion: </label>
                <div class="col-md-5">
                <td><textarea rows='5' cols='20' ng-model="transaccion.OBSERVACIONES"></textarea><br>
                </div>
            </div><!--Finaliza Div de Quedan Pendientes-->


             <div class="col-md-6"><!--Inicia Div de Botones -->
                <br>
                <div class="control-group">
                    <div class="controls">
                    <button ng-show="transaccion.ID==''" ng-click="saveTransaccion(transaccionA)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Guardar</button>
                    <button class="btn btn-success btn-sm" ng-show="transaccion.ID!=''" ng-click="editTransaccionActividades(transaccion);"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
                    <a href="./#/actividades/" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</a>
                    </div>
                </div>
            </div><!--Finaliza Div de Botones -->
        </form>
    </div>
    </div>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
</div>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     //todayBtn: "linked",
     autoclose: true
 });
</script>



<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script type='text/javascript'>
        $(document).ready(function () {
            function exportTableToCSV($table, filename) {
                var $headers = $table.find('tr:has(th)')
                    ,$rows = $table.find('tr:has(td)')
                    // Temporary delimiter characters unlikely to be typed by keyboard
                    // This is to avoid accidentally splitting the actual contents
                    ,tmpColDelim = String.fromCharCode(11) // vertical tab character
                    ,tmpRowDelim = String.fromCharCode(0) // null character
                    // actual delimiter characters for CSV format
                    ,colDelim = '","'
                    ,rowDelim = '"\r\n"';
                    // Grab text from table into CSV formatted string
                    var csv = '"';
                    csv += formatRows($headers.map(grabRow));
                    csv += rowDelim;
                    csv += formatRows($rows.map(grabRow)) + '"';
                    // Data URI
                    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
                $(this)
                    .attr({
                    'download': filename
                        ,'href': csvData
                        //,'target' : '_blank' //if you want it to open in a new window
                });
                //------------------------------------------------------------
                // Helper Functions
                //------------------------------------------------------------
                // Format the output so it has the appropriate delimiters
                function formatRows(rows){
                    return rows.get().join(tmpRowDelim)
                        .split(tmpRowDelim).join(rowDelim)
                        .split(tmpColDelim).join(colDelim);
                }
                // Grab and format a row from the table
                function grabRow(i,row){

                    var $row = $(row);
                    //for some reason $cols = $row.find('td') || $row.find('th') won't work...
                    var $cols = $row.find('td');
                    if(!$cols.length) $cols = $row.find('th');
                    return $cols.map(grabCol)
                                .get().join(tmpColDelim);
                }
                // Grab and format a column from the table
                function grabCol(j,col){
                    var $col = $(col),
                        $text = $col.text();
            $text=$text.replace('MALO','');
                    return $text.replace('"', '""'); // escape double quotes
                }
            }
            // This must be a hyperlink
            $("#export").click(function (event) {
                // var outputFile = 'export'
                var outputFile = window.prompt("Escriba el nombre del archivo") || 'export';
                outputFile = outputFile.replace('.csv','') + '.csv'

                // CSV
                exportTableToCSV.apply(this, [$('#dvData>table'), outputFile]);

                // IF CSV, don't do event.preventDefault() or return false
                // We actually need this to be a typical hyperlink
            });
        });
    </script>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
