
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<ol class="breadcrumb">
  <li><a href="./#/activacion/">Activación/Desactivación</a></li>
  <li class="active">Indicadores Activación/Desactivación</li>
</ol>

    <div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Indicadores Activación/Desactivación</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)"> Activación/Desactivación</a>
        </li>
        <li ng-class="{ active: isSet(3) }">
                <a href ng-click="setTab(3)">Seguimiento/Activacion</a>
        </li>
         <li ng-class="{ active: isSet(4) }">
                <a href ng-click="setTab(4)">Seguimiento/Activacion/Siebel</a>
        </li>
    </ul>

        <div class="col-md-16">
            <div class="jumbotron">
                <div ng-show="isSet(2)">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Activación/Desactivación<small></small></h2>
                            <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br>
                        </div>
                    </div>
        <div class="row"> 
            
                  <label class=" input col-sm-3">Seleccione Fecha:</label>
                                <div class="input-daterange col-sm-7" id="datepicker">
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="fromDate" name="fromDate" ng-model="data.fechaini" />
                                        <span class="input-group-addon">Hasta</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="toDate" name="toDate" ng-model="data.fechafin"/>
                                        <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="listadoactivacion1();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
                                                <button class="btn btn-success btn-sm" ng-click="csvListadoActivacion();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>
                                       
                                                 
                                        </span>
                                    </div>
                                </div>
        </div>

            <div class="row">
                <ul class="nav nav-list">
                  <li class="divider">.</li>
                </ul>
             </div>
             <div class="row">
            <table align="center" width="100%">
            <tr>
            <td width="50%" align="left">

                Total de Registros: <b>{{data.totalItems}} </b>
            </td>
        
            <td width="50%" align="right">
				<ul  uib-pagination class="pagination-sm" total-items="data.totalItems" ng-model="data.currentPage" max-size="6" boundary-links="true" num-pages="smallnumPages" previous-text="&#8672;" next-text="&#8674;" last-text="Último" first-text="Primero" items-per-page="100" boundary-link-numbers="false" rotate="false" ng-change="pageChanged('listadoactivacion1')" class="pagination-sm">
							</ul>
            </td>
            </tr>
            </table>
            


                    <table class="table small table-striped table-hover table-bordered table-condensed">
                            <thead>
                                    <th>Cola</th>
                                    <th>Pedido</th>
                                    <th>Subpedido</th>
                                    <th>Solicitud</th>
                                    <th>Fecha_Entrada_Gestor</th>
                                    <th>Fecha_Ultimo_Gestor</th>
                                   
                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listadoactivacion| orderBy:'fecha_fin':true ">
                                    <td>{{data.COLA_ID}}</td>
                                    <td>{{data.PEDIDO_ID}}</td>
                                    <td>{{data.SUBPEDIDO_ID}}</td>
                                    <td>{{data.SOLICITUD_ID}}</td>
                                    <td>{{data.FECHA_ENTRADA_GESTOR}}</td>
                                    <td>{{data.FECHA_ULTIMA_GESTOR}}</td>
                            </tr>
                            </tbody>
                    </table>
            <ul  uib-pagination class="pagination-sm" total-items="data.totalItems" ng-model="data.currentPage" max-size="6" boundary-links="true" num-pages="smallnumPages" previous-text="&#8672;" next-text="&#8674;" last-text="Último" first-text="Primero" items-per-page="100" boundary-link-numbers="false" rotate="false" ng-change="pageChanged('listadoactivacion1')" class="pagination-sm">
							</ul>
                    </div>
                  </div>


     <div ng-show="isSet(1)">
      <div class="row" ng-controller="TabController">
        <div class="col-bg-8" ><!--Panel de pendientes -->
            <div class="panel panel-primary">
                <div class="panel-heading " >
                    <h2 class="panel-title" >Servicios Pendientes Activación / Desactivación: <font color='Cyan'>{{totalAD}}</font></h2>
                </div>
                <div class="panel-body panel-body-sm">
                    <div class="row">
                        <div class="col-sm-12" ><!--Grafica -->
                            <div align="left">
                                    <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="actualizarGraficaAD();"    ><span class="glyphicon glyphicon-refresh"></span> Actualizar
                                    </button>
                            </div>
                            <div fusioncharts
                                    align="center"
                                    width="900"
                                    height="400"
                                    type="column2d"
                                    datasource="{{myDataSourceAD}}">
                            </div><!--Fusioncharts -->
                        </div><!--Grafica -->
                    </div><!--terminacion del row grafica-->

                    <div class="row">
                        <div class="col-sm-6"><!--Acordeon con Tablas -->
                            <accordion close-others="oneAtATime"><!--Acordeones -->
                                <accordion-group><!--Fecha Cita -->
                                    <accordion-heading>
                                        Pendientes Por Cola: {{listado_colas.totales}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <table class="table small table-striped table-hover table-bordered table-condensed ">
                                        <thead>
                                                <th>Cola</th>
                                                <th>TOTAL</th>
                                                <th> 0-2h</th>
                                                <th> 3-4h</th>
                                                <th> 5-6h</th>
                                                <th> 7-12h</th>
                                                <th> 13-24h</th>
                                                <th> 25-48h</th>
                                                <th>Mas de 48h</th>

                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in listado_colas| orderBy:'fecha_fin':true ">
                                                <td>{{data.COLA_ID}}</td>
                                                <td ng-init="listado_colas.totales = parseInt(listado_colas.totales) + parseInt(data.CANTIDAD)">{{data.CANTIDAD}}</td>
                                                <td ng-init="listado_colas.total02 = parseInt(listado_colas.total02) + parseInt(data.Entre02)">{{data.Entre02}}</td>
                                                <td ng-init="listado_colas.total34 = parseInt(listado_colas.total34) + parseInt(data.Entre34)">{{data.Entre34}}</td>
                                                <td ng-init="listado_colas.total56 = parseInt(listado_colas.total56) + parseInt(data.Entre56)">{{data.Entre56}}</td>
                                                <td ng-init="listado_colas.total712 = parseInt(listado_colas.total712) + parseInt(data.Entre712)">{{data.Entre712}}</td>
                                                <td ng-init="listado_colas.total1324 = parseInt(listado_colas.total1324) + parseInt(data.Entre1324)">{{data.Entre1324}}</td>
                                                <td ng-init="listado_colas.total2548 = parseInt(listado_colas.total2548) + parseInt(data.Entre2548)">{{data.Entre2548}}</td>

                                                <td ng-init="listado_colas.totalmas48 = parseInt(listado_colas.totalmas48) + parseInt(data.Masde48)">{{data.Masde48}}</td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTALES</th>
                                                <th>{{listado_colas.totales}}</th>
                                                <th>{{listado_colas.total02}}</th>
                                                <th>{{listado_colas.total34}}</th>
                                                <th>{{listado_colas.total56}}</th>
                                                <th>{{listado_colas.total712}}</th>
                                                <th>{{listado_colas.total1324}}</th>
                                                <th>{{listado_colas.total2548}}</th>
                                                <th>{{listado_colas.totalmas48}}</th>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </accordion-group><!--Pendientes Cola -->
                            </accordion><!--Acordeones -->
                        </div>

                        <div class="col-sm-6">
                            <accordion close-others="oneAtATime"><!--Acordeones -->
                                <accordion-group><!--Fecha Cita -->
                                    <accordion-heading>
                                        Pendientes Por Concepto: {{listado_conceptos.totales}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <table class="table small table-striped table-hover table-bordered table-condensed ">
                                        <thead>
                                            <th>Cola</th>
                                            <th>TOTAL</th>
                                            <th> 0-2h</th>
                                            <th> 3-4h</th>
                                            <th> 5-6h</th>
                                            <th> 7-12h</th>
                                            <th> 13-24h</th>
                                            <th> 25-48h</th>
                                            <th>Mas de 48h</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in listado_conceptos| orderBy:'fecha_fin':true ">
                                                <td>{{data.CONCEPTO_ID}}</td>
                                                <td ng-init="listado_conceptos.totales = parseInt(listado_conceptos.totales) + parseInt(data.CANTIDAD)">{{data.CANTIDAD}}</td>
                                                <td ng-init="listado_conceptos.total02 = parseInt(listado_conceptos.total02) + parseInt(data.Entre02)">{{data.Entre02}}</td>
                                                <td ng-init="listado_conceptos.total34 = parseInt(listado_conceptos.total34) + parseInt(data.Entre34)">{{data.Entre34}}</td>
                                                <td ng-init="listado_conceptos.total56 = parseInt(listado_conceptos.total56) + parseInt(data.Entre56)">{{data.Entre56}}</td>
                                                <td ng-init="listado_conceptos.total712 = parseInt(listado_conceptos.total712) + parseInt(data.Entre712)">{{data.Entre712}}</td>
                                                <td ng-init="listado_conceptos.total1324 = parseInt(listado_conceptos.total1324) + parseInt(data.Entre1324)">{{data.Entre1324}}</td>
                                                <td ng-init="listado_conceptos.total2548 = parseInt(listado_conceptos.total2548) + parseInt(data.Entre2548)">{{data.Entre2548}}</td>
                                                <td ng-init="listado_conceptos.totalmas48 = parseInt(listado_conceptos.totalmas48) + parseInt(data.Masde48)">{{data.Masde48}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>TOTALES</th>
                                                <th>{{listado_conceptos.totales}}</th>
                                                <th>{{listado_conceptos.total02}}</th>
                                                <th>{{listado_conceptos.total34}}</th>
                                                <th>{{listado_conceptos.total56}}</th>
                                                <th>{{listado_conceptos.total712}}</th>
                                                <th>{{listado_conceptos.total1324}}</th>
                                                <th>{{listado_conceptos.total2548}}</th>
                                                <th>{{listado_conceptos.totalmas48}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </accordion-group><!--Fecha Cita -->
                            </accordion><!--Acordeones -->
                        </div><!--Acordeon con Tablas -->
                    </div><!-- terminacion del row de las tablas-->
                </div>

                <div class="panel-footer">
                    <div class="col-sm-6" align="left">
                        <span style="vertical-align: middle;">Última Actualización: <font color='blue'>{{lastUpdate}}</font></span>
                    </div>
                    <div  align="right">
                        <button class="btn btn-success btn-sm" ng-click="csvActivacion();"  ng-class="{'disabled': tbl_fechacita.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar Pendientes</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

         <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
 <div ng-show="isSet(4)">
      <div class="row" ng-controller="TabController">
        <div class="col-bg-8" ><!--Panel de pendientes -->
            <div class="panel panel-primary">
                <div class="panel-heading " >
                    <h2 class="panel-title" >Pendientes Activación / Siebel(DOM): <font color='Cyan'>{{totalAD}}</font></h2>
                    <h2 class="panel-title" >Pendientes Activación / Siebel(INVDOM): <font color='Cyan'>{{data.totalItems2}}</font></h2>
                </div>
                <div class="panel-body panel-body-sm">
                    <div class="row">
                        <div class="col-sm-12" ><!--Grafica -->
                            <div align="left">
                                    <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="actualizarGraficaADS ();" ><span class="glyphicon glyphicon-refresh"></span> Actualizar
                                    </button>
                            </div>
                            <div fusioncharts
                                    align="center" 
                                    width="900"
                                    height="400"
                                    type="column2d"
                                    datasource="{{myDataSourceAD}}">
                            </div><!--Fusioncharts -->
                        </div><!--Grafica -->
                    </div><!--terminacion del row grafica-->


                </div>
                 
                <div class="panel-footer">
                    <div class="col-sm-6" align="left">
                        <span style="vertical-align: middle;">Última Actualización: <font color='blue'>{{lastUpdate}}</font></span> 
                    </div>
                    <div  align="right">
                        <button class="btn btn-success btn-sm" ng-click="csvActivacionSiebel();"  ng-class="{'disabled': tbl_fechacita.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar Pendientes activador suspecore </button>
                        <button class="btn btn-success btn-sm" ng-click="csvActivacionSiebelinvdom();"  ng-class="{'disabled': tbl_fechacita.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar Pendientes gtc  suspecore </button>
                         <button class="btn btn-success btn-sm" ng-click="csvActivacionSiebelinvdom();"  ng-class="{'disabled': tbl_fechacita.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar Pendientes gtc </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    
         <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div ng-show="isSet(3)">
      <div class="row" ng-controller="TabController">
        <div class="col-bg-8" ><!--Panel de pendientes -->
            <div class="panel panel-primary">
                <div class="panel-heading " >
                    <h2 class="panel-title" >Servicios Pedidos Cumplidos / Activacion: <font color='Cyan'>{{data.totalItems}}</font></h2>
                </div>
                <div class="panel-body panel-body-sm">
                    <div class="row">
                        <div class="col-sm-12" ><!--Grafica -->
                            <div align="left">
                                 <label class=" input col-sm-3">Seleccione Fecha:</label>
                                <div class="input-daterange col-sm-7" id="datepicker">
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="fromDate" name="fromDate" ng-model="data.fechaini" />
                                        <span class="input-group-addon">Hasta</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="toDate" name="toDate" ng-model="data.fechafin"/>
                                        <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="listadoactivacion1();actualizarseguimientoGraficaAD();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
                                              
                                       
                                                 
                                        </span>
                                    </div>
                                </div>
                                   
                            </div>
                         <div fusioncharts
                            align="center"
                            width="900"
                            height="400"
                            type="column2d"
                            datasource="{{myDataSourceAD}}">
                        </div><!--Fusioncharts -->
                        </div><!--Grafica -->
                    </div><!--terminacion del row grafica-->
                     <div class="row"> 
            
            

                  
                 
                <div class="panel-footer">
                    <div class="col-sm-6" align="left">
                        <span style="vertical-align: middle;">Última Actualización: <font color='blue'>{{lastUpdate}}</font></span> 
                    </div>

                    <div  align="right">
                         <button class="btn btn-success btn-sm" ng-click="csvListadoActivacionnuevos();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar Nuevos</button>
                        <button class="btn btn-success btn-sm" ng-click="csvListadoActivacion();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span> Exportar Seguimiento</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    
         <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<script type='text/javascript'>
        $(document).ready(function () {
            function exportTableToCSV($table, filename) {
                var $headers = $table.find('tr:has(th)')
                    ,$rows = $table.find('tr:has(td)')
                    // Temporary delimiter characters unlikely to be typed by keyboard
                    // This is to avoid accidentally splitting the actual contents
                    ,tmpColDelim = String.fromCharCode(11) // vertical tab character
                    ,tmpRowDelim = String.fromCharCode(0) // null character
                    // actual delimiter characters for CSV format
                    ,colDelim = '","'
                    ,rowDelim = '"\r\n"';
                    // Grab text from table into CSV formatted string
                    var csv = '"';
                    csv += formatRows($headers.map(grabRow));
                    csv += rowDelim;
                    csv += formatRows($rows.map(grabRow)) + '"';
                    // Data URI
                    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
                $(this)
                    .attr({
                    'download': filename
                        ,'href': csvData
                        //,'target' : '_blank' //if you want it to open in a new window
                });
                //------------------------------------------------------------
                // Helper Functions 
                //------------------------------------------------------------
                // Format the output so it has the appropriate delimiters
                function formatRows(rows){
                    return rows.get().join(tmpRowDelim)
                        .split(tmpRowDelim).join(rowDelim)
                        .split(tmpColDelim).join(colDelim);
                }
                // Grab and format a row from the table
                function grabRow(i,row){
                     
                    var $row = $(row);
                    //for some reason $cols = $row.find('td') || $row.find('th') won't work...
                    var $cols = $row.find('td'); 
                    if(!$cols.length) $cols = $row.find('th');  
                    return $cols.map(grabCol)
                                .get().join(tmpColDelim);
                }
                // Grab and format a column from the table 
                function grabCol(j,col){
                    var $col = $(col),
                        $text = $col.text();
            $text=$text.replace('MALO','');
                    return $text.replace('"', '""'); // escape double quotes
                }
            }
            // This must be a hyperlink
            $("#export").click(function (event) {
                // var outputFile = 'export'
                var outputFile = window.prompt("Escriba el nombre del archivo") || 'export';
                outputFile = outputFile.replace('.csv','') + '.csv'
                 
                // CSV
                exportTableToCSV.apply(this, [$('#dvData>table'), outputFile]);
                
                // IF CSV, don't do event.preventDefault() or return false
                // We actually need this to be a typical hyperlink
            });
        });
    </script>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head--> 
<script>            
$(document).ready(function(){
    
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });
    
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
    
});
</script>
<!-- Flecha Arriba Estilo, dentro del head--> 

