<ol class="breadcrumb">
  <li><a href="./#/">Actividades</a></li>

</ol>
<div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Formas Actividades</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)">Datos Actividades</a>
        </li>

    </ul>

        <div class="col-md-16">
        <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Registros <small> Actividades</small></h2>
                            <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br>
                        </div>
                    </div>



			<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>
                    <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="33%" align="left">

				Total de Registros: <b>{{data.totalItems1}} </b>
			</td>
			<td width="33%" align="center">
				<a class="btn btn-block btn-primary" ng-click="nuevoRegistroActivadades();"><span class="glyphicon glyphicon-thumbs-up"></span> Añadir</a>
                        </td>

			<td width="33%" align="right">
				<pagination total-items="data.totalItems1" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>
                                    <th width="7%">Fecha</th>
                                    <th width="15%">Tipo Trabajo</th>
                                    <th width="10%">Aplicacion/Actividad</th>
                                    <th width="8%">Cola</th>
                                    <th width="17%">Usuario</th>
                                    <th width="17%">Observaciones</th>
                                    <th width="17%">Editar</th>

                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transaccionesActividades| orderBy:'FECHA_FIN':true ">
                                    <td>{{data.FECHA}}</td>
                                    <td>{{data.TIPO_TRABAJO}}</td>
                                    <td>{{data.APLICACION_ACTIVIDADES}}</td>
                                    <td>{{data.COLA}}</td>
                                    <td>{{data.USUARIO}}</td>
                                    <td>{{data.OBSERVACIONES}}</td>
                                    <td align="center"><button class="btn btn-success btn-xs" value="edit!" ng-click="getTransaccionActividades(data.ID);"><i class="fa fa-pencil-square-o"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>
                  </div>


                <div ng-show="isSet(2)">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Historico <small> Actividades</small></h2>
                            <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br>
                        </div>
                    </div>
		          <div class="row">
			         <label class=" input col-sm-3">Seleccione Fecha:</label>
                                <div class="input-daterange col-sm-7" id="datepicker">
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="fromDate" name="fromDate" ng-model="data.fechaIni" />
                                        <span class="input-group-addon">Hasta</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="toDate" name="toDate" ng-model="data.fechaFin" />
                                        <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="pageChanged();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
                                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvactividades();"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>
                                        </span>
                                    </div>
                                </div>
		</div>


         <form class="form-inline" role="form">

              <div class="form-group btn-group">


                <input type="text" size="13px" class="form-control btn-group btn btn-md btn-default" onClick="this.setSelectionRange(0, this.value.length)" title="Escriba usuario a Buscar" data-toggle="tooltip" data-placement="top" placeholder="Buscador de usuarios" ng-model="usuario">
                <button type="button" class="form-control btn btn-md btn-primary"  title="Buscar usuario" data-toggle="tooltip" data-placement="top" ng-click="buscarDatos(usuario);"><i class="fa fa-search" aria-hidden="true"></i></button>




                </div>
             </form>



			<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>
                    <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="33%" align="left">

				Total de Registros: <b>{{data.totalItems}} </b>
			</td>

			<td width="33%" align="right">
				<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>

                                    <th width="10%">Fecha</th>
                                    <th width="15%">Tipo Trabajo</th>
                                    <th width="10%">Aplicacion/Actividad</th>
                                    <th width="8%">Cola</th>
                                    <th width="17%">Usuario</th>
                                    <th width="17%">Observaciones</th>

                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transaccionesActividades1| orderBy:'FECHA_FIN':true ">


                                    <td>{{data.FECHA}}</td>
                                    <td>{{data.TIPO_TRABAJO}}</td>
                                    <td>{{data.APLICACION_ACTIVIDADES}}</td>
                                    <td>{{data.COLA}}</td>
                                    <td>{{data.USUARIO}}</td>
                                    <td>{{data.OBSERVACIONES}}</td>

                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>



                  </div>
            </div>
        </div>
    </div>
    </div>
<br>

<ol class="breadcrumb">
  <li><a href=".#/dashboard">Home</a></li>
  <li class="active">{{title}}</li>
</ol>
<!-- Modal Ingreso de Novedades-->
<div id="myModal"  class="modal fade "  role="dialog">
  	<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Novedad para el usuario: <span class="label label-info">{{usuarioNovedadTitulo}}</span></h4>
      </div>
      <div class="modal-body" >


			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class = "panel panel-default">
							<div class = "panel-heading navbar-collapsep navbar-default " >
								<ul class="nav navbar-nav ">
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>1</b></span>
										Seleccione usuario
										&nbsp;
									</li>
									<li>

										<span  class="btn btn-primary btn-circle-xs"><b>2</b></span>
										Seleccione la Fecha
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>3</b></span>
										Ingrese Cantidad
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>4</b></span>
										Tipo de Reporte
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>5</b></span>
										Observaciones
										&nbsp;
									</li>
								</ul>
							</div>

							<div class = "panel-heading nav navbar-default" ng-repeat="novedad in novedades track by $index">

								<ul class="nav navbar-nav navbar-left" >

									<li>
										<i class="fa fa-user fa-fw"></i>
										<select   class="select2-dropdown grupo-select" style="width: 150px;" select2="" ng-model="novedad.usuarioNovedad" ng-options="c.CEDULA_ID as c.USUARIO_ID group by c.GRUPO for c in  listaUsuarios">
										  <option value="">Seleccione Usuario</option>
									  	</select>



									</li>
									<li>
									  	<i class="fa fa-calendar fa-fw"></i>
										<input style="width:80px" class="btn btn-default btn-xs" type="text" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" ng-model="novedad.fechaNovedad" placeholder="Fecha Inicial" />
									</li>
									<li>
										<i class="fa fa-usd fa-fw"></i>
										<input type="number" step="any" style="width:60px" class="btn btn-default btn-xs" type="text" ng-model="novedad.cantidadNovedad"  required/>
										<i class="fa fa-cog fa-fw"></i>

									</li>
									<li>
										<select   class="select2-dropdown grupo-select" style="width: 150px;" select2="" ng-model="novedad.tipoNovedad" ng-options="c.tipo as c.tipo for c in  listaTipoNov"  required>
										<option value="">Seleccione Tipo</option>
										</select>
										&nbsp;
									</li>
									<li>
										<i class="fa fa-comment" aria-hidden="true"></i>
										<input style="width:120px" class="btn btn-default btn-xs" type="text"  ng-model="novedad.observaciones" capitalize />
										&nbsp;
									</li>
									<li>
										<select   class="btn btn-default btn-xs grupo-select" style="width: 80px;"  ng-model="novedad.tipoReporte" required>
											<option value="NORMAL">NORMAL</option>
											<option value="AJUSTE">AJUSTE</option>
										</select>
									</li>


								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li>
										<button type="button" class="btn btn-warning btn-circle-xs pull-left" ng-click="removeNuevaNovedad()" ng-show="$last">
										<i class="fa fa-minus"  aria-hidden="true"></i>
										</button>&nbsp;
									</li>


									<li>
										<button type="button" class="btn btn-warning btn-circle-xs pull-right" ng-show="$last" ng-click="addNuevaNovedad(novedad.usuarioNovedad)">
										<i class="fa fa-plus"  aria-hidden="true"></i>
										</button>

									</li>
								</ul>

							</div><!-- Panel heading NG-REPEAT -->

							<div class="panel-footer">

							<button type="button" class="btn btn-default btn-xs">Novedades a guardar: <span class="badge">{{novedades.length}}</span></button>

							</div>

						</div>
					</div>
				</div>
			</div>

      </div>

      <div class="modal-footer">


      	<button type="button" class="btn btn-success" ng-click="guardarNovedad(novedades)" data-dismiss="modal"  >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  	</div>

</div>


<!-- Modal Edicion de novedades-->
<div id="editarModal"  class="modal fade "  role="dialog">
  	<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Novedad con el ID: <span class="label label-info">{{idNovedad}}</span></h4>
      </div>
      <div class="modal-body" >


			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class = "panel panel-default">
							<div class = "panel-heading navbar-collapsep navbar-default " >
								<ul class="nav navbar-nav ">
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>1</b></span>
										Usuario
										&nbsp;
									</li>
									<li>

										<span  class="btn btn-primary btn-circle-xs"><b>2</b></span>
										Cédula
										&nbsp;
									</li>
									<li>

										<span  class="btn btn-primary btn-circle-xs"><b>3</b></span>
										Fecha
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>4</b></span>
										Cantidad
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>5</b></span>
										Tipo de Novedad
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>6</b></span>
										Observaciones
										&nbsp;
									</li>
									<li>
										<span class="btn btn-primary btn-circle-xs"><b>6</b></span>
										Tipo de Reporte
										&nbsp;
									</li>
								</ul>
							</div>

							<div class = "panel-heading nav navbar-default">

								<ul class="nav navbar-nav navbar-left" >

									<li>
										<i class="fa fa-user fa-fw"></i>
									  	<input style="width:80px" class="btn btn-default btn-xs" type="text"  ng-model="editaInfo.USUARIO_ID" disabled/>

									</li>
									<li>
										<i class="fa fa-user fa-fw"></i>
									  	<input style="width:80px" class="btn btn-default btn-xs" type="text"  ng-model="editaInfo.CEDULA_ID" disabled/>

									</li>
									<li>
									  	<i class="fa fa-calendar fa-fw"></i>
										<input style="width:80px" class="btn btn-default btn-xs" type="text" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" ng-model="editaInfo.FECHA_REPORTE"/>
									</li>
									<li>
										<i class="fa fa-usd fa-fw"></i>
										<input type="text" style="width:60px" class="btn btn-default btn-xs"  ng-model="editaInfo.CANTIDAD_NOVEDADES"  required/>
										<i class="fa fa-cog fa-fw"></i>

									</li>
									<li>
										<select   class="select2-dropdown grupo-select" style="width: 150px;" select2="" ng-model="editaInfo.TIPO_NOVEDAD" ng-options="c.tipo as c.tipo for c in  listaTipoNov" ng-disabled="disabled" required>
										<option value="">Seleccione Tipo</option>
										</select>
										&nbsp;
									</li>
									<li>
										<i class="fa fa-comment" aria-hidden="true"></i>
										<input style="width:120px" class="btn btn-default btn-xs" type="text"  ng-model="editaInfo.OBSERVACIONES"  />
										&nbsp;
									</li>
									<li>
										<select   class="btn btn-default btn-xs grupo-select" style="width: 80px;"  ng-model="editaInfo.TIPO_REPORTE" ng-options="p for p in ['NORMAL','AJUSTE']" required>

										</select>
									</li>


								</ul>


							</div><!-- Panel heading NG-REPEAT -->

							<div class="panel-footer">



							</div>

						</div>
					</div>
				</div>
			</div>

      </div>

      <div class="modal-footer">


      	<button type="button" class="btn btn-success" ng-click="editarNovedad(editaInfo)" data-dismiss="modal"  >Editar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  	</div>

</div>

<!-- Modal Eliminar Novedad-->
<div id="eliminaNovedad" class="modal fade "  role="dialog">
  	<div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar Novedad: <span class="label label-info">{{idNovedad}}</span></h4>
      </div>
      <div class="modal-body" >


			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						Esta seguro que quiere elminiar este registro?
					</div>
				</div>

			</div>

      </div>

      <div class="modal-footer">


      	<button type="button" class="btn btn-success" ng-click="borrarNovedad(idNovedad)" data-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  	</div>

</div>



<div class="container">
  <br>
  <br>
  <br>
  <br>
</div>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     //todayBtn: "linked",
     autoclose: true
 });
</script>



<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script type='text/javascript'>
        $(document).ready(function () {
            function exportTableToCSV($table, filename) {
                var $headers = $table.find('tr:has(th)')
                    ,$rows = $table.find('tr:has(td)')
                    // Temporary delimiter characters unlikely to be typed by keyboard
                    // This is to avoid accidentally splitting the actual contents
                    ,tmpColDelim = String.fromCharCode(11) // vertical tab character
                    ,tmpRowDelim = String.fromCharCode(0) // null character
                    // actual delimiter characters for CSV format
                    ,colDelim = '","'
                    ,rowDelim = '"\r\n"';
                    // Grab text from table into CSV formatted string
                    var csv = '"';
                    csv += formatRows($headers.map(grabRow));
                    csv += rowDelim;
                    csv += formatRows($rows.map(grabRow)) + '"';
                    // Data URI
                    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
                $(this)
                    .attr({
                    'download': filename
                        ,'href': csvData
                        //,'target' : '_blank' //if you want it to open in a new window
                });
                //------------------------------------------------------------
                // Helper Functions
                //------------------------------------------------------------
                // Format the output so it has the appropriate delimiters
                function formatRows(rows){
                    return rows.get().join(tmpRowDelim)
                        .split(tmpRowDelim).join(rowDelim)
                        .split(tmpColDelim).join(colDelim);
                }
                // Grab and format a row from the table
                function grabRow(i,row){

                    var $row = $(row);
                    //for some reason $cols = $row.find('td') || $row.find('th') won't work...
                    var $cols = $row.find('td');
                    if(!$cols.length) $cols = $row.find('th');
                    return $cols.map(grabCol)
                                .get().join(tmpColDelim);
                }
                // Grab and format a column from the table
                function grabCol(j,col){
                    var $col = $(col),
                        $text = $col.text();
            $text=$text.replace('MALO','');
                    return $text.replace('"', '""'); // escape double quotes
                }
            }
            // This must be a hyperlink
            $("#export").click(function (event) {
                // var outputFile = 'export'
                var outputFile = window.prompt("Escriba el nombre del archivo") || 'export';
                outputFile = outputFile.replace('.csv','') + '.csv'

                // CSV
                exportTableToCSV.apply(this, [$('#dvData>table'), outputFile]);

                // IF CSV, don't do event.preventDefault() or return false
                // We actually need this to be a typical hyperlink
            });
        });
    </script>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
