<script>
    if (window.opener) {
        document.getElementById('headerazo').style.display = 'none';
        document.getElementById('footerazo').style.display = 'none';
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b><i class="fa fa-bars" aria-hidden="true"></i> Buscador Red de Cobre</b>
                <span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle" aria-hidden="true"
                                                              ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
                <div class="pull-right">
                    <div class="col-md-1 col-xs-1 ">
                        <div data-ng-if="loading">
                            <img title="Esperando respuesta" tooltip data-placement="top" src="images/loader.gif"
                                 height="16" width="16"/>
                        </div>
                    </div>

                    <input type="text" class="btn btn-default btn-xs" placeholder="Distancia"
                           ng-model="distancia">
                    <button type="button" uib-tooltip="Calcular" tooltip-placement="left"
                            class="btn btn-primary btn-circle-xss"
                            data-ng-click="demeCapacidad(distancia)">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    </button>


                </div>
            </div>
            <div class="panel-body fixed-panel">


            </div>
            <div class="panel-footer clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div><!--Row 1 Novedades -->


<script language='javascript'>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>