<script>
    if (window.opener) {
        document.getElementById('headerazo').style.display = 'none';
        document.getElementById('footerazo').style.display = 'none';
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b><i class="fa fa-bars" aria-hidden="true"></i> Buscador Red de Cobre</b>
                <span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle" aria-hidden="true"
                                                              ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
                <div class="text-center">
                    <div class="col-md-1 col-xs-1 ">
                        <div data-ng-if="loading">
                            <img title="Esperando respuesta" tooltip data-placement="top" src="images/loader.gif"
                                 height="16" width="16"/>
                        </div>
                    </div>

                    <input type="text" class="btn btn-default btn-xs" placeholder="Distancia"
                           ng-model="distancia">
                    <button type="button" uib-tooltip="Calcular" tooltip-placement="top"
                            class="btn btn-primary btn-circle-xss"
                            data-ng-click="demeCapacidad(distancia)">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    </button>
                    <input type="text" class="btn btn-default btn-xs" placeholder="Armario"
                           ng-model="armario">
                    <button type="button" uib-tooltip="Buscar" tooltip-placement="top"
                            class="btn btn-primary btn-circle-xss"
                            data-ng-click="buscarCapacidadCobre(armario)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>


                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                </div>
                <div class="row text-center" ng-show="capacidad">
                    <h3>Capacidad: <span style="color:red"><strong>{{capacidad}} Mb.</strong></span></h3>
                </div>
                <div class="row text-center" ng-show="resultado">

                    <table class="table small table-striped table-hover table-bordered table-condensed">
                        <thead>
                        <th ng-repeat="key in getKeysOfCollection(resultado[0])"><span class="small"><span class="small">{{key}}
                            <input class="buscador" placeholder="&#xf0b0; Filtro" type="text" ng-model="search[key]"/>
                        </span></span></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in resultado | filter:search">
                            <td>{{data.ARMARIO_ID}}</td>
                            <td>{{data.CAJA_ID}}</td>
                            <td>{{data.NODOS}}</td>
                            <td>{{data.ADIN_PRI}}</td>
                            <td>{{data.ADIN_SEC}}</td>
                            <td>{{data.DISTANCIA_CAJA}} Mt</td>
                            <td>{{data.DISTANCIA_ARMARIO}} Mt</td>
                            <td>{{data.DISTANCIA_SECUNDARIA}} <span ng-show="data.DISTANCIA_SECUNDARIA!=NULL">Mt</span>
                            </td>
                            <td>{{data.DISTANCIA_TOTAL}} Mt</td>
                            <td><span class="btn-success">{{data.VELOCIDAD_SPORTADA}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="panel-footer clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div><!--Row 1 Novedades -->


<script language='javascript'>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>