<ol class="breadcrumb">
  <li><a href="./#/">cargar_datos22</a></li>
  <li class="active">Agendamiento</li>
</ol>
<div class="row">
  	<div class="panel panel-primary">
   		<div class="panel-heading">
            <h2 class="panel-title">
                Cargar Archivo  / Agendamiento
                <font color="Cyan" class="ng-binding"></font>
            </h2>
 		</div>
<div class="dropdown" ng-show="logedUser.CARGO_ID<='4'">
    <div class="panel-body">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Selecione el Archivo a Cargar</h4>
                <div ng-show="uploader.isHTML5">
                    <div nv-file-drop="" uploader="uploader">
                        <div nv-file-over="" uploader="uploader"
                            over-class="another-file-over-class" class="well my-drop-zone">
                           <center> Arrastre el archivo a cargar</center>
                        </div>
                    </div>
                </div>
            <div class="fileUpload btn btn-primary">
                <span class="glyphicon glyphicon-upload"></span> Seleccionar Archivo
                <input type="file" class="upload" nv-file-select="" file-model = "myFile" uploader="uploader" />
            </div>
            </div>

            <div class="col-md-9" style="margin-bottom: 40px" ng-show="uploader.getNotUploadedItems().length">
                <h4>Archivo Seleccionado</h4>
                <!--<p>Total de archivos a cargar: {{ uploader.queue.length }}</p>-->
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Nombre</th>
                            <th ng-show="uploader.isHTML5">Tamaño</th>
                            <th ng-show="uploader.isHTML5">Progreso</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>
                            {{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok">
                                </i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon
                                glyphicon-ban-circle"></i></span>
                              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove">
                                </i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                 ng-click="item.upload()" ng-disabled="item.isReady ||
                                 item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Cargar
                                </button>
                                <button type="button" class="btn btn-warning btn-xs"
                                 ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                 ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div>
                  <!--   <div>
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>-->
                    <button type="button" class="btn btn-success btn-s"
                       ng-click="uploader.uploadAll()"
                       ng-show="uploader.getNotUploadedItems().length" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Cargar Todo
                    </button>
                    <button type="button" class="btn btn-warning btn-s"
                     ng-click="uploader.cancelAll()" ng-show="uploader.isUploading" ng-disabled="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar Todo
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                    ng-click="uploader.clearQueue()" ng-show="uploader.queue.length" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar Todo
                    </button>
                </div>
          </div>
     </div>
</div>
</div>
</div>
  <div class="row">
  <div class="container">
<h2 class="page-header"><i class="fa fa-files-o" aria-hidden="true"></i> Archivos  <small>Cargados</small></h2>
          <div id="dvData">
               <div ng-show="error" class="alert alert-danger "><!--Muestra error cuando no hay pedidos -->
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{error}}
              </div><!--Muestra error cuando no hay pedidos -->
                        <table class="table small table-striped table-hover table-bordered table-condensed">
                        <thead>
                        <th>Archivo</th>
                        <th>Tamaño</th>
                        <th>Fecha Actualización</th>
                        <th>Acción</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in listadodocu1" >
                                <td>{{data.nombre}}</td>
                                <td>{{data.size}}</td>
                                <td>{{data.fecha}}</td>
                                <td><a href="../uploads/"{{data.nombre}}" download>
                                <button class="btn btn-danger btn-sm" value="eliminar" ng-show="logedUser.CARGO_ID<='4'" ng-click="eliminarfi(data.nombre)" popover data-trigger="hover" data-placement="top" data-html="true" data-selector="" data-content="Eliminar Archivo"><span class="glyphicon glyphicon-trash"></span></button>
                              </td>
                            </tr>
                        </tbody>
                        </table>
                </div>
    </div>
    </div>

		<div class="panel-footer ">
        </div>
 </div>
</div>
</div>
<div id="warning" ng-model="warnin"></div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
</div>

<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
