<ol class="breadcrumb">
  <li><a href="./#/">Asignaciones</a></li>
  <li class="active">CR</li>
</ol>
<div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Formas CR</a>
        </li>
    </ul>

        <div class="col-md-16">
            <div class="jumbotron">
                <div ng-show="isSet(1)">

                <div class="col-lg-8">
                    <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i>Historico CR Pendientes<small> </small></h2>
                            <!-- INICIO REGISTRO INCIDENTE -->
                </div>

                    <div class="col-lg-4">
                        <h2 class="page-header">
							<a class="btn btn-block btn-primary " ng-click="nuevoRegistroNCA();"><span class="glyphicon glyphicon-plus-sign"></span> Nueva Transaccion</a>
				        </h2>
                    </div>

                    </div>

                    <div class="row"><hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br>
                    </div>


                    <div class="row">
                        <ul class="nav nav-list">
                          <li class="divider">.</li>
                        </ul>
                     </div>

                    <div class="row">

                        <table align="center" width="100%">

                            <tr>

                                <div class="row">

                                    <div class="input-daterange col-lg-5" id="datepicker">

                                        <div class="input-group">

                                            <span class="input-group-addon">Desde</span>

                                            <input type="text" class="form-control" style="min-width: 100px" id="fromDate" name="fromDate" ng-model="data.fechaIni" />

                                            <span class="input-group-addon">Hasta</span>

                                            <input type="text" class="form-control" style="min-width: 100px" id="toDate" name="toDate" ng-model="data.fechaFin" />

                                            <span class="input-group-btn">

                                                <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="pageChanged();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>

                                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvCR();"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>

                                            </span>


                                        </div>

                                    </div>

                                </div>

                            <br>
                            <div class="col-lg-5" id="Incidente" >

                                <input type="text" class="form-control" placeholder="Incidente a Buscar" ng-model="bregistro">

                                <button class="btn btn-success btn-sm" ng-model="transac.INCIDENTE" ng-click="buscarRegistroCR(bregistro);" ><span class="fa fa-search"></span> Buscar</button>

                            </div>

                            <br>

                            <td width="33%" align="left">
                                <br>
                                CR Abiertos: <b>{{data.totalItems}} </b>
                            </td>

           <!-- <td width="33%" align="left">
				CR Finalizados: <b>{{data.totalItems}} </b>
			</td>-->

			                 <td width="33%" align="center">

                             </td>

                            <td width="33%" align="right">
                                <pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                            </td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>

                                    <th width="7%"><font color="blue">SISTEMA</font></th>
                                    <th width="9%"><font color="blue">TIPO INCIDENTE</font></th>
                                    <th width="9%"><font color="blue">INCIDENTE</font></th>
                                    <th width="7%"><font color="blue">ESTADO</font></th>
                                    <th width="6%"><font color="blue">ANS</font></th>
                                    <th width="12%"><font color="blue">FECHA DE SOLICITUD</font></th>
                                    <th width="12%"><font color="blue">FECHA DE CIERRE</font></th>
                                    <th width="9%"><font color="blue">OBSERVACIONES</font></th>
                                    <th width="9%"><font color="blue">USUARIO</font></th>
                                    <th width="14%"><font color="blue">ACCIONES</font></th>



                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transacciones">

                                    <td>{{data.SISTEMA}}</td>
                                    <td>{{data.TIPO_INCIDENTE}}</td>
                                    <td>{{data.INCIDENTE}}</td>
                                    <td>{{data.ESTADO}}</td>
                                    <td><font color='red'>{{data.ANS}}</font></td>
                                    <td>{{data.FECHA_SOLICITUD}}</td>
                                    <td>{{data.FECHA_CIERRE}}</td>
                                    <td>{{data.OBSERVACIONES}}</td>
                                    <td>{{data.USUARIO}}</td>
                                    <td align="center">


                                                             <!--<span class="input-group-addon">CERRAR INCIDENTE</span>-->
                                        <div class="form-group btn-group">

                                                            <input type="text" class="form-control" style="min-width: 10px" id="fromDate" name="fromDate" placeholder="Fecha Cierre" ng-model="FECHA_CIERRE" datetime-picker date-format="yyyy-MM-dd H:mm:00"/>

                                        </div>
                                        <div id="edi{{$index}}">
                                        <button class="btn btn-success btn-xs" onclick=location.reload() value="edit!" ng-click="editTransaccionActividadescr($index, data.ID, data.INCIDENTE, data.ESTADO, FECHA_CIERRE);"><i class="fa fa-pencil fa-lg"></i></button>
                                      </div>



                                    </td>


                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>
                  </div>
            </div>
        </div>
<br>
<div class="pull-right"><!--Flecha Arriba -->
    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-2x" data-toggle="tooltip" title="Volver arriba" data-placement="right"></i></a>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
