<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> DemePedido Activacion</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="col-md-1 col-xs-1 ">
								<div data-ng-if="loading">
									<img alt="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class = "panel-heading nav navbar-default">

					<div class="col-lg-12 col-xs-10">
						<ul class="nav navbar-nav navbar-left">

							<li>
								<i class="fa fa-server  " aria-hidden="true"> </i>&nbsp;
                                <select class="btn btn-default btn-xs grupo-select"
                                        style="width: 200px"
                                        ng-model="iconcepto"
                                        ng-options="d.TRANSACCION+' | '+d.FUENTE group by d.GRUPO for d in listadoTransacciones | filter:{ESTADO: '1',} track by d.ID "
                                        ng-change="GenerarOpcionesGestion()">
                                    <option value="" disabled>--Seleccione Transacciones--</option>
                                </select>
                                      <select
                                    class= "btn btn-default btn-xs grupo-select"
                                    style="width: 200px"
                                    >
                                    <option value="" disabled>ingrese transaccion</option>
                                    <option ng-repeat="d in transaccionActivacion " value="{{d.TRANSACCION}}">{{d.TRANSACCION}}</option>
                                </select>

							</li>

							<li> &nbsp; </li>
							<li>
								<button type="button" id="iniciar" class="btn btn-success btn-DemePedido-xs" ng-click="start(pedido);"   ng-disabled="false">
								DemePedido
								</button>


							</li>
						</ul>
                        <ul class="nav navbar-nav navbar-right">
							<li>
								<div class="col-lg-1 col-xs-1">
									<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="images/loader.gif" /></div></div>
							 </div></li>
							<li>
								<div class="btn-group">
									<input style="width:140px"  class="btn btn-default btn-xs " type="text" ng-model="buscar" placeholder="Buscar..." ng-disabled="loading" select-on-click capitalize/>
									<button type="button" class="btn btn-success btn-xs" ng-click="buscarPedido(buscar,pedidoinfo)"   ng-disabled="loading" >
									<i class="fa fa-search-plus" aria-hidden="true"> </i>
									</button>
								</div>
							</li>
							<li> &nbsp;</li>
							<li ng-hide='true'>
								<button type="button" class="btn btn-warning btn-circle-xss"  ng-click="ProgramadosModal()" data-toggle="modal" data-target="#PedidosProgramados" data-backdrop="static"  title="Pedidos Programados" >
								<i class="fa fa-calendar-check-o"  aria-hidden="true"> </i>
								</button>
							</li>
						</ul>

					</div>

				</div>

				<div class="panel-body fixed-panel ">
					<div class="container-fluid"  ng-show="pedidoIsActive==false">
						<div class="jumbotron animated bounceInRight ">
							<center><h3>Gestión Pendientes Activacion</h3></center>
						</div>

					</div>

					<div class="row "  ng-show="pedidoIsBuscado || pedidoIsActive ">

						<div class="col-md-8">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-tasks" aria-hidden="true"> </i> DEMEPEDIDO</b>
								</div>
								<div class="panel-body">
									<ul class="list-group" ng-repeat="service in peds  as gestion" >
										<div class="col-md-6">

											<li class="list-group-item small" ><b>PEDIDO: </b><button type="button" class="btn btn-xs btn-info" ng-click="executeCopy(service.PEDIDO)">
												{{service.PEDIDO}}
											</button> </li>

											  <li class="list-group-item small" ><b>ORDER_SEQ_ID:</b> {{service.ORDER_SEQ_ID}}  </li>
                                            <li class="list-group-item small" ><b>ESTADO:</b> {{service.ESTADO}}  </li>
                                            <li class="list-group-item small" ><b>FECHA_CREACION:</b> {{service.FECHA_CREACION}}
                                            <li class="list-group-item small" ><b>TAREA_EXCEPCION:</b> {{service.TAREA_EXCEPCION}}</li>
                                             <li class="list-group-item small" ><b>EXCEPCIONES:</b> {{service.EXCEPCIONES}}</li>


										</div>

										<div class="col-md-6">
											<li class="list-group-item small" ><b>FECHA_EXCEPCION:</b> {{service.FECHA_EXCEPCION}} </li>
                                            <li class="list-group-item small" ><b>PRODUCTOS:</b> {{service.PRODUCTOS}} </li>
                                            <li class="list-group-item small" ><b>IDSERVICIORAIZ:</b> {{service.IDSERVICIORAIZ}} </li>
                                            <li class="list-group-item small" ><b>TRANSACCION:</b> {{service.TRANSACCION}} </li>
                                            <li class="list-group-item small" ><b>CODIGO_CIUDAD:</b> {{service.CODIGO_CIUDAD}}
                                            </li>
                                             <br><span ng-show="service.HISTORICO_TIPIFICACION" class="ng-binding label label-warning">[HISTORICO_TIPIFICACION]{{service.HISTORICO_TIPIFICACION}}</span>



										</div>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-cogs" aria-hidden="true"> </i> GESTION</b>
								</div>
								<div class = "panel-heading">
									<div class="container-fluid">

										<form name="seguimiento_form" id="seguimiento_form">
											<div class="form-group small" ng-class="{ 'has-error' : seguimiento_form.estado.$pristine && seguimiento_form.estado.$invalid}">
												<label for="estado">Estado Gestión:</label>
												<select
                                                    class= "btn btn-default btn-xs grupo-select"
                                                    style="width: 200px"
                                                    ng-model="tipificacion">
                                                    <option value="" disabled> ingrese tipificacion </option>
                                                    <option ng-repeat="d in transaccionActivacion1 " value="{{d.TIPIFICACION}}">{{d.TIPIFICACION}}</option>
                                                </select>

											</div>


											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					</div><!--Panel Body -->

<div class="panel-footer clearfix" >
                    <div class="col-md-6" >
                        <!--Campos futuros en footer izquierda -->
                        <ul class="nav navbar-nav navbar-left animated bounceInRight" ng-show="pedidoIsActive" >
                            <li><span class="label label-primary" tooltip data-placement="top" title="Programación">{{fechaprogramacion || 'Sin Programación'}}</span>
                            </li>
                            <li><span class="label label-primary" tooltip data-placement="top" title="Prioridad">{{prioridadPedido || 'Normal'}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav navbar-nav" ng-class="pedidoIsGuardado==false?'animated bounceOutRight':'animated bounceInRight'" ng-show="pedidoIsGuardado==true">
                                <span class="label label-primary">Pedido Guardado</span>&nbsp;

                            </li>
                            <li>
                                <button type="button" class="btn btn-success btn-xs"  ng-click="guardar(InfoPedido,gestion,status);"><span id="mloader"></span>&nbsp; Guardar</button>
                            </li>
                            <li>&nbsp; | &nbsp;</li>
                            <li>
                                <button type="button" class="btn btn-info btn-circle-xss" ng-click="historicoModal(gestion[0].PEDIDO)" data-toggle="modal" data-target="#HistoricoPedido" data-backdrop="static"  popover data-trigger="hover" data-placement="left" data-html="true" data-content="<code>Historico</code>"   ng-disabled="!pedidoIsActive">
                                    <i class="fa fa-rss"  aria-hidden="true"> </i>
                                </button>
                            </li>
                            <li>&nbsp; | &nbsp;</li>
                            <li>
                                <button type="button" class="btn btn-info btn-circle-xss" ng-click="PedidosPorUser()" data-toggle="modal" data-target="#HistoricoPedidoUser" data-backdrop="static"  popover data-trigger="hover" data-placement="left" data-html="true" data-content="<code>Historico por {{logedUser.login}}</code>" >
                                    <i class="fa fa-user-circle"  aria-hidden="true"> </i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div><!--Panel Footer -->
            </div>

        </div>
    </div><!--Row 1 Novedades -->
</div><!--Container ppal -->
<!-- Modal Historico Pedidos-->
<div id="HistoricoPedido" class="modal fade "  role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{TituloModal}} <span class="label label-info">{{pedidoHistorico}} </span> </h4>
                <span style="color:red" ><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
            </div>
            <div class="modal-body" >
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <div class="panel-body fixed-panel" >
                            <table class = "table small table-striped table-condensed">
                                <thead>
                                <tr >
                                    <th><span class="small">ID</span></th>
                                    <th><span class="small">PEDIDO1</span></th>
                                    <th><span class="small">ORDER_SEQ_ID</span></th>
                                    <th><span class="small">FECHA_CREACION</span></th>
                                    <th><span class="small">ESTADO</span></th>
                                    <th><span class="small">USUARIO_ID</span></th>
                                    <th><span class="small">TRANSACCION</span></th>
                                    <th><span class="small">PRODUCTO</span></th>
                                    <th><span class="small">TIPIFICACION</span></th>
                                    <th><span class="small">SOURCE</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="histo in listaHistoricoPedido1" class="animated bounceInRight">
                                    <td><span class="small">{{histo.ID}}</span></td>
                                    <td><span class="small">{{histo.PEDIDO}}</span></td>
                                    <td><span class="small">{{histo.ORDER_SEQ_ID}}</span></td>
                                    <td><span class="small">{{histo.FECHA_CREACION}}</span></td>
                                    <td><span class="small">{{histo.ESTADO}}</span></td>
                                    <td><span class="small">{{histo.USUARIO_ID}}</span></td>
                                    <td><span class="small">{{histo.TRANSACCION}}</span></td>
                                    <td><span class="small">{{histo.PRODUCTO}}</span></td>
                                    <td><span class="small">{{histo.TIPIFICACION}}</span></td>
                                    <td><span class="small">{{histo.SOURCE}}</span></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- Modal Eliminar Novedad-->
<!-- Modal Historico Pedidos Por USER-->
<div id="HistoricoPedidoUser" class="modal fade "  role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{TituloModal}}</h4>
                <span style="color:red" ><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
            </div>
            <div class = "panel-heading nav navbar-default">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <select ng-model="data.campo" class="btn btn-default btn-xs grupo-select">
                                        <option value='TODO' selected="selected">TODO</option>
                                        <option value='user'>Usuario</option>
                                        <option value='fuente'>Fuente</option>
                                        <option value='concepto_final'>Concepto</option>
                                        <option value='estado'>Estado</option>
                                        <option value='pedido'>Pedido</option>
                                    </select>

                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <input style="width:150px" class="btn btn-default btn-xs" name="valorCampo" ng-model="data.valorCampo" select-on-click capitalize type="text" placeholder="Palabra">

                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <div class="input-daterange" id="datepicker">
                                        <input type="text" class="btn btn-default btn-xs"  ng-model="data.fechaIni" datetime-picker date-format="yyyy-MM-dd" date-only/><i class="fa fa-calendar fa-fw"></i>
                                        <input type="text" class="btn btn-default btn-xs" ng-model="data.fechaFin" datetime-picker date-format="yyyy-MM-dd" date-only/><i class="fa fa-calendar fa-fw"></i>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="calcularListadoReconfiguracion()"  title="Buscar" tooltip data-placement="left" ng-disabled="loading">
                                            <i class="fa fa-search"  aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="csvHistoricosReconfiguracion()"  title="Exportar" tooltip data-placement="left" ng-disabled="loading">
                                            <i class="fa fa-cloud-download"  aria-hidden="true"></i>
                                        </button>

                                    </div>
                                </li>



                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-body" >
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <div class="panel-body fixed-panel" >
                            <table class = "table small table-striped table-condensed">
                                <thead>
                                <tr >
                                    <th><span class="small">PEDIDO2</span></th>
                                    <th><span class="small">ORDER_SEQ_ID</span></th>
                                    <th><span class="small">FECHA_CREACION</span></th>
                                    <th><span class="small">ESTADO</span></th>
                                    <th><span class="small">ASESOR</span></th>
                                    <th><span class="small">TRANSACCION</span></th>
                                    <th><span class="small">PRODUCTO</span></th>
                                    <th><span class="small">ID</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pediUser in listadoactivacion1 as pedis" class="animated bounceInRight">
                                    <td><span class="small">{{pediUser.pedido}}</span></td>
                                    <td><span class="small">{{pediUser.order_seq_id}}</span></td>
                                    <td><span class="small">{{pediUser.fecha_creacion}}</span></td>
                                    <td><span class="small">{{pediUser.estado}}</span></td>
                                    <td><span class="small">{{pediUser.asesor}}</span></td>
                                    <td><span class="small">{{pediUser.transaccion}}</span></td>
                                    <td><span class="small">{{pediUser.producto}}</span></td>
                                    <td><span class="small">{{pediUser.id}}</span></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left">Transacciones: <span class="label label-success">{{pedis.length || 0}}</span></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- Modal Eliminar Novedad-->
