<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> DemePedido Activacion</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="col-md-1 col-xs-1 ">
								<div data-ng-if="loading">
									<img alt="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class = "panel-heading nav navbar-default">

					<div class="col-lg-12 col-xs-10">
						<ul class="nav navbar-nav navbar-left">
                            <li>
								<i class="fa fa-globe" aria-hidden="true"> </i>&nbsp;

								<select
									class= "btn btn-default btn-xs grupo-select"
									style="width: 200px"
									ng-model="transaccion" class="form-control" ng-change="setTransaccion(transaccion)">
									 <option value="Suspender">Suspender</option>
                                         <option value="Reanudar">Reanudar</option>

								</select>

							</li>

							<li> &nbsp; </li>
							<li>
                                 <button id="ped" type="button" class="btn btn-xs btn-default"  ng-show="pedidoIsActive" ng-class="pedidoIsActive==false?'animated bounceOutRight':'animated fadeInUp'" ng-click="executeCopy(pedidoinfo)" popover data-trigger="hover" data-placement="left" data-html="true" data-selector="" data-content="<i class='fa fa-clipboard'></i> Copiar">{{pedidoinfo}}
                                </button>
								<button type="button" id="iniciar" class="btn btn-success btn-DemePedido-xs" ng-click="start(pedido);"   ng-disabled="false">
								DemePedido
								</button>


							</li>
						</ul>
                        <ul class="nav navbar-nav navbar-right">
							<li>
								<div class="col-lg-1 col-xs-1">
									<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="images/loader.gif" /></div></div>
							 </div></li>
							<li>
								<div class="btn-group">
									<input style="width:140px"  class="btn btn-default btn-xs " type="text" ng-model="buscar" placeholder="Buscar..." ng-disabled="loading" select-on-click capitalize/>
									<button type="button" class="btn btn-success btn-xs" ng-click="buscarPedido(buscar,pedidoinfo)"   ng-disabled="loading" >
									<i class="fa fa-search-plus" aria-hidden="true"> </i>
									</button>
								</div>
							</li>
							<li> &nbsp;</li>
							<li ng-hide='true'>
								<button type="button" class="btn btn-warning btn-circle-xss"  ng-click="ProgramadosModal()" data-toggle="modal" data-target="#PedidosProgramados" data-backdrop="static"  title="Pedidos Programados" >
								<i class="fa fa-calendar-check-o"  aria-hidden="true"> </i>
								</button>
							</li>
						</ul>

					</div>

				</div>

				<div class="panel-body fixed-panel ">
					<div class="container-fluid"  ng-show="pedidoIsActive==false">
						<div class="jumbotron animated bounceInRight ">
							<center><h3>Gestión Pendientes Activacion</h3></center>
						</div>

					</div>

					<div class="row "  ng-show="pedidoIsBuscado || pedidoIsActive ">

						<div class="col-md-8">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-tasks" aria-hidden="true"> </i> DEMEPEDIDO</b>
								</div>
								<div class="panel-body">
									<ul class="list-group" ng-repeat="service in peds  as gestion" >
										<div class="col-md-6">

											<li class="list-group-item small" ><b>PEDIDO: </b><button type="button" class="btn btn-xs btn-info" ng-click="executeCopy(service.PEDIDO)">
												{{service.PEDIDO}}
											</button> </li>

											  <li class="list-group-item small" ><b>ORDER_SEQ_ID:</b> {{service.ORDER_SEQ_ID}}  </li>
                                            <li class="list-group-item small" ><b>ESTADO:</b> {{service.ESTADO}}  </li>
                                            <li class="list-group-item small" ><b>FECHA_CREACION:</b> {{service.FECHA_CREACION}}
                                            <li class="list-group-item small" ><b>TAREA_EXCEPCION:</b> {{service.TAREA_EXCEPCION}}</li>



										</div>

										<div class="col-md-6">
											<li class="list-group-item small" ><b>FECHA_EXCEPCION:</b> {{service.FECHA_EXCEPCION}} </li>
                                            <li class="list-group-item small" ><b>PRODUCTOS:</b> {{service.PRODUCTOS}} </li>
                                            <li class="list-group-item small" ><b>IDSERVICIORAIZ:</b> {{service.IDSERVICIORAIZ}} </li>
                                            <li class="list-group-item small" ><b>TRANSACCION:</b> {{service.TRANSACCION}} </li>
                                            <li class="list-group-item small" ><b>CODIGO_CIUDAD:</b> {{service.CODIGO_CIUDAD}}
                                            </li>
                                             <li class="list-group-item small" ><b>REFERENCE_NUMBER:</b> {{service.REFERENCE_NUMBER}} </li>
                                             <br><span ng-show="service.HISTORICO_TIPIFICACION" class="ng-binding label label-warning">[HISTORICO_TIPIFICACION]{{service.HISTORICO_TIPIFICACION}}</span>



										</div>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-cogs" aria-hidden="true"> </i> GESTION</b>
								</div>
								<div class = "panel-heading">
									<div class="container-fluid">

										<form name="seguimiento_form" id="seguimiento_form">
											<div class="form-group small" ng-class="{ 'has-error' : seguimiento_form.estado.$pristine && seguimiento_form.estado.$invalid}">
												<label class= "col-md-8">Accion: </label>
												<select
                                                    class= "btn btn-default btn-xs grupo-select"
                                                    style="width: 200px"
                                                    ng-model="tipificacion">
                                                    <option value="" disabled> ingrese tipificacion </option>
                                                    class= "form-control" ng-model="service.TIPIFICACION" >
                                                    <option value="REANUDAR">REANUDAR</option>
                                                    <option value="CONTINUAR">CONTINUAR</option>
                                                    <option value="FINALIZADA">FINALIZADA</option>
                                                    <option value="NUMERO_CR">NUMERO CR</option>
                                                </select>

                                             <div  ng-show="service.TIPIFICACION=='NUMERO_CR'"><br>
                                        <div class="col-md-10">
                                        <div class="input-daterange control-group" id="datepicker">
                                                <label class="control-label" for="toDate">Fecha Cita Propuesta</label><br>
                                                <div class="input-group margin-bottom-lg">
                                                        <span class="input-group-addon"><i class="fa fa-calendar-plus-o fa-fw"></i></span>
                                                        <input type="text" class= "form-control" ng-model="service.NUMERO_CR">

                                                </div>

                                     </div>
                                </div>


								</div>
                                 <div class= "form-group"><!--Inicia Div de Quedan Observacion-->
                                        <label class= "col-md-5">Observacion: </label>
                                        <div class="col-md-8">
                                        <td><textarea rows='4' cols='30' ng-model="service.observacion"></textarea><br>
                                        </div>


                                </div>
                            </div><!--Finaliza Div de Amanecieron-->

										</form>

									</div>
								</div>
							</div>
						</div>
					</div>

					</div><!--Panel Body -->

<div class="panel-footer clearfix" >
                    <div class="col-md-6" >
                        <!--Campos futuros en footer izquierda -->
                        <ul class="nav navbar-nav navbar-left animated bounceInRight" ng-show="pedidoIsActive" >
                            <li><span class="label label-primary" tooltip data-placement="top" title="Programación">{{fechaprogramacion || 'Sin Programación'}}</span>
                            </li>
                            <li><span class="label label-primary" tooltip data-placement="top" title="Prioridad">{{prioridadPedido || 'Normal'}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav navbar-nav" ng-class="pedidoIsGuardado==false?'animated bounceOutRight':'animated bounceInRight'" ng-show="pedidoIsGuardado==true">
                                <span class="label label-primary">Pedido Guardado</span>&nbsp;

                            </li>
                            <li>
                                <button type="button" class="btn btn-success btn-xs"  ng-click="guardar(InfoPedido,gestion,status);"><span id="mloader"></span>&nbsp; Guardar</button>
                            </li>
                            <li>&nbsp; | &nbsp;</li>

                        </ul>
                    </div>
                </div><!--Panel Footer -->
            </div>

        </div>
    </div><!--Row 1 Novedades -->
</div><!--Container ppal -->
<!-- Modal Historico Pedidos-->



