<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> DemePedido Activacion</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

				</div>

				<div class = "panel-heading nav navbar-default">

					<div class="col-lg-12 col-xs-10">
						<ul class="nav navbar-nav navbar-left">
                              <li>
								<i class="fa fa-globe" aria-hidden="true"> </i>&nbsp;

								<select
									class= "btn btn-default btn-xs grupo-select"
									style="width: 200px"
									ng-model="tabla" class="form-control" ng-change="setTabla(tabla)">
									 <option value="ACTIVADOR_SUSPECORE">ACTIVADOR_SUSPECORE</option>
                                         <option value="ACTIVADO_DOM">ACTIVADOR</option>

								</select>

							</li>
   
                            <li>&nbsp;</li>
                            <li>
								<i class="fa fa-tasks" aria-hidden="true"> </i>&nbsp;

								<select
									class= "btn btn-default btn-xs grupo-select"
									style="width: 100px"
									ng-model="transaccion" class="form-control" ng-change="setTransaccion(transaccion)">
									 <option value="Suspender">Suspender</option>
                                         <option value="Reanudar">Reanudar</option>
                                         <option value="Eliminar">Eliminar</option>
                                        <option value="Actualizar">Actualizar</option>
                                        <option value="Nuevo">Nuevo</option>
                                        <option value="Traslado">Traslado</option>
                                        <option value="TrasladoRetiro">TrasladoRetiro</option>

								</select>

							</li>
                            <li>&nbsp;</li>                      
                            <li>
								<i class="fa fa-qrcode" aria-hidden="true"> </i>&nbsp;

								<select
									class= "btn btn-default btn-xs grupo-select"
									style="width: 100px"
									ng-model="producto" class="form-control" ng-change="setProducto(producto)">
									 <option value="BA">BA</option>
                                         <option value="TOIP">TOIP</option>
                                         <option value="TV">TV</option>
								</select>

							</li>
							<li> &nbsp; </li>
							<li>
                                 <button id="ped" type="button" class="btn btn-xs btn-default"  ng-show="pedidoIsActive" ng-class="pedidoIsActive==false?'animated bounceOutRight':'animated fadeInUp'" ng-click="executeCopy(pedidoinfo)" popover data-trigger="hover" data-placement="left" data-html="true" data-selector="" data-content="<i class='fa fa-clipboard'></i> Copiar">{{pedidoinfo}}
                                </button>
								<button type="button" id="iniciar" class="btn btn-success btn-DemePedido-xs" ng-click="start(pedido);"   ng-disabled="false">
								DemePedido
								</button>


							</li>
						</ul>
                        <ul class="nav navbar-nav navbar-right">
							<li>
								<div class="col-lg-1 col-xs-1">
									<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="images/loader.gif" /></div></div>
							 </div></li>
							<li>
								<div class="btn-group">
									<input style="width:140px"  class="btn btn-default btn-xs " type="text" ng-model="buscar" placeholder="Buscar..." ng-disabled="loading" select-on-click capitalize/>
									<button type="button" class="btn btn-success btn-xs" ng-click="buscarPedido(buscar,pedidoinfo)"   ng-disabled="loading" >
									<i class="fa fa-search-plus" aria-hidden="true"> </i>
									</button>
								</div>
							</li>
							<li> &nbsp;</li>
							<li ng-hide='true'>
								<button type="button" class="btn btn-warning btn-circle-xss"  ng-click="ProgramadosModal()" data-toggle="modal" data-target="#PedidosProgramados" data-backdrop="static"  title="Pedidos Programados" >
								<i class="fa fa-calendar-check-o"  aria-hidden="true"> </i>
								</button>
							</li>
						</ul>

					</div>

				</div>

				<div class="panel-body fixed-panel ">
					<div class="container-fluid"  ng-show="pedidoIsActive==false">
						<div class="jumbotron animated bounceInRight ">
							<center><h3>Gestión Pendientes Activacion</h3></center>
						</div>

					</div>

					<div class="row "  ng-show="pedidoIsActive ">

						<div class="col-md-8">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-tasks" aria-hidden="true"> </i> DEMEPEDIDO</b>
								</div>
								<div class="panel-body">
									<ul class="list-group" ng-repeat="service in peds  as gestion" >
										<div class="col-md-6">

											<li class="list-group-item small" ><b>PEDIDO: </b><button type="button" class="btn btn-xs btn-info" ng-click="executeCopy(service.PEDIDO)">
												{{service.PEDIDO}}
											</button> </li>

											  <li class="list-group-item small" ><b>ORDER_SEQ_ID:</b> {{service.ORDER_SEQ_ID}}  </li>
                                            <li class="list-group-item small" ><b>ESTADO:</b> {{service.ESTADO}}  </li>
                                            <li class="list-group-item small" ><b>FECHA_CREACION:</b> {{service.FECHA_CREACION}}
                                            <li class="list-group-item small" ><b>TAREA_EXCEPCION:</b> {{service.TAREA_EXCEPCION}}</li>
                                            <li class="list-group-item small" ><b>TIEMPO:</b> {{service.TIEMPO_TOTAL}} dias</li>
                                            <li class="list-group-item small" ><b>DESCRIPCIONEXCEPCIONACT:</b> {{service.DESCRIPCIONEXCEPCIONACT}}</li>
                                             <li class="list-group-item small" ><b>VALOR_ERROR:</b> {{service.VALOR_ERROR}}</li>        


										</div>

										<div class="col-md-6">
											<li class="list-group-item small" ><b>FECHA_EXCEPCION:</b> {{service.FECHA_EXCEPCION}} </li>
                                            <li class="list-group-item small" ><b>PRODUCTOS:</b> {{service.PRODUCTO}} </li>
                                               <li class="list-group-item small" ><b>IDSERVICIORAIZ:</b> {{service.IDSERVICIORAIZ}} </li>
                                            <li class="list-group-item small" ><b>TRANSACCION:</b> {{service.TRANSACCION}} </li>
                                             <li class="list-group-item small" ><b>REFERENCE_NUMBER:</b> {{service.REFERENCE_NUMBER}} </li>
                                             <li class="list-group-item small" ><b>MOTIVOEXCEPCIONACT:</b> {{service.MOTIVOEXCEPCIONACT}} </li>
                                             <li class="list-group-item small" ><b>MOTIVO_ERROR:</b> {{service.MOTIVO_ERROR}} </li>

                                             <br><span ng-show="service.HISTORICO_TIPIFICACION" class="ng-binding label label-warning">[HISTORICO_TIPIFICACION]{{service.HISTORICO_TIPIFICACION}}</span>
										</div>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-cogs" aria-hidden="true"> </i> GESTION</b>
								</div>


                            <div class = "panel-heading">
                                    <div class="container-fluid">

                                        <form name="seguimiento_form" id="seguimiento_form">
                                            <div class="form-group " ng-class="{ 'has-error' : seguimiento_form.estado.$pristine && seguimiento_form.estado.$invalid}">
                                                <label for="estado" class="control-label">Estado Gestión:</label>
                                                <select id="estado"
                                                        class= "form-control btn-xs"
                                                        name="estado"
                                                        ng-model="InfoPedido.tipificacion"
                                                        
                                                        ng-disabled="ocupado"
                                                        ng-click="onChangeEstado()"
                                                        required>
                                                    <option value="" disabled>--Seleccione--</option>
                                                    <option
                                                            ng-repeat="d in listaOpcionesGestion | unique:'ESTADO_ID'"

                                                            value="{{d.ESTADO_ID}}">
                                                        {{d.ESTADO_ID}}
                                                    </option>
                                                </select>
                                            </div>
                                             <div class="form-group " ng-show="InfoPedido.ESTADO_PROCESO" ng-class="{ 'has-error' : seguimiento_form.obs.$pristine && seguimiento_form.obs.$invalid}">
                                                <label for="obs" class="control-label">Observación Gestión:</label>
                                                <select id="obs"
                                                        class= "form-control btn-xs"
                                                        name="obs"
                                                        ng-model="InfoPedido.OBSERVACIONES_PROCESO"
                                                        ng-change="onChangeAccion(InfoPedido.OBSERVACIONES_PROCESO)" required>
                                                    <option value="" disabled>--Seleccione--</option>
                                                    <option
                                                            ng-repeat="d in listaOpcionesGestion | filter:{ESTADO_ID: InfoPedido.ESTADO_PROCESO}:true | unique:'OBSERVACION_ID'"

                                                            value="{{d.OBSERVACION_ID}}">
                                                        {{d.OBSERVACION_ID}}
                                                    </option>
                                                </select>
                                            </div>
  
                                        <div class="form-group has-feedback">
                                        <label for="PSR" class="control-label">PSR:</label>
                                        <select class= "form-control" ng-model="InfoPedido.PSR">
                                            <option value="" disabled>--Seleccione--</option>
                                            <option value='CAMBIO'>Cambio</option>
                                            <option value='NUEVO'>Nuevo</option>
                                            <option value='RETIRO'>Retiro</option>
                                            <i class="fa fa-pencil form-control-feedback"></i>
                                        </select>
                                        </div>
                                         <div class="form-group has-feedback">
                                                <label for="NUMERO_PSR" class="control-label">Pendiente PSR:</label>
                                                <input type="text" name="NUMERO_PCR" id="NUMERO_PSR" class="form-control" placeholder="12458974145" ng-model="InfoPedido.NUMERO_PSR"/>
                                                <i class="fa fa-certificate form-control-feedback"></i>
                                            </div>
                                         <div class="form-group has-feedback">
                                                <label for="NUMERO_CR" class="control-label">Pendiente CR:</label>
                                                <input type="text" name="NUMERO_CR" id="NUMERO_CR" class="form-control" placeholder="12458974145" ng-model="InfoPedido.NUMERO_CR"/>
                                                <i class="fa fa-certificate form-control-feedback"></i>
                                            </div>

                                    
                                             <div class="form-group has-feedback">
                                                <label for="OBSERVACION" class="control-label">Observacion:</label>
                                                <input type="text" name="nuevopedido" id="OBSERVACION" class="form-control" placeholder="Observacion" ng-model="InfoPedido.OBSERVACION"/>
                                                <i class="fa fa-pencil form-control-feedback"></i>
                                            </div>
                                            <div>
                                                <div class="hide" ng-repeat="InfoPedido in listaOpcionesGestion | filter:{ESTADO_ID: InfoPedido.ESTADO_PROCESO, OBSERVACION_ID: InfoPedido.OBSERVACIONES_PROCESO} | unique:'STATUS' as status">
                                                    <input ng-model="InfoPedido.STATUS">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="hide" ng-repeat="InfoPedido in listaOpcionesGestion | filter:{ESTADO_ID: InfoPedido.ESTADO_PROCESO, OBSERVACION_ID: InfoPedido.OBSERVACIONES_PROCESO} | unique:'ACTIVIDAD' as actividad">
                                                    <input ng-model="InfoPedido.ACTIVIDAD">
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
					</div>

				</div><!--Panel Body -->
  <div class="panel-footer clearfix" >
                    <div class="col-md-6" >
                        <!--Campos futuros en footer izquierda -->
                        <ul class="nav navbar-nav navbar-left animated bounceInRight" ng-show="pedidoIsActive" >
                            <li><span class="label label-primary" tooltip data-placement="top" title="Programación">{{fechaprogramacion || 'Sin Programación'}}</span>
                            </li>
                            <li><span class="label label-primary" tooltip data-placement="top" title="Prioridad">{{prioridadPedido || 'Normal'}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav navbar-nav" ng-class="pedidoIsGuardado==false?'animated bounceOutRight':'animated bounceInRight'" ng-show="pedidoIsGuardado==true">
                                <span class="label label-primary">Pedido Guardado</span>&nbsp;

                            </li>
                            <li>
                                <div ng-hide="true">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="guardarPedido(InfoPedido,gestion[0],status,actividad)"  ng-disabled="!accRdy || guardando || loading">
                                        Guardar <span ng-show="guardando"><i class="fa fa-spinner fa-spin"></i></span>
                                    </button></div>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="guardarPedidoGestion(InfoPedido,gestion[0],status,actividad)"  ng-disabled="!accRdy || guardando || loading">
                                    Guardar <span ng-show="guardando"><i class="fa fa-spinner fa-spin"></i></span>
                                </button>
                            </li>
                            <li>&nbsp; | &nbsp;</li>
                            <li>
                                <button type="button" class="btn btn-info btn-circle-xss" ng-click="historicoModal(gestion[0].PEDIDO_ID)" data-toggle="modal" data-target="#HistoricoPedido" data-backdrop="static"  popover data-trigger="hover" data-placement="left" data-html="true" data-content="<code>Historico</code>"   ng-disabled="!pedidoIsActive">
                                    <i class="fa fa-rss"  aria-hidden="true"> </i>
                                </button>
                            </li>
                            <li>&nbsp; | &nbsp;</li>
                            <li>
                                <button type="button" class="btn btn-info btn-circle-xss" ng-click="PedidosPorUser()" data-toggle="modal" data-target="#HistoricoPedidoUser" data-backdrop="static"  popover data-trigger="hover" data-placement="left" data-html="true" data-content="<code>Historico por {{logedUser.login}}</code>" >
                                    <i class="fa fa-user-circle"  aria-hidden="true"> </i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div><!--Panel Footer -->
            </div>

        </div>
    </div><!--Row 1 Novedades -->
</div><!--Container ppal -->
<!-- Modal Historico Pedidos-->
<div id="PedidosProgramados" class="modal fade "  role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{TituloModal}} <span class="label label-info">{{logedUser.login}} </span> </h4>
            </div>
            <div class="modal-body" >
                <div class="row"><!--Row Programados por USER -->
                    <div class="col-md-12">

                        <div class = "panel panel-default">
                            <div class = "panel-heading">
                                <b><i class="fa fa-bars" aria-hidden="true"></i> Pedidos Malos </b>
                                <ul class="nav navbar-nav navbar-right">
                                    <div class="col-md-1 col-xs-1 ">
                                        <div data-ng-if="loading">
                                            <img title="Esperando respuesta" tooltip data-placement="top" src="images/loader.gif" />
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div class="panel-body fixed-panel" >
                                <table class = "table small table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Pedido</th>
                                        <th>Fecha Cita</th>
                                        <th>Estado</th>
                                        <th>Motivo</th>
                                        <th>Programación</th>
                                        <th>Agenda</th>
                                        <th>Municipio</th>
                                        <th>Fecha Gestión</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="data in ListadoPrograUser as progra" class="animated bounceInRight">
                                        <td>
                                            <button type="button" class="btn btn-xs btn-warning" ng-click="executeCopy(data.PEDIDO_ID)">
                                                {{data.PEDIDO_ID}}
                                            </button>
                                        </td>
                                        <td>
                                            <span class="small">{{data.FECHA_CITA}}</span>
                                        </td>
                                        <td>
                                            <span class="small">{{data.STATUS}}</span>
                                        </td>
                                        <td>
                                            <span class="small">{{data.MOTIVO_MALO}}</span>
                                        </td>
                                        <td>
                                            <span class="small">{{data.PROGRAMACION}}</span>
                                        </td>
                                        <td>
                                            <span class="small" ng-class="{'ALARMADO':'label label-warning','GESTIONAR':'label label-danger','SIN CITA':'label label-info'}[data.MENSAJE]">{{data.MENSAJE}}</span>
                                        </td>
                                        <td>
                                            <span class="small">{{data.MUNICIPIO_ID}}</span>
                                        </td>
                                        <td>
                                            <span class="small">{{data.FECHA_GESTION}}</span>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="panel-footer clearfix" >
                                <div class="col-md-6">
                                    <ul class="nav navbar-nav navbar-left">
                                        <li>Registros: <span class="badge badge-default">{{progra.length}} {{errorMalos}}</span></li>

                                    </ul>

                                </div>


                                <div class="col-md-6">

                                </div>
                            </div>
                        </div><!--Panel -->
                    </div>
                </div><!--Row 1 Pedidos Programados -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- Modal Programados-->
<!-- Modal Historico Pedidos-->
<div id="HistoricoPedido" class="modal fade "  role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{TituloModal}} <span class="label label-info">{{pedidoHistorico}} </span> </h4>
                <span style="color:red" ><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
            </div>
            <div class="modal-body" >
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <div class="panel-body fixed-panel" >
                            <table class = "table small table-striped table-condensed">
                                <thead>
                                <tr >
                                    <th><span class="small">ID</span></th>
                                    <th><span class="small">ACTIVIDAD</span></th>
                                    <th><span class="small">FECHA_GESTION</span></th>
                                    <th><span class="small">ESTADO</span></th>
                                    <th><span class="small">MOTIVO_MALO</span></th>
                                    <th><span class="small">USUARIO_ID</span></th>
                                    <th><span class="small">ANTERIOR</span></th>
                                    <th><span class="small">FINAL</span></th>
                                    <th><span class="small">IDLLAMADA</span></th>
                                    <th><span class="small">NUEVOPEDIDO</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="histo in ListadoHistoricoPedido" class="animated bounceInRight">
                                    <td><span class="small">{{histo.ID}}</span></td>
                                    <td><span class="small">{{histo.ACTIVIDAD}}</span></td>
                                    <td><span class="small">{{histo.FECHA_GESTION}}</span></td>
                                    <td><span class="small">{{histo.ESTADO}}</span></td>
                                    <td><span class="small">{{histo.MOTIVO_MALO || 'Sin Motivo'}}</span></td>
                                    <td><span class="small">{{histo.USUARIO_ID}}</span></td>
                                    <td><span class="small">{{histo.CONCEPTO_ANTERIOR}}</span></td>
                                    <td><span class="small">{{histo.CONCEPTO_FINAL}}</span></td>
                                    <td><span class="small">{{histo.IDLLAMADA || 'Sin Llamada'}}</span></td>
                                    <td><span class="small">{{histo.NUEVOPEDIDO || 'Sin Nuevo pedido'}}</span></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- Modal Eliminar Novedad-->
<!-- Modal Historico Pedidos Por USER-->
<div id="HistoricoPedidoUser" class="modal fade "  role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{TituloModal}}</h4>
                <span style="color:red" ><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
            </div>
            <div class = "panel-heading nav navbar-default">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <select ng-model="data.campo" class="btn btn-default btn-xs grupo-select">
                                        <option value='TODO' selected="selected">TODO</option>
                                        <option value='user'>Usuario</option>
                                        <option value='fuente'>Fuente</option>
                                        <option value='concepto_final'>Concepto</option>
                                        <option value='estado'>Estado</option>
                                        <option value='pedido_id'>Pedido</option>
                                    </select>

                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <input style="width:150px" class="btn btn-default btn-xs" name="valorCampo" ng-model="data.valorCampo" select-on-click capitalize type="text" placeholder="Palabra">

                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <div class="input-daterange" id="datepicker">
                                        <input type="text" class="btn btn-default btn-xs"  ng-model="data.fechaIni" datetime-picker date-format="yyyy-MM-dd" date-only/><i class="fa fa-calendar fa-fw"></i>
                                        <input type="text" class="btn btn-default btn-xs" ng-model="data.fechaFin" datetime-picker date-format="yyyy-MM-dd" date-only/><i class="fa fa-calendar fa-fw"></i>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="calcularListadoReconfiguracion()"  title="Buscar" tooltip data-placement="left" ng-disabled="loading">
                                            <i class="fa fa-search"  aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="csvHistoricosReconfiguracion()"  title="Exportar" tooltip data-placement="left" ng-disabled="loading">
                                            <i class="fa fa-cloud-download"  aria-hidden="true"></i>
                                        </button>

                                    </div>
                                </li>



                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-body" >
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <div class="panel-body fixed-panel" >
                            <table class = "table small table-striped table-condensed">
                                <thead>
                                <tr >
                                    <th><span class="small">PEDIDO</span></th>
                                    <th><span class="small">ACTIVIDAD</span></th>
                                    <th><span class="small">FECHA_GESTION</span></th>
                                    <th><span class="small">DURACION</span></th>
                                    <th><span class="small">ESTADO</span></th>
                                    <th><span class="small">CONCEPTO FINAL</span></th>
                                    <th><span class="small">FUENTE</span></th>
                                    <th><span class="small">ID</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pediUser in listado_pedidos as pedis" class="animated bounceInRight">
                                    <td><span class="small">{{pediUser.pedido}}</span></td>
                                    <td><span class="small">{{pediUser.actividad}}</span></td>
                                    <td><span class="small">{{pediUser.fecha_fin}}</span></td>
                                    <td><span class="small">{{pediUser.duracion}}</span></td>
                                    <td><span class="small">{{pediUser.estado}}</span></td>
                                    <td><span class="small">{{pediUser.concepto_final}}</span></td>
                                    <td><span class="small">{{pediUser.fuente}}</span></td>
                                    <td><span class="small">{{pediUser.id}}</span></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left">Pedidos: <span class="label label-success">{{pedidosUnicos || 0}}</span></span>&nbsp; &nbsp;
                <span class="pull-left">Transacciones: <span class="label label-success">{{pedis.length || 0}}</span></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- Modal Eliminar Novedad-->
<!-- Modal Historico Pedidos-->
<div id="ModalAuditoria" class="modal fade "  role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{tituloModal}} <span class="label label-info">{{infoFenix.PEDIDO_ID}} </span> </h4>
                <span style="color:red" ><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
            </div>
            <div class="modal-body" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-10">
                            <div class="well well-sm"><b>Usuarios:</b> {{infoFenix.USUARIOS}} | <b>Fechas:</b> {{infoFenix.FECHAS}} <span class="pull-right badge">{{infoFenix.CANTIDADUSERS}}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-10">
                            <div class = "well well-sm" ng-repeat="auditoria in auditorias as auditarObj track by $index  ">
                                <form class="form-inline">
                                    <div class="form-group" ng-controller="UsersCtrl">
                                        <label class="sr-only" for="usrEstudio">Usuario:</label>
                                        <ui-select id="usrEstudio" name="usrEstudio" ng-model="auditoria.USUARIO_ID_GESTION" theme="bootstrap">
                                            <ui-select-match placeholder="Usuario">
                                                {{auditoria.USUARIO_ID_GESTION.USUARIO_ID}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="g  in  listaUsuarios | filter: $select.search track by $index">
                                                <div ng-bind-html="g.USUARIO_ID | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="fechaEstudio">Fecha:</label>
                                        <input id="fechaEstudio" name="fechaEstudio" style="width:120px" class="form-control btn-xs" type="text" ng-model="auditoria.FECHA_GESTION" datetime-picker date-only date-format="yyyy-MM-dd"/>
                                        <i class="fa fa-calendar fa-fw form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="estadoAuditoria">Estado:</label>
                                        <select id="estadoAuditoria" name="estadoAuditoria"
                                                class="form-control btn-xs" style="width: 150px;"
                                                ng-model="auditoria.ESTADO_PROCESO"
                                                required>
                                            <option value="" disabled>Estado</option>
                                            <option ng-repeat="e in listaOpcionesAuditoria | unique:'ESTADO_ID'"
                                                    value="{{e.ESTADO_ID}}">
                                                {{e.ESTADO_ID}}
                                            </option>
                                        </select>
                                        <i class="fa fa-cog form-control-feedback" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="obidAuditoria">Resultado:</label>
                                        <select id="obidAuditoria" name="obidAuditoria" class="form-control btn-xs" style="width: 150px;"
                                                ng-model="auditoria.ANALISIS">
                                            <option value="" disabled>--Seleccione--</option>
                                            <option ng-repeat="e in listaOpcionesAuditoria | filter:{ESTADO_ID: auditoria.ESTADO_PROCESO}:true | unique:'OBSERVACION_ID'"
                                                    value="{{e.OBSERVACION_ID}}">
                                                {{e.OBSERVACION_ID}}
                                            </option>
                                        </select>
                                        <i class="fa fa-cog form-control-feedback" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="obsAuditoria">Observaciones:</label>
                                        <textarea id="obsAuditoria" name="obsAuditoria" class="form-control btn-xs" style="width:150px" rows="2" cols="50"
                                                  ng-model="auditoria.OBSERVACIONES"></textarea>
                                        <i class="fa fa-comment form-control-feedback" aria-hidden="true"></i>
                                    </div>
                                    <span class="pull-right">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-warning btn-circle-xs pull-left" ng-click="removeNuevaNovedad()" ng-show="$last">
                                                <i class="fa fa-minus"  aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-circle-xs pull-right" ng-show="$last" ng-click="addNuevaNovedad()">
                                                <i class="fa fa-plus"  aria-hidden="true"></i>
                                            </button>
                                        </div></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="guardarAuditoria(auditarObj,infoFenix,gestion)" data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div><!-- Modal Eliminar Novedad-->

