<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> Cargar Activacion</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

				</div>


        <div class="panel-body"><!--contenido -->
            <div class="row">
                <div Class="col-md-4 ">
                  <select class= "form-control" class="ARCHIVO  A CARGAR">
                                <option value="ACTIVACION">ACTIVACION</option>
                                <option value="ACTIVACION_FENIX">ACTIVACION_FENIX</option>



                                </select>


                           </div>
                        <div Class="col-md-12 ">
                       <div class="col-lg-8 col-xs-8 form-inline">
                      <div class="fileUpload btn btn-primary">
                          <span class="glyphicon glyphicon-upload"></span> Seleccionar Archivo
                          <input type="file" class="upload" file-model = "myFile" />
                      </div>
                             <button class="btn btn-success btn-md" value="cargar" id="cargar" ng-click="uploadFile();"><span class="glyphicon glyphicon-cloud-upload"></span> Cargar</button>
                             <div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="images/loader.gif" /></div></div>

                        <div ng-show="error" class="alert alert-danger">
                      {{error}}
                    </div>

                </div>

          <div class="row">
                                <div class="col-sm-6" ><!--Acordeon con Tablas -->
                                    <accordion close-others="oneAtATime"><!--Acordeones -->
                                        <accordion-group><!--Fecha Estado -->
                                            <accordion-heading>
                                                Bodega de Datos: </i> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </accordion-heading>
                                           <table class="table small table-striped table-hover table-bordered table-condensed">
                        
                           <thead>
                            <a href="./plantillas/activacion.xlsx">plantilla activacion historicos</a>

                         </thead>
                    </table>
                                     
 <div class="row">
      <div class="container">
    <h2 class="page-header"><i class="fa fa-file-photo-o" aria-hidden="true"></i>Cargar<small> Archivo</small></h2>
              <div id="dvData">
                   <div ng-show="error" class="alert alert-danger "><!--Muestra error cuando no hay pedidos -->
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{error}}
                  </div><!--Muestra error cuando no hay pedidos -->
                            <table class="table small table-striped table-hover table-bordered table-condensed">
                            <thead>
                            <th>Archivo</th>
                            <th>Tamaño</th>
                            <th>Fecha Actualización</th>
                            <th>Acción</th>
                            </thead>
                            <tbody>
                              <tr ng-repeat="data in listadodocu1" >
                                    <td>{{data.nombre}}</td>
                                    <td>{{data.size}}</td>
                                    <td>{{data.fecha}}</td>
                                    <td><a href="../uploads/"{{data.nombre}}" download> </a>
                                    <button class="btn btn-danger btn-sm" value="eliminar" ng-show="logedUser.CARGO_ID<='4'" ng-click="eliminarfi(data.nombre)" popover data-trigger="hover" data-placement="top" data-html="true" data-selector="" data-content="Eliminar Archivo"><span class="glyphicon glyphicon-trash"></span></button>
                                  </td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>

  </div> 
   </div><!--Row 1 Novedades -->
</div><!--Container ppal -->       


<br>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</div><!--panel ppal -->


</div><!-- div ppal -->

<div> <br><br><br></div>








