<div class="container-fluid">


	<div class="row">
		<div class="col-md-3">
			<div class="row">
			<div class="col-md-12">


				<div class = "panel panel-default">
					<div class = "panel-heading nav navbar-default">
						<b><button type="button" class="btn btn-default btn-circle-xs pull-right" ng-click="actualizarGraficaAD()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
									<i class="fa fa-refresh"  aria-hidden="true"></i>
								</button> Conceptos</b>
					</div>
					<div class = "panel-heading nav navbar-default">
						<ul class="list-group small">
							<a href="" ng-repeat="data in pendientesConceptos" class="list-group-item animated slideInRight" ng-style="set_color(data.CANTIDAD)">{{data.label}}: <span class = "badge ">{{data.value}}</span></a>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-md-12">

				<div class = "panel panel-default">
					<div class = "panel-heading nav navbar-default ">
						<b><button type="button" class="btn btn-default btn-circle-xs pull-right" ng-click="listaPendiSubprocesos()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
									<i class="fa fa-refresh"  aria-hidden="true"></i>
								</button>Sub Procesos</b>
					</div>
					<div class = "panel-heading nav navbar-default fixed-panel">
						<ul class="list-group small">
							<a href="" ng-repeat="data in listaKpisSubprocesos" class="list-group-item animated slideInRight" ng-style="set_color(data.CANTIDAD)">{{data.SUBPROCESO}}: <span class = "badge ">{{data.CANTIDAD}}</span></a>
						</ul>
					</div>
				</div>

			</div>
				
			</div>
	</div><!--Colmd3 -->



		<div class="col-md-6"><!--Colmd6 -->
		<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading nav navbar-default">

					<ul class="nav navbar-nav navbar-left">
						<b>Parámetro de Entrega DemePedido</b>
						<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<div class="col-md-1 col-xs-1 ">
						            <div data-ng-if="loading">
										<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
						            </div>
						    </div>
						<li>

							<button type="button" class="btn btn-default btn-circle-xs" ng-click="listaPendiSubprocesos()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
								<i class="fa fa-refresh"  aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-default btn-circle-xs" ng-click="csvFenixNal()"  ng-disabled="loading">
								<i class="fa fa-cloud-download"  title="Exportar Pendientes" data-toggle="tooltip" data-placement="left" aria-hidden="true"></i>
							</button>

						</li>
					</ul>



				</div>
				<div class="panel-body fixed-panel" >

					 <table class="table small table-bordered table-condensed">
							  <tr>
								<th >Grupo</th>
								<th >Ultima Edicion</th>
								<th >Usuario</th>
								<th >Editar</th>
							  </tr>
							  <tr>
								<td >Asignaciones</td>
								<td ><font color='blue'>{{ordenamientoDemepedidoUpdate}}</font></td>
								<td >{{UsuarioParametro}}</td>
								<td >
										<select class="btn btn-default btn-xs grupo-select" id="sel1" ng-model="ordenamientoDemepedidoNuevo" style="width:auto;">
											<option value="FECHA_CITA">FECHA CITA</option>
											<option value="FECHA_ESTADO">FECHA ESTADO</option>
											<option value="FECHA_INGRESO">FECHA INGRESO</option>
										</select>
										<button class="btn btn-success btn-xs" ng-click="updateParametro('FECHA_ORDEN_DEMEPEDIDO',ordenamientoDemepedidoNuevo);"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
								  </td>
							  </tr>
							  <tr>
								<td >Reconfiguracion</td>
								<td ><font color='blue'>{{ordenamientoDemepedidoUpdateReconfiguracion}}</font></td>
								<td >{{UsuarioParametroReconfiguracion}}</td>
								<td >
                                <select class="btn btn-default btn-xs grupo-select" id="sel1" ng-model="ordenamientoDemepedidoReconfiguracion" style="width:auto;">
                                    <option value="FECHA_CITA">FECHA CITA</option>
                                    <option value="FECHA_ESTADO">FECHA ESTADO</option>
                                    <option value="FECHA_INGRESO">FECHA INGRESO</option>
                                </select>
                                <button class="btn btn-success btn-xs" ng-click="updateParametro('FECHA_ORDEN_DEMEPEDIDO_RECONFIGURACION',ordenamientoDemepedidoReconfiguracion);"><i class="fa fa-floppy-o" aria-hidden="true"></i></button></td>
							  </tr>
						</table>

				</div>
				<div class="panel-footer clearfix" >

					<div class="col-md-8">

						<ul class="nav navbar-nav navbar-left">


						</ul>

					</div>


				</div>


			</div>
		</div>

		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading nav navbar-default">

					<ul class="nav navbar-nav navbar-left">
						<b>Gráfica de Pendientes</b>
						<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<div class="col-md-1 col-xs-1 ">
						            <div data-ng-if="loading">
										<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
						            </div>
						    </div>
						<li>

							<input style="width:120px"  class="btn btn-default btn-xs " type="text" ng-model="filtroInputCola" placeholder="Filtro" ng-disabled="loading" select-on-click capitalize/>
							<button type="button" class="btn btn-default btn-circle-xs" ng-click="actualizarGrafica()()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
								<i class="fa fa-refresh"  aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-default btn-circle-xs" ng-click="csvPendientes(filtroInput)" title="Exportar Pendientes" data-toggle="tooltip" data-placement="left" ng-disabled="loading">
								<i class="fa fa-cloud-download"  aria-hidden="true"></i>
							</button>

						</li>
					</ul>



				</div>
				<div class="panel-body fixed-panel" >

					<div fusioncharts
						align="center"
						width="500"
						height="400"
						type="bar2d"
						datasource="{{myDataSource}}">
                    </div><!--Fusioncharts -->

				</div>
				<div class="panel-footer clearfix" >

					<div class="col-md-8">

						<ul class="nav navbar-nav navbar-left">
							<li>Registros: <span class="badge badge-default">{{resultsci.length}}</span></li>
							<li>&nbsp;|&nbsp;</li>
							<li> Total: <span class="label label-success">{{resultsci|sumarNum:'CANTIDAD'}}</span></li>

						</ul>

					</div>


				</div>


				</div>
			</div>

		</div>
		</div><!--Colmd6 -->


		<div class="col-md-3">
			<div class="row">
			<div class="col-md-12">
				

				<div class = "panel panel-default">
					<div class = "panel-heading nav navbar-default">
						<b><button type="button" class="btn btn-default btn-circle-xs pull-right" ng-click="getFeed()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
									<i class="fa fa-refresh"  aria-hidden="true"></i>
								</button> Feed</b>
					</div>
					<div class = "panel-body fixed-panel">

						<ul class="list-group small">
							<a href="" ng-repeat="data in listado_feed" class="list-group-item animated slideInRight"><span class="small">{{data.USER}}</span> | <span ng-class= "{'Busco':'label label-info','Auto':'label label-danger','Guardo':'label label-success','Siebel':'label label-success','Se logueo':'label label-default' }[data.ACCION]"> {{data.ACCION}}</span> | {{data.FECHA | timeago}}</a>
						</ul>
					</div>
					<div class = "panel-footer">

					</div>
				</div>
			</div>
			</div>

		</div><!--Colmd3 -->



	</div><!--Row 1 Novedades -->

</div>



<br>

<ol class="breadcrumb">
  <li><a href=".#/dashboard">Home</a></li>
  <li><a href="">Administración</a></li>
  <li class="active">{{title}}</li>
</ol>

<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
