<ol class="breadcrumb">
  <li><a href="./#/">Asignaciones</a></li>
  <li class="active">KPIS</li>
</ol>
<div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Formas KPIS</a>
        </li>
    </ul>

        <div class="col-md-16">
            <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i>Registros Infraestructura<small> Historicos</small></h2>

                        </div>
						<div class="col-lg-4">
							<h2 class="page-header">
							<a class="btn btn-block btn-primary " ng-click="nuevoRegistroNCA();"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo Registro</a>
							</h2>
						</div>

                    </div>
					<div class="row"><hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br></div>
		          <div class="row">
			         <label class=" input col-sm-3">Seleccione Fecha:</label>
                                <div class="input-daterange col-sm-7" id="datepicker">
                                    <div class="input-group">

                                        <input type="text"  name="Negocio" id="Negocio" class="form-control" placeholder="Seleccione" value="" ng-model="data.Negocio">

                                         <select name="Negocio">
                                               <option value="UNE" selected="selected">UNE</option>
                                               <option value="EDATEL">EDATEL</option>
                                               <option value="ETP">ETP</option>
                                         </select>

                                        <span class="input-group-addon">Desde</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="fromDate" name="fromDate" ng-model="data.fechaIni" />

                                        <span class="input-group-addon">Hasta</span>
                                        <input type="text" class="form-control" style="min-width: 90px" id="toDate" name="toDate" ng-model="data.fechaFin" />
                                        <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" value="actualizar!" ng-click="pageChanged();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
                                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvNCA();"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>
                                        </span>
                                    </div>
                                </div>
                    </div>

			<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>
                    <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="33%" align="left">

				Total de Registros: <b>{{data.totalItems}} </b>
			</td>
			<td width="33%" align="center">

                        </td>
			<td width="33%" align="right">
				<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>
                                    <th width="12%">Oferta</th>
                                    <th width="7%">Usuario</th>
                                    <th width="15%">Municipio</th>
                                    <th width="10%">Transaccion</th>
                                    <th width="8%">Fecha</th>
                                    <th width="17%">Estado Final</th>
                                    <th width="27%">Observacion</th>
                                    <th ng-hide="true" width="4%">Acciones</th>
                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transacciones| orderBy:'FECHA_FIN':true ">
                                    <td>{{data.pedido_id}}</td>
                                    <td>{{data.user}}</td>
                                    <td>{{data.municipio_id}}</td>
                                    <td>{{data.TIPO_TRABAJO}}</td>
                                    <td>{{data.fecha_fin}}</td>
                                    <td>{{data.concepto_final}}</td>
                                    <td>{{data.OBSERVACIONES_PROCESO}}</td>
                                    <td ng-hide="true" align="center"><button class="btn btn-success btn-xs" value="edit!" ng-click="getTransaccionNCA(data.ID);"><i class="fa fa-pencil fa-lg"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>
                  </div>
            </div>
        </div>
    </div>
<br>
<div class="pull-right"><!--Flecha Arriba -->
    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-2x" data-toggle="tooltip" title="Volver arriba" data-placement="right"></i></a>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
