<style>
body{
    background-color: #002E6C !important;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/woods.jpg">
                <div class="caption">
                    <h4 class="">{{msgLogin}}</h4>

                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                        culpa itaque odio similique suscipit</p>
                    <button type="submit" ng-disabled="loginexito" class="btn btn-danger pull-right" >Entrar <span ng-show="loginexito"><i class="fa fa-spinner fa-spin"></i></span></button>

                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
    <!--/row-->
</div>

