<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="container">
    <div class="row" align="center">
		<div class="span12">
			<form class="form-horizontal" method="POST" name="form" ng-submit="login()" role="form">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Username</label>
			      <div class="controls">
			        <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="lform.username">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="lform.password">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
				<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
