<style>
.navbar-header {
    z-index:9999;
    height: 247px;
    background: black;
    -webkit-box-shadow: 7px 7px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 5px 5px 2px 0px rgba(50, 50, 50, 0.75);
}
.drop-shadow{
    box-shadow: 0px 7px 5px #888888;
    z-index:999;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="http://placehold.it/320x125/EEE" class="">
                <div class="caption">
                    <h4 class="">Application</h4>

                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    <!--/row-->
</div>
<!--/container -->


<div ng-show="error" class="alert alert-danger">{{error}}</div>
<!-- comienza prueba -->
<div class="container-fluid " style="margin-top: 60px">
    <div>{{msgLogin}} , Tu último ingreso fue: {{autoFecha }}</div>
            <div class="col-md-3 ">
                <div class="login-panel panel panel-primary drop-shadow">
                    <div class="panel-heading " >
                        <h1 class="panel-title" >Inicie Sesión:</h1>
                    </div>
                    <form method="POST" name="form" ng-submit="login()" role="form">
                    <div class="panel-body">
                            <fieldset>
                                
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    <input class="form-control" placeholder="Usuario" name="username" type="text" required="required"  id="username" ng-model="lform.username" rel="txtTooltip" title="Ingrese el usuario de Fenix" data-toggle="tooltip" data-placement="top" autofocus/>
                                </div>
                                <p></p>
                                <div class="input-group margin-top-sm">
                                    <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                    <input class="form-control" placeholder="password" id="password" name="password" type="password" value="" required="required" ng-model="lform.password"/>
                                </div>
                             <!--div class="g-recaptcha" data-sitekey="6LfgMBMTAAAAAFPQK6ANeYvjVW6uEPOqRc26x0QP"></div--> 
                              
                            </fieldset>
                        
                    </div>
                    <div class="panel-footer " >
                              <button type="submit" ng-disabled="loginexito" class="btn btn-danger" >Entrar <span ng-show="loginexito"><i class="fa fa-spinner fa-spin"></i></span></button>

                    </div>
                    </form>
                </div>
            </div><!-- termina div login-->

        	<!--div class="col-md-6" --><!-- Inicia div noticias -->

            	<!--div class="panel panel-primary drop-shadow">
            		<div class="panel-heading" >
  						<h1 class="panel-title">Noticias:</h1>
                     </div>
        			<div class="media">
    				<a href="./images/supervisor.png" class="pull-left" style=" margin-bottom:5px; margin-left:5px">
        				<img src="./images/profiles/jdelgadd.png"  height="60px" width="60px" class="media-object" >
    				</a>
    				<div class="media-body">
        				<h4 class="media-heading">Juliet Delgado<small><i> Bienvenido!</i></small></h4>
                        <p><span class="glyphicon glyphicon-exclamation-sign "></span> No olvides cerrar sesión cuando termines tu turno.</p>
    				</div>
				</div>
               </div>
        	</div-->


 <div class="col-md-9">
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		  <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			<img class="animated slideInRight" ng-src="{{slide.image}}" style="margin:auto;">

		  </div>
		</div>


  </div>

 </div><!-- Termina Prueba -->
