<style>
body{
    background-color: #002E6C !important;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/woods.jpg" class="img-circle">
                <div class="caption">
                    <h4 class="">{{msgLogin}}</h4>

                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
    <!--/row-->
</div>

