<ol class="breadcrumb">
  <li><a href="./#/">Asignaciones</a></li>
  <li class="active">Registros</li>
</ol>
<div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)">Registros Historicos</a>
        </li>
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Pendientes</a>
        </li>
    </ul>
<div class="col-md-16">
 <div class="jumbotron">
     <div ng-show="isSet(2)">
		<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Registros  <small>Historicos</small></h2>
                <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                <br>
            </div>
        </div>
		<div class="row">	
			<div class="col-lg-4  form-inline">
			     <b>Buscar por:</b>
								<select ng-model="data.campo" class="form-control" style="width: auto;">
									<option value='TODO' selected="selected">TODO</option>
									<option value='user'>Usuario</option>
									<option value='fuente'>Fuente</option>
									<option value='concepto_final'>Concepto</option>
									<option value='estado'>Estado</option>
									<option value='pedido_id'>Pedido</option>
								</select>
						<div class="form-group">
                            <input size = "7" class="form-control" aria-label="" name="valorCampo" ng-model="data.valorCampo"type="text"> 
						</div>
					</div>
					<div class="col-lg-8 form-inline">
						<label class="input col-sm-3">Seleccione Fecha:</label>
                                <div class="input-daterange col-sm-7" id="datepicker">
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde</span>
                                        <input type="text" class="form-control" style="min-width: 100px" id="fromDate" name="fromDate" ng-model="data.fechaIni" />
                                        <span class="input-group-addon">Hasta</span>
                                        <input type="text" class="form-control" style="min-width: 100px" id="toDate" name="toDate" ng-model="data.fechaFin" />
									<span class="input-group-btn">
										<button class="btn btn-primary btn-sm" value="actualizar!" ng-click="calcularListado();"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
										<button class="btn btn-success btn-sm" value="exportar!" ng-click="csvHistoricos();"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>
                                        
									</span>
									</div>
                                </div>													
					</div>	
			<!--<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>-->
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="50%" align="left">
				Total de Registros: <b>{{data.totalItems}} </b>
			</td>
		
			<td width="50%" align="right">
				<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged('listadoPedidos')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>
                    <table class="table small table-striped table-hover table-bordered table-condensed">
                            <thead>
                                    <th>Usuario</th>
                                    <th>Fuente</th>
                                    <th>Concepto</th>
                                    <th>Estado</th>
                                    <th>Pedido</th>
                                    <th>Fecha</th>
                                    <th>Duracion</th>
                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_pedidos| orderBy:'fecha_fin':true ">
                                    <td>{{data.user}}</td>
                                    <td>{{data.fuente}}</td>
                                    <td>{{data.concepto_final}}</td>
                                    <td>{{data.estado}}</td>
                                    <td>{{data.pedido}}</td>
                                    <td>{{data.fecha_fin}}</td>
                                    <td>{{data.duracion}}</td>
                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged('listadoPedidos')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>
				  </div>
				
            <div ng-show="isSet(1)">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Registros  <small>Pendientes</small></h2>
                        <hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                        <br>
                     </div>
                    </div>
                        
			 	<div class="row">
					<div class="col-lg-9 form-inline">
 						<b>Concepto:</b>
        				<select ng-model="data1.concepto" ng-change="calcularPendientes(data1.concepto)" class="form-control" style="width: auto;">
    						<option value='TODO'>TODO</option>
    						<option value='PETEC'>PETEC</option>
    						<option value='OKRED'>OKRED</option>
    						<option value='15'>15</option>
    						<option value='14'>14</option>
    						<option value='99'>99</option>
    						<option value='92'>92</option>
                            <option value='19'>19</option>
    			            <option value='O-13'>O-13</option>
    			            <option value='O-15'>O-15</option>
    			            <option value='O-106'>O-106</option>
    			            <option value='O-101'>O-101</option>
    			            <option value='PEOPP'>PEOPP</option>
                            <option value='PUMED'>PUMED</option>

					   </select> 
					<!--a href="#" id ="export" class="btn btn-success btn-md">Exportar</a-->
					<button class="btn btn-success btn-sm" value="exportar" ng-click="csvPendientes(data1.concepto);"><span class="glyphicon glyphicon-download-alt"></span> Exportar</button>
					<button class="btn btn-danger btn-sm" value="Exportar Malos" ng-click="csvMalos(data1.concepto);"><span class="glyphicon glyphicon-download-alt"></span> Exportar Malos</button>
					<button class="btn btn-warning btn-sm" value="exportarpres!" ng-click="csvPreInstalaciones();"><span class="glyphicon glyphicon-download-alt"></span> PRE-Instalaciones</button>
                    </div>
                    <div class="col-lg-3 form-inline">
                        <div class="form-group">
                           <div class="input-group merged">
                            <input type="text" class="form-control pull-right "  class="col-xs-8"  title="Ingrese Pedido a buscar" placeholder="Buscador de Pedidos" data-toggle="tooltip" data-placement="top" ng-model="bpedido" ng-change="buscarPedidoRegistro(bpedido);"><span class="input-group-addon"><i class="fa fa-arrow-circle-left fa-fw"></i></span>
                           </div>
                        </div>
                    </div>
                </div>				
				
			<!--ng-click="csvMalos(data1.concepto)-->
			<div class="row">    
                <div class="col-lg-12 form-inline">
                    		<table align="center" width="100%">
                        		<tr>
                        		<td width="50%" align="left"> Total de Registros: <b>{{data1.totalItems}} </b> </td>

                        		<td width="50%" align="right">
                                		<pagination total-items="data1.totalItems" ng-model="data1.currentPage" ng-change="pageChanged('listadoPendientes')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
		                        </td>
                        		</tr>
                    		</table>
                </div>               
			</div>
	
			<div id="dvData">	
                        <table class="table small table-striped table-hover table-bordered table-condensed">
                        <thead>
                        <th>Pedido</th>
                        <th>Tipo Elemento</th>
                        <th>Tiempo en Concepto</th>
                        <th>Concepto</th>
                        <th>UEN</th>
                        <th>Municipio</th>
                        <th>Fecha Estado</th>
                        <th>Fecha Cita</th>
                        <th>Fuente</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in listado_pendientes| orderBy:'FECHA_ESTADO':false "  ng-class="{danger: data.STATUS == 'MALO'}" >
                                <td>{{data.PEDIDO_ID}}-{{data.SUBPEDIDO_ID}}-{{data.SOLICITUD_ID}}</td>
                                <td>{{cutString(data.TIPO_ELEMENTO_ID,20)}}</td>
                                <td><font color="red">{{data.TIEMPO_COLA}}</font></td>
                                <td>{{data.CONCEPTO_ID}} <font ng-show="data.STATUS=='MALO'" color='red'><b>MALO</b></font></td>
                                <td>{{data.UEN_CALCULADA}}</td>
                                <td>{{data.MUNICIPIO_ID}}</td>
                                <td>{{data.FECHA_ESTADO}}</td>
                                <td>{{data.FECHA_CITA}}</td>
                                <td>{{data.FUENTE}}</td>
                            </tr>
                        </tbody>
                        </table>
			<pagination total-items="data1.totalItems" ng-model="data1.currentPage" ng-change="pageChanged('listadoPendientes')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="pull-right"><!--Flecha Arriba -->
    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-2x" data-toggle="tooltip" title="Volver arriba" data-placement="right"></i></a>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head--> 
<script>            
$(document).ready(function(){
    
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });
    
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
    
});
</script>
<!-- Flecha Arriba Estilo, dentro del head--> 

