<ol class="breadcrumb">
  <li><a href="./#/">Asignaciones</a></li>
  <li class="active">CR</li>

</ol>



<div class="row">
        <ul class="nav nav-pills">
            <li>
                    <a>Formas CR</a>
            </li>
        </ul>

        <div class="col-md-16">
            <div class="row">
                        <div class="col-md-6">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i>Nuevo CR<small> </small></h2>

                            <div class= "form-group">
                                <label class= "col-md-4">Tipo Incidente: </label>

                                <select ng-model="transaccion.TIPO_INCIDENTE" class="form-control" style="" >
                                        <option value='' disabled>---SELECCIONE---</option>
                                        <option value='TT'>TT</option>
                                        <option value='CR'>CR</option>

                                </select>

                            </div>

                                <div class="input-group">
                                    <span class="input-group-addon">Nuevo Incidente...</span>
                                    <input type="text" class="form-control" style="min-width: 100px" id="fromDate" placeholder="INCIDENTE" name="nuevo" ng-model="transaccion.INCIDENTE" maxlength="7"/>
                                </div>

                                <div class= "form-group">
                                    <label class= "col-md-4">Sistema: </label>

                                    <select ng-model="transaccion.SISTEMA" class="form-control" style="" >
                                            <option value='' disabled>---SELECCIONE---</option>
                                            <option value='SIEBEL'>SIEBEL</option>
                                            <option value='FENIX ORACLE'>FENIX ORACLE</option>
                                            <option value='FENIX ATC'>FENIX ATC</option>
                                            <option value='QUERY BUILDER'>QUERY BUILDER</option>
                                            <option value='PNI'>PNI</option>
                                            <option value='METASOLW(M6)'>METASOLW(M6)</option>
                                            <option value='GTC'>GTC</option>
                                    </select>
                                </div>


                               <div class="input-group" class="input-daterange col-sm-5">
                                 <span class="input-group-addon">Fecha de Solicitud</span>
                                                            <input type="text" class="form-control" style="min-width: 100px" id="fechaSolicitud" name="fromDate" placeholder="Seleccione Fecha" ng-model="transaccion.FECHA_SOLICITUD" datetime-picker date-format="yyyy-MM-dd H:mm:00" />

                                </div>


                                <div class="input-group">

                                    <span class="input-group-addon" class="col-lg-4" >Observaciones......</span>
                                    <input type="text" class="form-control" style="min-width: 150px" id="fromDate" placeholder="Observaciones" name="obs" ng-model="transaccion.OBSERVACIONES" />

                                </div>

                                <div class="col-md-6"><!--Inicia Div de Botones -->
                                 <br>
                                    <div class="form-group">
                                        <div class="controls">
                                             <button class="btn btn-success btn-sm" onclick="location.reload();" ng-click="saveTransaccion(transaccion);" ><span class="glyphicon glyphicon-plus-sign"></span> Guardar</button>
                                        </div>
                                    </div>
                                </div><!--Finaliza Div de Botones -->
                          </div>
                        </div>
        </div>

</div>

<br>
<div class="pull-right"><!--Flecha Arriba -->
    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-2x" data-toggle="tooltip" title="Volver arriba" data-placement="right"></i></a>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
$('#fechaSolicitud1').datetimepicker({
    timeFormat: 'hh:mm:ss',
    /* format: 'yyyy-mm-dd h:m:s',
     locale: 'es',
     ,
     todayBtn: "linked",*/
     autoclose: true
 });
</script>

<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
