<ol class="breadcrumb">
  <li><a href="./#/">Asignaciones</a></li>
  <li class="active">KPIS</li>
</ol>
<div class="row" ng-controller="TabController">
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Formas PNI</a>
        </li>
    </ul>

        <div class="col-md-16">
            <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i>Registros PNI<small> </small></h2>

                        </div>

<!--
                                 <div class="col-lg-4">

                                        <form class="form-inline" role="form">

                                                <div class="form-group btn-group">
                                                    <br>
                                                    <br>
                                                    <input type="text" size="15px" class="form-control btn-group btn btn-sm btn-default"
                                                           onClick="this.setSelectionRange(0, this.value.length)"
                                                           title="Escriba registro a Buscar" data-toggle="tooltip" data-placement="top"
                                                           placeholder="Buscador de Registros" ng-model="bregistro">
                                                    <button type="button" class="form-control btn btn-sm btn-primary" title="Buscar Pedido"
                                                            data-toggle="tooltip" data-placement="top" ng-click="buscarRegistroKPIS(bregistro);">
                                                        <i class="fa fa-search" aria-hidden="true"></i></button>

                                                </div>

                                            </form>

                                    </div>
-->


                    </div>
					<div class="row"><hr style="margin:0; padding:0; background-color: #5c5c3d; border: 0; height:1px;" >
                            <br></div>

                <div class="col-lg-6">
                    <div class="row">

                           <div class="form-group">
                                <label for="Negocio">
                                    Enviado de:
                                </label>
                                <select ng-model="transaccion.ENVIADO" class="form-control" style="" >
                                        <option value='' disabled>---SELECCIONE---</option>
                                        <option value='ASIGNACIONES'>ASIGNACIONES</option>
                                        <option value='DESPACHO'>DESPACHO</option>
                                        <option value='BRUTAL FORCE'>BRUTAL FORCE</option>
                                        <option value='PROACTIVIDAD'>PROACTIVIDAD</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Procesados">
                                    Usuario Envio:
                                </label>
                                <input type="text" ng-model ="transaccion.USUARIOENVIO" id="txtEnvio" name="txtEnvio" placeholder="JBEDOGOM" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="FechaSoli">
                                    Fecha Solicitud
                                </label>
                                <input type="datetime-local" ng-model="transaccion.FECHASOLICITUD" name="transaccion.txtFechaSoli" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="DireccionesCorre">
                                   Direcciones Corregidas
                                </label>
                                <input type="number" min="0" ng-model="transaccion.NroDirecciones" name="transaccion.Direcciones"
                                placeholder="Numero Direcciones Corregidas" class="form-control">
                             </div>


                        </div>
                    </div>

                    <div class="col-lg-6" >
                        <div class="row2">


                            <div class="form-group">
                                <label for="Negocio">
                                    Solucion:
                                </label>
                                <select ng-model="transaccion.SOLUCION" class="form-control" style="" >
                                        <option value='' disabled>---SELECCIONE---</option>
                                        <option value='Correcion limites y Poligonos'>CORRECCION LIMITES Y POLIGONOS</option>
                                        <option value='Ajuste digitacion de red (desplazamientos)'>AJUSTE DIGITACION DE RED (DESPLAZAMIENTOS)</option>
                                        <option value='Carga Proactiva'>CARGA PROACTIVA</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Procesados">
                                    Insumo:
                                </label>
                                <input type="text" ng-model ="transaccion.INSUMO" id="txtInsumo" name="txtInsumo" placeholder="INGRESAR" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="Observacion">
                                    Observacion:
                                </label>
                                <input type="text" ng-model ="transaccion.OBSERVACION" id="txtObservacion" name="txtObservacion" placeholder="Ingrese Observacion" class="form-control">
                            </div>

                                <br>
                                <div class="form-group">
                                    <div class="controls">

                                        <button class="btn btn-success  btn-sm" ng-click="saveTransaccion(transaccion);" ><span class="glyphicon glyphicon-plus-sign"></span> Guardar</button>

                                         <a href="./#/pni/" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</a>

                                        <!--<button class="btn btn-primary btn-sm" ng-click="EditTransaccionKPIS(transaccion);"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>-->


                                        <!-- <a href="./#/nca/" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</a>
                                        -->
                                    </div>
                                </div>
                        </div>
                    </div>

			<div class="row">
				<ul class="nav nav-list">
				  <li class="divider">.</li>
				</ul>
			 </div>

<!--
                    <div class="row">
		    <table align="center" width="100%">
			<tr>
		 	<td width="33%" align="left">
				Total de Registros: <b>{{data.totalItems}} </b>
			</td>
			<td width="33%" align="center">

                        </td>
			<td width="33%" align="right">
				<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
			</td>
			</tr>
		    </table>

                    <table class="table small table-striped table-hover table-bordered table-condensed" width="100%">
                            <thead>
                                    <th width="7%">Negocio</th>
                                    <th width="9%">FechaSoloci</th>
                                    <th width="9%">Item</th>
                                    <th width="9%">ANS Actividad</th>
                                    <th width="9%">Sistema</th>
                                    <th width="9%">Resultado</th>
                                    <th width="7%">Procesados</th>
                                    <th width="9%">Inconsistentes</th>
                                    <th width="9%">Observaciones</th>
                                    <th width="9%">FechaProce</th>
                                    <th width="9%">Responsable</th>
                                    <th ng-hide="true" width="4%">Acciones</th>
                            </thead>
                            <tbody>
                                    <tr ng-repeat="data in listado_transacciones| orderBy:'ID':true ">
                                    <td>{{data.NEGOCIO}}</td>
                                    <td>{{data.FECHASOLICI}}</td>
                                    <td>{{data.ITEMS}}</td>
                                    <td>{{data.ANSACTIVIDAD}}</td>
                                    <td>{{data.SISTEMAINFO}}</td>
                                    <td>{{data.RESULTADOCARGA}}</td>
                                    <td>{{data.ITEMSPROCESADO}}</td>
                                    <td>{{data.ITEMSINCONSISTENTES}}</td>
                                    <td>{{data.OBSERVACIONES}}</td>
                                    <td>{{data.FECHAPROCESADO}}</td>
                                    <td>{{data.RESPONSABLE}}</td>
                                    <td ng-hide="true" align="center"><button class="btn btn-success btn-xs" value="edit!" ng-click="getTransaccionKPIS();"><i class="fa fa-pencil fa-lg"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
			<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged()" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div>
-->

                  </div>
            </div>
        </div>
    </div>
<br>
<div class="pull-right"><!--Flecha Arriba -->
    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-2x" data-toggle="tooltip" title="Volver arriba" data-placement="right"></i></a>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
