<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<html ng-app="myApp" lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="google" content="notranslate"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- META -->
    <!-- CSS -->
    <link href="css/bootstrap.min1.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>
    <link href="css/gestor.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <!--link href='css/CalendarJulian/fullcalendar.css' rel='stylesheet' / --> <!--css del calendario agendamiento-->
    <link href='css/CalendarJulian/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <!--css del calendario agendamiento-->
    <link href="css/animate.css" rel="stylesheet">
    <link href='css/CalendarJulian/fullcalendar.css' rel='stylesheet'/>
    <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="css/select.css" rel="stylesheet">
    <link href="css/select2.css" rel="stylesheet">
    <link href="css/angular-notify.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-smilies.min.css">
    <link rel="stylesheet" href="css/uibootsrap/ui-bootstrap-custom-2.4.0-csp.css">
    <link rel="stylesheet" href="css/angularjs-datetime-picker.css"/>
    <link href="node_modules/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-notify.css"/>
    <!-- CSS -->
    <!-- Scripts -->
    <!--script src="js/jquery-1.11.3.min.js"></script-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--script src='https://www.google.com/recaptcha/api.js'></script-->
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src='js/jsJulian/fullcalendar.min.js'></script>
    <script src='js/jsJulian/lang-all.js'></script>
    <!--script src='js/jsJulian/moment.min.js'></script-->
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/moment/min/moment-with-locales.min.js"></script>
    <script src="node_modules/moment/locale/es.js"></script>
    <script src='js/select2.min.js'></script>
    <script src="js/socketio/socket.io.js"></script>



    <title>Gestor Operaciones - {{title}}</title>

    <script language="javascript">
        function activar() {
            var ipedido = document.getElementById("ipedido");
            var submit = document.getElementById("submit");
            var iniciar = document.getElementById("inicaiar");
            ipedido.disabled = false;

            iniciar.className = "btn btn-success disabled";
            submit.className = "btn btn-danger";
            iniciar.setAttribute("disabled", "disabled");
            submit.removeAttribute("disabled");
        }
    </script>
</head>
<body>
<!--[if lt IE 8]>
<p class="">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav ng-show="shownavs" class="navbar navbar-default navbar-static-top" id="headerazo">
    <div style="background:#002E6C">
        <br>
    </div>


    <div id="logoutdiv"><!-- Logout div -->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand navbar-pad-izquierda" href=""><span class="LogoFontBlue">Gestor</span> <span
                        class="LogoFontRed">Operaciones</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <!-- Asignaciones -->
                    <li class="dropdown"
                        ng-show="logedUser.GRUPO=='ASIGNACIONES' || logedUser.GRUPO=='RECONFIGURACION' || logedUser.GRUPO=='INCONSISTENCIAS' || logedUser.GRUPO=='NCA' || logedUser.GRUPO=='SUPER'">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Asignaciones <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-cog DemePedido"></i> Gestion</a></a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a href=".#/asignacion/"><i class="fa fa-cog DemePedido"></i>
                                        Asignacion</a></li>
                                    <li class="menu-item"><a href=".#/tx/asignaciones/"><i
                                            class="fa fa fa-circle-o DemePedido"></i> DemePedido</a></li>
                                    <li ng-hide="true" class="menu-item "><a href=".#/asignacion_ordenes"><i
                                            class="fa fa-cog DemePedido"></i> O-XXX</a></li>
                                    <li class="menu-item divider" role="separator"></li>
                                    <li class="menu-item hidden"><a href=".#/reconfiguracion"><i
                                            class="fa fa-cog DemePedido"></i> Reconfiguracion</a></li>
                                    <li class="menu-item hidden"><a href=".#/tx/siebel_asignaciones"><i
                                            class="fa fa-cog DemePedido"></i> Siebel</a></li>
                                    <li class="menu-item "><a href=".#/nca"><span class="fa fa-play"></span> NCA</a>
                                    </li>
                                    <li class="menu-item divider" role="separator"></li>
                                    <li class="menu-item hidden"><a href=".#/tx/edatel_asignaciones"><i
                                            class="fa fa-cog DemePedido"></i> Edatel</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href=".#/scheduling/"><i class="fa fa-repeat"></i> Alarmado Proactivos</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa fa-circle-o DemePedidoBlue"></i> Listados</a></a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a href=".#/pendientes_asignaciones/">Pendientes</a></li>
                                    <li class="menu-item divider" role="separator"></li>
                                    <li class="menu-item"><a href=".#/historico_asignaciones/">Historico</a></li>
                                    <li class="menu-item"><a href=".#/registrosAuditoria/">Auditorias</a></li>
                                    <li class="menu-item divider" role="separator"></li>
                                    <li class="menu-item"><a href=".#/edatel/clientes/">Clientes Edatel</a></li>
                                    <li class="menu-item divider" role="separator"></li>
                                </ul>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li ng-show="logedUser.CARGO_ID<='5'"><a href=".#/indicadores/"><span
                                    class="fa fa-bar-chart"></span> Indicadores</a></li>
                        </ul>
                    </li><!-- Asignaciones -->
                    <!-- Agendamiento -->

                    <li class="dropdown" ng-show="logedUser.GRUPO=='AGENDAMIENTO' || logedUser.GRUPO=='SUPER'">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Agendamiento <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-cog DemePedido"></i> Gestion</a></a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a href=".#/agendamiento/reagendamiento"><i
                                            class="fa fa-play"></i> Reagendamiento</a></li>
                                    <li class="menu-item"><a href=".#/agendamiento/edatel"><i class="fa fa-play"></i>
                                        Edatel</a></li>
                                    <li ng-show="logedUser.GRUPO=='AGENDAMIENTO' || logedUser.GRUPO=='SUPER'"><a
                                            href=".#/agendamiento/adelantaragenda"><i class="fa fa-hand-o-right"></i>
                                        Adelantar Agenda</a></li>
                                    <li class="menu-item"><a href=".#/auditoria/"><span class="fa fa-play"></span>
                                        Auditoria Reagendamiento</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href=".#/scheduling/"><i class="fa fa-repeat"></i> Alarmado Proactivos</a></li>
                            <li><a href=".#/parametrizacion-siebel/"><i class="fa fa-calendar"></i> Parametrización</a>
                            </li>
                            <li><a href=".#/codigo_resultado/"><i class="fa fa-cloud-upload"></i> Cargas Manuales</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa fa-circle-o DemePedidoBlue"></i> Listados</a></a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a href=".#/pendientesAgendamiento/"> Pendientes</a></li>
                                    <li class="menu-item"><a href=".#/registros-agendamiento/"> Historico</a></li>
                                    <li class="menu-item"><a href=".#/cupos-agendamiento/"> Ocupacion</a></li>
                                    <li class="menu-item"><a href=".#/Pedidos_Microzonas/"> Pedidos Microzona</a></li>
                                    <li class="menu-item"><a href=".#/tabla_agendamiento/"> Tabla Agendamiento</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li ng-show="logedUser.CARGO_ID<='6'"><a href=".#/agendamiento/"><i
                                    class="fa fa-bar-chart"></i> Indicadores</a></li>

                        </ul>
                    </li><!-- Agendamiento -->
                    <!-- Activacion -->
                    <li class="dropdown" ng-show="logedUser.GRUPO=='ACTIVACION' || logedUser.GRUPO=='SUPER'">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Activación <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-cog DemePedido"></i> Gestion</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item"><a href=".#/demepedido-activacion/"><span
                                            class="fa fa fa-circle-o DemePedido"></span> DemepedidoActivacion</a></li>

                                       <li class="menu-item"><a href=".#/amarillas/"><span
                                            class="fa fa fa-cog DemePedido"></span> DemepedidoAmarillas</a></li>      
    
                                    <li class="menu-item"><a href=".#/actividades/"><span
                                            class="fa fa fa-hand-o-right actividades"></span> Actividades</a></li>

                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href=".#/alarmas/"><span class="fa fa-bullhorn"></span> Alarmas</a></li>
                            <li><a href=".#/cargar_activacion/"><i class="fa fa-cloud-upload"></i>Importar Activacion</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="" title="" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa fa-circle-o DemePedidoBlue"></i> Listados</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item disabled"><a href=".#/pendientes_activacion/"> Pendientes</a>
                                    </li>
                                    <li class="menu-item"><a href=".#/historico_activacion/"> Historico</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li ng-show="logedUser.CARGO_ID<='6'"><a href=".#/activacion/"><span
                                    class="fa fa-bar-chart"></span> Indicadores</a></li>
                        </ul>
                    </li><!-- Activacion -->
                    <!-- Herramientas -->
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Herramientas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:BuscaNodo();"><span class="fa fa-search"></span> Buscador Nodos HFC</a>
                            </li>
                            <li><a href="javascript:BuscaGPON();"><span class="fa fa-search"></span> Buscador GPON</a>
                            </li>
                            <li><a href="javascript:abrirCalculoDistancia();"><span class="fa fa-search"></span>
                                Capacidad COBRE</a></li>
                            <li><a href="#/tips/"><span class="fa fa-exclamation-circle"></span> Tips</a></li>
                        </ul>
                    </li><!-- Herramientas -->
                    <!-- Documentacion -->
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Documentación <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href=".#/docuactivacion/"><span class="fa fa-file-text"></span> Activación</a></li>
                        </ul>
                    </li><!-- Documentacion -->
                    <!-- Administracion -->
                    <li class="dropdown"
                        ng-show="logedUser.CARGO_ID<='5' && (logedUser.GRUPO=='ASIGNACIONES' || logedUser.GRUPO=='SUPER')">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Administracion <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-show="logedUser.CARGO_ID=='1'"><a href=".#/dashboard/"><span
                                    class="fa fa-tachometer DemePedidoBlue"></span> Dashboard</a></li>
                            <li ng-show="logedUser.CARGO_ID=='1'"><a href=".#/users/"><span
                                    class="fa fa-users DemePedidoBlue"></span> Usuarios</a></li>
                            <li ng-show="logedUser.CARGO_ID<='5'"><a href=".#/admontips/"><span
                                    class="fa fa-file-code-o DemePedidoBlue"></span> Tips</a></li>
                        </ul>
                    </li><!-- Administracion -->

                </ul>
                <ul class="nav navbar-nav navbar-right navbar-pad-derecha">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="badge badge-warning" uib-tooltip="Tareas" tooltip-placement="bottom">{{taskbyUserCount || 0}}</span>
                            <button type="button" class="btn btn-primary btn-circle-xs "><i class="fa fa-user"></i>
                            </button>
                            <strong>{{logedUser.login}}</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <p class="text-center">
                                                <button type="button" class="btn btn-primary btn-circle "><i
                                                        class="fa fa-user fa-3x"></i></button>
                                            </p>
                                        </div>
                                        <div class="col-lg-10">
                                            <p class="text-left"><span
                                                    class="LoginNameFontRed">{{logedUser.name}}</span><br>
                                                <small><strong>Grupo: </strong>{{logedUser.GRUPO}}</small>
                                                <br>
                                                <small><strong>Cargo: </strong>{{logedUser.CARGO_ID}}</small>
                                                <br>
                                                <small><strong>Hora de Inicio: </strong>{{logedUser.hora_ingreso}}
                                                </small>
                                                <br>

                                            </p>
                                        </div>
                                    </div>

                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="form-inline">
                                            <div class="col-lg-12">
                                                <div class="btn-group" role="group" ng-controller="pushNotificationsCtrl">
                                                    <button type="button" class="btn btn-default"  ng-disabled="logedUser.CARGO_ID!=1" ng-click="abrirMsgNode()">{{nodeClients}} <i class="fa fa-user-o" aria-hidden="true"></i></button>
                                                </div>


                                                <!--button  type="button" class="btn form-control btn-md  btn-primary navbar-btn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal" onclick="">Pausa</button-->
                                                <button id="logout" type="button"
                                                        class="btn form-control btn-md btn-danger navbar-btn"
                                                        ng-click="logout();">Salir
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- Logout div -->
    </div><!-- /.container-fluid -->
</nav>
<!-- Modal Pausa Activa-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                <h4 class="modal-title">Pausa Activa</h4>
            </div>
            <div class="modal-body">
                <p>
                <div digital-clock></div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success" data-dismiss="modal">Terminar</button>
            </div>
        </div>

    </div>
</div><!-- Modal -->


<!--PRUEBA KPIS -->
<!--div class="container-fluid" ng-show="logedUser && logedUser.GRUPO!='AGENDAMIENTO' && logedUser.GRUPO!='FACTIBILIDADES'"-->
<div class="container-fluid"
     ng-hide="actualView=='gpon' || actualView=='tip' || actualView=='vecinos' ||  !logedUser || logedUser.GRUPO=='AGENDAMIENTO'||actualView=='dashboard' ||actualView=='indicadores' || actualView=='tips' || actualView=='Task'">

    <div class="col-sm-3"></div>
    <div class="col-sm-2"><!--Cuadro Asignaciones -->
        <div class="row no-gutter">
            <button data-toggle="collapse" data-target="#nasignaciones" class="btn btn-default btn-md"
                    style="height:40px;width:200px;"><i class="fa fa-sort-desc"
                                                        style="color:blue; vertical-align: middle;"></i> <span>Asignaciones: </span><strong>{{totalNegocioAsignaciones}}</strong>
                <i class="{{nasignacionesstyle.ICON}}" style="color:{{nasignacionesstyle.STYLE}};"></i></button>
        </div>
        <div class="row no-gutter">
            <div id="nasignaciones" class="collapse" style="width:200px"></div>
        </div>

    </div><!--Cuadro Asignaciones -->

    <div class="col-sm-2"><!--Cuadro Reconfiguraciones -->
        <div class="row no-gutter">
            <button data-toggle="collapse" data-target="#nreconfiguracion" class="btn btn-default btn-md"
                    style="height:40px;width:200px"><i class="fa fa-sort-desc" style="color:blue"></i> Reconfigurar:
                <strong>{{totalNegocioReconfiguracion}}</strong> <i class="{{nreconfiguracionstyle.ICON}}"
                                                                    style="color:{{nreconfiguracionstyle.STYLE}};"></i>
            </button>
        </div>
        <div class="row no-gutter">
            <div id="nreconfiguracion" class="collapse" style="width:200px"></div>
        </div>

    </div><!--Cuadro Reconfiguraciones -->

    <div class="col-sm-2"><!--Cuadro Otros -->
        <div class="row no-gutter">
            <button data-toggle="collapse" data-target="#notros" class="btn btn-default btn-md"
                    style="height:40px;width:200px"><i class="fa fa-sort-desc" style="color:blue"></i> Otros: <strong>{{totalNegocioOtros}}</strong>
                <i class="{{notrosstyle.ICON}}" style="color:{{notrosstyle.STYLE}};"></i></button>
        </div>
        <div class="row no-gutter">
            <div id="notros" class="collapse" style="width:200px"></div>
        </div>

    </div><!--Cuadro Otros -->

    <div class="col-sm-3"></div>
</div><!--Container -->
<!--PRUEBA KPIS -->

<!--PRUEBA KPIS AGENDAMIENTO -->
<div id="kpisAgendamiento" class="container-fluid"
     ng-show="logedUser && logedUser.GRUPO=='AGENDAMIENTO' && actualView!='gpon'">

    <div class="col-sm-2"><!--Cuadro -->
        <div class="row no-gutter">
            <button data-toggle="collapse" data-target="#nagendamiento" class="btn btn-default btn-md"
                    style="height:40px;width:200px"><i class="fa fa-sort-desc" style="color:blue"></i> Pendientes:
                <strong>{{totalNegocioAgendamiento}}</strong> <i class="{{nagendamientostyle.ICON}}"
                                                                 style="color:{{nagendamientostyle.STYLE}};"></i>
            </button>
        </div>
        <div class="row no-gutter">
            <div id="nagendamiento" class="collapse" style="width:200px">

                <div ng-repeat='totalDepa in totalesDepartamento'>
                    <accordion close-others="oneAtATime"><!--Acordeon -->
                        <accordion-group>
                            <accordion-heading>

                                <a ng-href='' ng-click='abreZona(totalDepa.DEPARTAMENTO)'>{{totalDepa.DEPARTAMENTO==""?"VACIOS":totalDepa.DEPARTAMENTO}}</a>
                                {{totalDepa.COUNTER}}
                            </accordion-heading>
                            <div ng-bind-html="selected_option">
                            </div>
                        </accordion-group><!--Fecha Cita -->
                    </accordion><!--Acordeones -->
                </div>
            </div>
        </div>

    </div><!--Cuadro-->

    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <br><br>
        <div id="tablaZona1"></div>
    </div>
</div><!--Container -->
<!--END PRUEBA KPIS  AGENDAMIENTO-->
</div><!--raro -->
<br>
<br>


<div class="container"><!--Contendor body -->

    <div ng-view="" id="ng-view"></div>
</div><!--Contendor body -->
<div ng-show="false" class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="footerazo">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img src="./images/logo_tigoune.png" height="67" width="133"></img></div>
            <div class="col-md-6 text-left"><h3>Gerencia Alistamiento de Operaciones</h3></div>

        </div>
    </div>
</div>
<script type="text/javascript" src="js/fusioncharts.js"></script>
<!--script src="js/angular.min.js"></script -->
<script src="js/angular.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/tinymce/tinymce.min.js"></script>
<script src="js/tinymce/tinymce.js"></script>
<!--script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script-->
<!--<script src="js/ui-bootstrap-tpls-0.12.0.js"></script>-->
<script src="js/uibootsrap/ui-bootstrap-custom-tpls-2.4.0.min.js"></script>
<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>

<!--script src="js/jsjuli/moment.js"></script-->
<script src="js/jsjuli/fullcalendar.js"></script>
<script src="js/jsjuli/gcal.js"></script>
<script src="js/jsjuli/calendar.js"></script>
<script src="js/jsJulian/angular-file-upload.js"></script>
<script src="js/angular-base64.min.js"></script>
<script src="js/select.js"></script>
<script src="js/angular-notify.js"></script>
<script src="js/angularfire.min.js"></script>
<script src="js/firebase.js"></script>
<script src="js/angular-smilies.min.js"></script>
<script src="js/angularjs-datetime-picker.min.js"></script>
<script src="node_modules/angular-xeditable/dist/js/xeditable.js"></script>
<script src="node_modules/angular-moment/angular-moment.min.js"></script>

<!--<script src="http://10.100.82.125/autobots/plugins/conversejs/dist/converse.js"></script>-->
<!--<script src="js/jsJulian/controllers.js"></script>-->


<script src="app/app.js"></script>
<script language='javascript'>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script>
    function BuscaNodo() {
        //window.open("http://10.100.82.125/gestoroperaciones-dev/#/cmts/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=500, width=700, height=600");
        window.open(window.location.pathname + "#/cmts/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=500, width=700, height=600");
    }

    function BuscaPagina(pagina) {
        //window.open("http://10.100.82.125/gestoroperaciones-dev/#/cmts/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=500, width=700, height=600");
        window.open("#/vecinos/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=20, width=1200px, height=600");
    }

    function BuscaGPON() {
        //window.open("http://10.100.82.125/gestoroperaciones-dev/#/cmts/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=500, width=700, height=600");
        window.open(window.location.pathname + "#/gpon/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=50, width=1100, height=450");
    }

    function abrirCalculoDistancia() {
        window.open(window.location.pathname + "#/distancia/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=20, width=1200px, height=600");
    }

    function abrirTips() {
        window.open(window.location.pathname + "#/tips/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=20, width=800px, height=600");
    }

</script>

</body>
</html>
