	<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> Historico de Transacciones</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
					<ul class="nav navbar-nav navbar-right">
						<div class="col-md-1 col-xs-1 ">
							<div data-ng-if="loading">
								<img title="Esperando respuesta" tooltip data-placement="top" src="images/loader.gif" />
							</div>
						</div>
					</u>
				</div>
				<div class = "panel-heading nav navbar-default">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<ul class="nav navbar-nav navbar-left">
									<li ng-hide="true">
										<select ng-model="data.campo" class="btn btn-default btn-xs grupo-select">
											<option value='TODO' selected="selected">TODO</option>
											<option value='user'>Usuario</option>
											<option value='fuente'>Fuente</option>
											<option value='concepto_final'>Concepto</option>
											<option value='estado'>Estado</option>
											<option value='pedido_id'>Pedido</option>
										</select>

									</li>
									<li ng-hide="true">&nbsp;</li>
									<li ng-hide="true">
										<input class="btn btn-default btn-xs" name="valorCampo" ng-model="data.valorCampo" select-on-click capitalize type="text" placeholder="Palabra">

									</li>
									<li>&nbsp;</li>
									<li>
										<div class="input-daterange" id="datepicker">
											<input type="text" class="btn btn-default btn-xs"  id="fromDate" name="fromDate" ng-model="$scope.data.fechaini" /><i class="fa fa-calendar fa-fw"></i>
											<input type="text" class="btn btn-default btn-xs"  id="toDate" name="toDate" ng-model="data.fechaFin" /><i class="fa fa-calendar fa-fw"></i>
											<button type="button" class="btn btn-primary btn-xs" ng-click="listadoactivacion1()"  title="Actualizar" tooltip data-placement="left" ng-disabled="loading">
												<i class="fa fa-search"  aria-hidden="true"></i>
											</button>
											<button type="button" class="btn btn-primary btn-xs" ng-click="csvListadoActivacion()"  title="Exportar" tooltip data-placement="left" ng-disabled="loading">
												<i class="fa fa-cloud-download"  aria-hidden="true"></i>
											</button>

										</div>
									</li>



								</ul>
								<ul class="nav navbar-nav navbar-right">
									<input style="width:200px"  class="btn btn-default btn-xs " type="text" ng-model="filtroInput" placeholder="Filtro" ng-disabled="loading" select-on-click capitalize />
								</ul>
							</div>

						</div>
					</div>

				</div>
				<div class="panel-body fixed-panel" >

					<table class="table small table-striped table-hover table-bordered table-condensed">
						<thead>
							<th>ORDER_SEQ_ID</th>
							<th>PEDIDO</th>
							<th>ESTADO</th>
							<th>FECHA_CREACION</th>
							<th>FECHA_EXCEPCION</th>
							<th>PRODUCTO</th>
                            <th>ASESOR</th>
                            <th>FECHA_GESTION</th>
                            <th>DURACION</th>
                            <th>TIPIFICACION</th>
						</thead>
						<tbody>
							<tr ng-repeat="data in listadoactivacion | filter:filtroInput as results">
							<td><span class="small">{{data.ORDER_SEQ_ID}}</span></td>
							<td><span class="small">{{data.PEDIDO}}</span></td>
							<td><span class="small">{{data.ESTADO}}</span></td>
							<td><span class="small">{{data.FECHA_CREACION}}</span></td>
							<td><span class="small">{{data.FECHA_EXCEPCION}}</span></td>
							<td><span class="small">{{data.PRODUCTO}}</span></td>
                            <td><span class="small">{{data.ASESOR}}</span></td>
                                <td><span class="small">{{data.FECHA_GESTION}}</span></td>
                                <td><span class="small">{{data.DURACION}}</span></td>
                                <td><span class="small">{{data.TIPIFICACION}}</span></td>
                            </tr>
                        </tbody>
                    </table>



				</div>
				<div class="panel-footer clearfix" >
					<div class="col-md-12">
						<ul class="nav navbar-nav navbar-left">
							<li>Registros: <span class="badge badge-default">{{data.totalItems6}}</span></li>

						</ul>

						<ul class="nav navbar-nav navbar-right">

							<ul  uib-pagination class="pagination-sm" total-items="data.totalItems" ng-model="data.currentPage" max-size="6" boundary-links="true" num-pages="smallnumPages" previous-text="&#8672;" next-text="&#8674;" last-text="Último" first-text="Primero" items-per-page="100" boundary-link-numbers="false" rotate="false" ng-change="pageChanged('listadoactivacion1')" class="pagination-sm">
							</ul>


							<!-- old pagination
							<pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged('listadoPedidos')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination> -->

						</ul>
					</div>

				</div>


			</div>
		</div>

	</div><!--Row 1 Novedades -->
<br>
<ol class="breadcrumb">
	<li><a href=".#/">Home</a> </li>
	<li><a href="">Activación & Desactivación </a></li>
	<li class="active">{{title}} </li>
</ol>
<script>
$('.input-daterange').datepicker({
     format: 'yyyy-mm-dd',
     todayBtn: "linked",
     autoclose: true
 });
</script>
