<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

		  <div class = "panel panel-default">
			<div class = "panel-heading text-center">
			  <b>{{title}} <i class="fa fa-arrow-down" aria-hidden="true"></i></b>
			</div>
		  </div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="row">
			<div class="col-md-12 col-xs-12">


				<div class = "panel panel-default">
					<div class = "panel-heading nav navbar-default">
						<b><button type="button" class="btn btn-default btn-circle-xs pull-right" ng-click="actualizarPendientesPorConceptoColaActivacion();actualizarGraficaAD()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
									<i class="fa fa-refresh"  aria-hidden="true"></i>
								</button> Pendientes Fénix</b>
					</div>
					<div class = "panel-body">
						<ul class="list-group small">
							<span class="small">
							<a href="" ng-repeat="cola in listado_colas as Pendis" class="list-group-item animated slideInRight" ng-style="set_color(parseInt(cola.CANTIDAD))">{{cola.COLA_ID}}: <span class = "badge ">{{cola.CANTIDAD}}</span></a></span>
						</ul>
					</div>
					<div class="panel-footer clearfix">
						Total: <span class="label label-success">{{Pendis|sumarNum:'CANTIDAD'}}</span>
					</div>
				</div>
			</div>
			</div>
		
	<div class="row">
			<div class="col-md-12 col-xs-12">

				<div class = "panel panel-default" >
					<div class = "panel-heading nav navbar-default ">
						<div class="row">
							<div class="col-md-12">
							<b>Productividad</b></div></div>
						<div class="row">
							<div class="col-md-12">
							<select id="grupo" name="grupo" class="btn btn-default btn-xs grupo-select" ng-model="grupo.Cuartil" ng-change="topProductivos()">
								<option value="" disabled>---Grupo---</option>
								<option value="ACTIVADOR_SUSPECORE">ACTIVADOR_SUSPECORE</option>
								<option value="ACTIVADO_DOM" >ACTIVADO_DOM</option>
								<option value="AMARILLAS" >AMARILLAS</option>
							</select>
							<button type="button" class="btn btn-default btn-circle-xs pull-right" ng-click="topProductivos()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
									<i class="fa fa-refresh"  aria-hidden="true"></i>
								</button></div>
						</div></div>
					<div class = "panel-body fixed-panel">
						<ul class="list-group small">
							<span class="small">
							<a href="" ng-repeat="datar in listaProductivos as ranks" class="list-group-item animated slideInRight" ng-style="set_color_Cuartil(parseInt(datar.CUARTIL))">{{datar.RANK}} - <span ng-class= "{'on':'label label-info','off':'label label-danger'}[datar.ESTADO]">{{datar.ESTADO}}</span> - {{datar.USUARIO_ID}}  <span class = "badge ">{{datar.PEDIDOS}}</span></a>
							</span>
						</ul>
						<!--<div class="jumbotron"><h4>Modulo no disponible</h4></div>-->
					</div>
					<div class="panel-footer clearfix">
						Usuarios: <span class="label label-success">{{ranks.length}}</span>
						Gestionados: <span class="label label-success">{{ranks | sumarNum:'PEDIDOS'}}</span>
					</div>
				</div>

			</div>

			</div>
	</div><!--Colmd3 -->

		<div class="col-md-6"><!--Colmd6 -->
		<div class="row">

            <!--filtro -->
        		        <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading nav navbar-default">
                            <ul class="nav navbar-nav navbar-left">
                                <b>Parámetro de Entrega DemePedido</b>
                                <span style="color:red" class="pull-right" ng-hide="errorDatos==null">
                                    <i class="fa fa-exclamation-triangle warning" aria-hidden="true" ></i> {{errorDatos}}</span>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <div class="col-md-1 col-xs-1 ">
                                        <div data-ng-if="loading">
                                            <img title="Esperando respuesta" data-toggle="tooltip" data-placement="top"
                                                 src="img/loader.gif"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <table class="table small table-bordered table-condensed">
                                <tr>
                                    <th>Grupo</th>
                                    <th>Última Edición</th>
                                    <th>Usuario</th>
                                    <th>Editar</th>
                                </tr>
                                 <tr>
                                    <td>Activacion Suspecore</td>
                                    <td><font color='blue'>{{ordenamientoDemepedidoUpdateactivacion}}</font></td>
                                    <td>{{UsuarioParametroactivacion}}</td>
                                    <td>
                                        <select class="btn btn-default btn-xs grupo-select" id="demerec"
                                                ng-model="ordenamientoDemepedidoactivacion" style="width:auto;">
                                            <option value="FECHA_EXCEPCION">FECHA EXCEPCION</option>
                                            <option value="FECHA_CREACION">FECHA CREACION</option>
                                            <option value="FECHA_CARGA">FECHA CARGA</option>
                                        </select>
                                        <button class="btn btn-success btn-xs"
                                                ng-click="updateParametro('FECHA_ORDEN_DEMEPEDIDO_ACTIVACION',ordenamientoDemepedidoactivacion);">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-default btn-circle-xs"
                                                ng-click="buscarParametro('FECHA_ORDEN_DEMEPEDIDO_ACTIVACION')"
                                                title="Actualizar" data-toggle="tooltip" data-placement="left"
                                                ng-disabled="loading">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
								  <tr>
                                    <td>Amarillas</td>
                                    <td><font color='blue'>{{ordenamientoDemepedidoUpdateamarillas}}</font></td>
                                    <td>{{UsuarioParametroamarillas}}</td>
                                    <td>
                                        <select class="btn btn-default btn-xs grupo-select" id="demerec"
                                                ng-model="ordenamientoDemepedidoamarillas" style="width:auto;">
                                            <option value="FECHA_EXCEPCION">FECHA EXCEPCION</option>
                                            <option value="FECHA_CREACION">FECHA CREACION</option>
                                            <option value="FECHA_CARGA">FECHA CARGA</option>
                                        </select>
                                        <button class="btn btn-success btn-xs"
                                                ng-click="updateParametro('FECHA_ORDEN_DEMEPEDIDO_AMARILLAS',ordenamientoDemepedidoamarillas);">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-default btn-circle-xs"
                                                ng-click="buscarParametro('FECHA_ORDEN_DEMEPEDIDO_AMARILLAS')"
                                                title="Actualizar" data-toggle="tooltip" data-placement="left"
                                                ng-disabled="loading">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>


                            </table>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="col-md-8">
                                <ul class="nav navbar-nav navbar-left">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

        <!--filtro -->
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading nav navbar-default">

					<ul class="nav navbar-nav navbar-left">
						<b>Exportes</b>
						<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="col-md-1 col-xs-1 ">
						            <div data-ng-if="loading">
										<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
						            </div>
						    </div>
						</li>
						<li>

						</li>
					</ul>

				</div>
                 <div class="panel-body">
                            <table class="table small table-bordered table-condensed">
                                <tr>
                                    <th>Exporte</th>
                                    <th>Accion</th>
                                    <th>Totales</th>
                                    


                                </tr>
                                <tr>
                                    <td>Pendientes Activador Suspecore Siebel</td>
                                    <td>
								<button class="btn btn-success btn-xs" ng-click="csvActivacionSiebel();"  ng-class="{'disabled': tbl_fechacita.length==0}"><span class="glyphicon glyphicon-download-alt"></span>Exportar</button>
							</td>
                                    <td width="50%" align="left">
                                    <b>{{data.totalItems}} </b>
                                 </td>
                                    
                                </tr>
                                  <tr>
                                    <td>Activacion Pendientes Activador Dom</td>
                                    <td>
								<button class="btn btn-success btn-xs" ng-click="csvActivacionSiebeldom();"  ng-class="{'disabled': tbl_fechacita.length==0}"><span class="glyphicon glyphicon-download-alt"></span>Exportar</button>
							</td>
                                    
                                </tr>
                              

                                  <tr>
                                    <td>Seguimiento Activacion Fenix</td>
                                   <td>
								<button class="btn btn-success btn-xs" ng-click="csvListadoActivacion();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span>Exportar</button>
							</td>
                                      
                                </tr>

                                <tr>
                                    <td> Fenix</td>
                                   <td>
								<button class="btn btn-success btn-xs" ng-click="csvActivacion();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span>Exportar</button>
							</td>
                                      
                                </tr>
								 <tr>
                                    <td> Fenix colas</td>
                                   <td>
								<button class="btn btn-success btn-xs" ng-click="csvActivacioncolas();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span>Exportar</button>
							</td>
                                      
                                </tr>

								 <tr>
                                    <td> Amarillas</td>
                                   <td>
								<button class="btn btn-success btn-xs" ng-click="csvAmarillas();"  ng-class="{'disabled': listadoactivacion.length==0}"><span class="glyphicon glyphicon-download-alt"></span>Exportar</button>
							</td>
                                       
                                </tr>
                            </table>
                        </div>

				<div class="panel-footer clearfix" >

					<div class="col-md-8">

						<ul class="nav navbar-nav navbar-left">


						</ul>

					</div>


				</div>


			</div>
		</div>
		           <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 >Gráficas</h6>
                            <span class="pull-right">
                                <!-- Tabs -->
                                <ul class="nav panel-tabs">
                                    <li ng-class="{'active' : activeTabs == 1}"><a href="" ng-click="setActiveTab(1)"
                                                                                   data-toggle="tab"><i class="fa fa-bar-chart"
                                                                                                        aria-hidden="true"></i> Pendientes</a></li>
                                    <li ng-class="{'active' : activeTabs == 2}"><a href=""
                                                                                   ng-click="setActiveTab(2);ProductividadPorHora();"
                                                                                   data-toggle="tab"><i class="fa fa-bar-chart"
                                                                                                        aria-hidden="true"></i> Seguimiento</a></li>
                                   
                                </ul>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div ng-class="{'tab-pane fade in active': activeTabs === 1, 'tab-pane' : activeTabs !== 1}"
                                     id="tab1default">
                                    <div fusioncharts
									type= "column2d"
									renderAt= "chart-container"
									width= "500"
									height= "300"
									datasource="{{myDataSourceAD}}">
								</div><!--Fusioncharts -->
                                </div>

                               <div ng-class="{'tab-pane fade in active': activeTabs === 2, 'tab-pane' : activeTabs !== 2}"
                                     id="tab1default">

                                      <div fusioncharts
									type= "column2d"
									renderAt= "chart-container"
									width= "500"
									height= "300"
									datasource="{{myDataSourceActivacion}}">
								</div><!--Fusioncharts-->

                                </div>

                               
                            </div>
                        </div>
                       
                    </div>
                </div>
				

		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading nav navbar-default">
					<div class="row">
						<div class="col-md-6">
							<ul class="nav navbar-nav navbar-left">
								<b>Pendientes por Cola</b>
								<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

							</ul>
						</div>
						<div class="col-md-6">
							<ul class="nav navbar-nav navbar-right">
								<div class="col-md-1 col-xs-1 ">
											<div data-ng-if="loading">
												<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
											</div>
									</div>
								<li>
									<div class="col-md-12 col-xs-6 ">
										<input style="width:120px"  class="btn btn-default btn-xs " type="text" ng-model="filtroInput" placeholder="Filtro" ng-disabled="loading" select-on-click capitalize/>
										<button type="button" class="btn btn-default btn-circle-xs" ng-click="actualizarGraficaAD()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
											<i class="fa fa-refresh"  aria-hidden="true"></i>
										</button>
										<button type="button" class="btn btn-default btn-circle-xs" ng-click="csvActivacion()" title="Exportar Pendientes" data-toggle="tooltip" data-placement="left" ng-disabled="loading">
											<i class="fa fa-cloud-download"  aria-hidden="true"></i>
										</button>
									</div>
								</li>
							</ul>
							</div>


						</div>
				</div>
				<div class="panel-body fixed-panel">

						<table class="table small table-striped table-hover table-bordered table-condensed">
							<thead>
								<th>Cola</th>
								<th>Total</th>
								<th> 0-2h</th>
								<th> 3-4h</th>
								<th> 5-6h</th>
								<th> 7-12h</th>
								<th> 13-24h</th>
								<th> 25-48h</th>
								<th>Mas de 48h</th>
                               </thead>
                               <tbody>
                                   <tr ng-repeat="data in listado_colas | orderBy:'fecha_fin':true | filter:filtroInput">
									   	<td>{{data.COLA_ID}}</td>
										<td ng-init="listado_colas.totales = parseInt(listado_colas.totales) + parseInt(data.CANTIDAD)">{{data.CANTIDAD}}</td>
										<td ng-init="listado_colas.total02 = parseInt(listado_colas.total02) + parseInt(data.Entre02)">{{data.Entre02}}</td>
										<td ng-init="listado_colas.total34 = parseInt(listado_colas.total34) + parseInt(data.Entre34)">{{data.Entre34}}</td>
										<td ng-init="listado_colas.total56 = parseInt(listado_colas.total56) + parseInt(data.Entre56)">{{data.Entre56}}</td>
										<td ng-init="listado_colas.total712 = parseInt(listado_colas.total712) + parseInt(data.Entre712)">{{data.Entre712}}</td>
										<td ng-init="listado_colas.total1324 = parseInt(listado_colas.total1324) + parseInt(data.Entre1324)">{{data.Entre1324}}</td>
										<td ng-init="listado_colas.total2548 = parseInt(listado_colas.total2548) + parseInt(data.Entre2548)">{{data.Entre2548}}</td>

										<td ng-init="listado_colas.totalmas48 = parseInt(listado_colas.totalmas48) + parseInt(data.Masde48)">{{data.Masde48}}</td>

                                        </tr>
                                </tbody>
                                <tfoot>
									<tr class="info">
									 	<th>Totales</th>
										<th>{{listado_colas.totales}}</th>
										<th>{{listado_colas.total02}}</th>
										<th>{{listado_colas.total34}}</th>
										<th>{{listado_colas.total56}}</th>
										<th>{{listado_colas.total712}}</th>
										<th>{{listado_colas.total1324}}</th>
										<th>{{listado_colas.total2548}}</th>
										<th>{{listado_colas.totalmas48}}</th>
									</tr>

                                </tfoot>
						</table>

				</div>
				<div class="panel-footer clearfix" >

					<div class="col-md-8">

						<ul class="nav navbar-nav navbar-left">
							Total: <span class="label label-success">{{listado_colas.totales}}</span>
						</ul>

					</div>


				</div>


				</div>
			</div>

		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading nav navbar-default">

					<div class="row" >
						<div class="col-md-6">
							<ul class="nav navbar-nav navbar-left">
								<b>Pendientes Por Concepto</b>
								<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>

							</ul>
						</div>
						<div class="col-md-6">
							<ul class="nav navbar-nav navbar-right">
								<div class="col-md-1 col-xs-1 ">
											<div data-ng-if="loading">
												<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
											</div>
									</div>
								<li>
									<div class="col-md-12 col-xs-6 ">
										<input style="width:120px"  class="btn btn-default btn-xs " type="text" ng-model="filtroInput" placeholder="Filtro" ng-disabled="loading" select-on-click capitalize/>
										<button type="button" class="btn btn-default btn-circle-xs" ng-click="actualizarGraficaAD()"  title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading" >
											<i class="fa fa-refresh"  aria-hidden="true"></i>
										</button>
										<button type="button" class="btn btn-default btn-circle-xs" ng-click="csvActivacion()" title="Exportar Pendientes" data-toggle="tooltip" data-placement="left" ng-disabled="loading">
											<i class="fa fa-cloud-download"  aria-hidden="true"></i>
										</button>
									</div>
								</li>
							</ul>
							</div>


						</div>



				</div>
				<div class="panel-body" >
						<table class="table small table-striped table-hover table-bordered table-condensed">
							<thead>
								<th>Concepto</th>
								<th>Total</th>
								<th> 0-2h</th>
								<th> 3-4h</th>
								<th> 5-6h</th>
								<th> 7-12h</th>
								<th> 13-24h</th>
								<th> 25-48h</th>
								<th>Mas de 48h</th>
							</thead>
							<tbody>
							 <tr ng-repeat="concep in listado_conceptos| orderBy:'fecha_fin':true | filter:filtroInput">
								<td>{{concep.CONCEPTO_ID}}</td>
								<td ng-init="listado_conceptos.totales = parseInt(listado_conceptos.totales) + parseInt(concep.CANTIDAD)">{{concep.CANTIDAD}}</td>
								<td ng-init="listado_conceptos.total02 = parseInt(listado_conceptos.total02) + parseInt(concep.Entre02)">{{concep.Entre02}}</td>
								<td ng-init="listado_conceptos.total34 = parseInt(listado_conceptos.total34) + parseInt(concep.Entre34)">{{concep.Entre34}}</td>
								<td ng-init="listado_conceptos.total56 = parseInt(listado_conceptos.total56) + parseInt(concep.Entre56)">{{concep.Entre56}}</td>
								<td ng-init="listado_conceptos.total712 = parseInt(listado_conceptos.total712) + parseInt(concep.Entre712)">{{concep.Entre712}}</td>
								<td ng-init="listado_conceptos.total1324 = parseInt(listado_conceptos.total1324) + parseInt(concep.Entre1324)">{{concep.Entre1324}}</td>
								<td ng-init="listado_conceptos.total2548 = parseInt(listado_conceptos.total2548) + parseInt(concep.Entre2548)">{{concep.Entre2548}}</td>
								<td ng-init="listado_conceptos.totalmas48 = parseInt(listado_conceptos.totalmas48) + parseInt(concep.Masde48)">{{concep.Masde48}}</td>
							</tr>
							</tbody>
							<tfoot>
								<tr class="info">
									<th>Totales</th>
									<th>{{listado_conceptos.totales}}</th>
									<th>{{listado_conceptos.total02}}</th>
									<th>{{listado_conceptos.total34}}</th>
									<th>{{listado_conceptos.total56}}</th>
									<th>{{listado_conceptos.total712}}</th>
									<th>{{listado_conceptos.total1324}}</th>
									<th>{{listado_conceptos.total2548}}</th>
									<th>{{listado_conceptos.totalmas48}}</th>
								</tr>
							</tfoot>
						</table>

				</div>
				<div class="panel-footer clearfix" >

					<div class="col-md-8">

						<ul class="nav navbar-nav navbar-left">
							Total: <span class="label label-success">{{listado_conceptos.totales}}</span>
						</ul>

					</div>


				</div>


				</div>
			</div>

		</div>
		</div><!--Colmd6 -->

		<div class="col-md-3 col-xs-3" ng-controller="chatioCtrl">

			<div class = "panel panel-default" >
				<div class = "panel-heading nav navbar-default ">
					<div class="row">
						<div class="col-md-6">
						<b>Chat</b></div>
						<div class="col-md-6">
							<span class="pull-right">
								<b><button type="button" class="btn btn-primary btn-xs">Online: <span class="badge">{{userOnLine}}</span></button></b>
							</span>
						</div>
					</div>
				</div>
				<div class = "panel-body fixed-panel" schroll-bottom="lista">
					<!--<ul class="list-group small">
						<a href="" ng-repeat="msg in lista" class="list-group-item animated slideInRight"><strong><i ng-style="userStatus()" class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;{{msg.user}}:</strong>&nbsp; {{msg.mensaje}} <br><span class="small">{{msg.log | timeago}}</span> </a>
					</ul>-->
					<div class="jumbotron"><h4>Módulo no disponible</h4></div>
				</div>
				<div class="panel-footer clearfix">

						<div class="row" ng-hide="true">
							<div class="col-xs-12 col-md-12">

										<div class="btn-group btn-group-xs" >
											<input   class="btn btn-default" type="text" ng-model="chatxt" ng-trim="true" on-key-enter="agregar()" ng-disabled="loading" placeholder="Escriba su mensaje"/>
											<button type="button" class="btn btn-primary" ng-click="agregar()" >
												<i class="fa fa-paper-plane" aria-hidden="true"> </i>
											</button>
										</div>

							</div>
						</div>

				</div>
			</div>

		</div>
		<!--Div col 3 Feed-->
		<div class="slide-animate" ng-include="'partials/templates/feed.html'"></div><!--Div col 3 Feed-->



	</div><!--Row 1 Novedades -->

</div>
<br>

<div class="pull-right"><!--Flecha Arriba -->
    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-2x" data-toggle="tooltip" title="Volver arriba" data-placement="left"></i></a>
</div>



<br>

<ol class="breadcrumb">
  <li><a href=".#/dashboard">Home</a></li>
  <li><a href="">Administración</a></li>
  <li class="active">{{title}}</li>
</ol>
<br><br><br><br><br><br>
<script language='javascript'>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
<!-- Flecha Arriba Estilo, dentro del head-->
<script>
$(document).ready(function(){

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });

    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

});
</script>
<!-- Flecha Arriba Estilo, dentro del head-->



