<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> DemePedido Siebel</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="col-md-1 col-xs-1 ">
								<div data-ng-if="loading">
									<img alt="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class = "panel-heading nav navbar-default">

					<div class="col-lg-12 col-xs-10">
						<ul class="nav navbar-nav navbar-left">

							<li>
								<i class="fa fa-globe" aria-hidden="true"> </i>&nbsp;
								<select
									class= "btn btn-default btn-xs grupo-select"
									style="width: 200px"
									ng-model="iconcepto">
									<option value="" disabled>--Estado--</option>
									<option ng-repeat="d in estadosSiebel " value="{{d.ESTADO_ID}}">{{d.ESTADO_ID}}</option>
								</select>

							</li>
							<li> &nbsp; </li>
							<li>

								<button id="ped" type="button" class="btn btn-xs btn-default"  ng-show="pedidoIsActive" ng-class="pedidoIsActive==false?'animated bounceOutRight':'animated fadeInUp'" ng-click="executeCopy(pedido)" popover data-trigger="hover" data-placement="left" data-html="true" data-selector="" data-content="<i class='fa fa-clipboard'></i> Copiar">{{pedidoinfo}}
								</button>
								<button type="button" id="iniciar" class="btn btn-success btn-DemePedido-xs" ng-click="start(pedido);"   ng-disabled="false">
								DemePedido
								</button>


							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<div class="btn-group">
									<input style="width:140px"  class="btn btn-default btn-xs " type="text" ng-model="buscar" placeholder="Buscar..." ng-disabled="loading" select-on-click capitalize/>
									<button type="button" class="btn btn-success btn-xs" ng-click="BuscarPedidoActivo(buscar)"   ng-disabled="loading" >
									<i class="fa fa-search-plus" aria-hidden="true"> </i>
									</button>
								</div>
							</li>
							<li> &nbsp;</li>
							<li>
								<button type="button" class="btn btn-warning btn-circle-xss"  ng-click="ProgramadosModal()" data-toggle="modal" data-target="#PedidosProgramados" data-backdrop="static"  title="Pedidos Programados" >
								<i class="fa fa-calendar-check-o"  aria-hidden="true"> </i>
								</button>
							</li>
						</ul>
					</div>

				</div>

				<div class="panel-body fixed-panel ">
					<div class="container-fluid"  ng-show="pedidoIsActive==false">
						<div class="jumbotron animated bounceInRight ">
							<center><h3>Gestión Pendientes Siebel</h3></center>
						</div>

					</div>

					<div class="row "  ng-show="pedidoIsBuscado || pedidoIsActive ">

						<div class="col-md-8">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-tasks" aria-hidden="true"> </i> INFORMACIÓN</b>
								</div>
								<div class="panel-body">
									<ul class="list-group" ng-repeat="data in InfoPedido as gestion" >
										<div class="col-md-6">
											<li class="list-group-item small" ><b>PROCESO:</b> {{data.PROCESO}} </li>
											<li class="list-group-item small" ><b>SUBPROCESO:</b> {{data.SUBPROCESO}} </li>
											<li class="list-group-item small" ><b>PEDIDO: </b><button type="button" class="btn btn-xs btn-info" ng-click="executeCopy(data.PEDIDO_ID)">
												{{data.PEDIDO_ID}}
											</button> </li>
											<li class="list-group-item small" ><b>IDENTIFICADOR_ID:</b> {{data.IDENTIFICADOR_ID}} </li>
											<li class="list-group-item small" ><b>ID_AGENDASSMM:</b> {{data.ID_AGENDASSMM}} </li>
											<li class="list-group-item small" ><b>FECHA_INGRESO:</b> {{data.FECHA_INGRESO}} </li>
											<li class="list-group-item small" ><b>ESTADOCRM:</b> {{data.ESTADOCRM}} </li>
											<li class="list-group-item small" ><b>CPE:</b> {{data.EQUIPO_CPE}} </li>
											<li class="list-group-item small" ><b>ID_AGENDASSMM:</b> {{data.ID_AGENDASSMM}} </li>
											<li class="list-group-item small" ><b>MARCA CPE:</b> {{data.MARCA_CPE}} </li>
											<li class="list-group-item small" ><b>REFERENCIA CPE:</b> {{data.REFERENCIA_CPE}} </li>
											<li class="list-group-item small" ><b>TIEMPO CONCEPTO:</b> {{data.TIEMPO_COLA}} </li>
											<li class="list-group-item small" ><b>CLIENTE:</b> {{data.CLIENTE}} </li>
											<li class="list-group-item small" ><b>NOMBRE_AVISAR:</b> {{data.NOMBRE_AVISAR}} </li>
											<li class="list-group-item small" ><b>TELEFONO_AVISAR:</b> {{data.TELEFONO_AVISAR}} </li>
											<li class="list-group-item small" ><b>CELULAR_AVISAR:</b> {{data.CELULAR_AVISAR}} </li>

										</div>

										<div class="col-md-6">
											<li class="list-group-item small" ><b>COLA_ID:</b> {{data.COLA_ID}} </li>
											<li class="list-group-item small" ><b>COLA_ANTERIOR:</b> {{data.COLA_ANTERIOR}} </li>
											<li class="list-group-item small" ><b>CONCEPTO_ID:</b> {{data.CONCEPTO_ID}} </li>
											<li class="list-group-item small" ><b>DESCRIPCION_CAUSA_FALLA:</b> {{data.DESCRIPCION_CAUSA_FALLA}}  </li>
											<li class="list-group-item small" ><b>SERVICIO_FINAL:</b> {{data.SERVICIO_FINAL}} </li>
											<li class="list-group-item small" ><b>REITERATIVO_HOGAR_30_DIAS:</b> {{data.REITERATIVOS_HOGAR_30_DIAS}}  </li>
											<li class="list-group-item small" ><b>DIRECCION:</b> {{data.DIRECCION}}  </li>
											<li class="list-group-item small" ><b>CONTRATO_RESPONSABLE:</b> {{data.CONTRATO_RESPONSABLE}}  </li>
											<li class="list-group-item small" ><b>UEN_ID:</b> {{data.UEN_ID}}  </li>
											<li class="list-group-item small" ><b>DEPARTAMENTO_DANE:</b> {{data.DEPARTAMENTO_DANE}}  </li>
											<li class="list-group-item small" ><b>MUNICIPIO_DANE:</b> {{data.MUNICIPIO_DANE}}  </li>
											<li class="list-group-item small" ><b>MICROZONA:</b> {{data.MICROZONA}}  </li>
											<li class="list-group-item small" ><b>CLIENTE_ID:</b> {{data.CLIENTE_ID}} </li>
											<li class="list-group-item small" ><b>DEPARTAMENTO_DANE:</b> {{data.DEPARTAMENTO_DANE}}  </li>
										</div>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-cogs" aria-hidden="true"> </i> SEGUIMIENTO</b>
								</div>
								<div class = "panel-heading">
									<div class="container-fluid">

										<form name="seguimiento_form" id="seguimiento_form">
											<div class="form-group small" ng-class="{ 'has-error' : seguimiento_form.subproceso.$pristine && seguimiento_form.subproceso.$invalid}">
												<label for="accion">Sub Proceso Gestionado:</label>
												<select
													class= "form-control btn-xs"
													name="subproceso"
													ng-model="InfoPedido.SUBPROCESO_GESTION"
													required>
													<option value="">--Seleccione--</option>
													<option
														ng-repeat="d in subProcesos"
														value="{{d.SUB_PROCESO}}">
														{{d.SUB_PROCESO}}
													</option>
												</select>
											</div>
											<div class="form-group small" ng-class="{ 'has-error' : seguimiento_form.accion.$pristine && seguimiento_form.accion.$invalid}">
												<label for="accion">Acción:</label>
												<select
													class= "form-control btn-xs"
													name="accion"
													ng-model="InfoPedido.ACCION"
													ng-change="onChangeAccion()" required>
													<option value="">--Seleccione--</option>
													<option
														ng-repeat="d in ListaAcciones"

														value="{{d.ACCION}}">
														{{d.ACCION}}
													</option>
												</select>
											</div>
											<div class="form-group small" ng-show="InfoPedido.ACCION" ng-class="{ 'has-error' : seguimiento_form.subaccion.$pristine && seguimiento_form.subaccion.$invalid}">
												<label for="subaccion">Sub Acción:</label>
												<select
													class= "form-control btn-xs"
													name="subaccion"
													ng-change="onChangeSubAccion()"
													ng-model="InfoPedido.SUBACCION" required>
													<option value="" selected="selected">--Seleccione--</option>
													<option
													ng-repeat="d in ListaSubAcciones | filter:{ACCION: InfoPedido.ACCION} " value="{{d.SUB_ACCION}}">{{d.SUB_ACCION}}</option>
												</select>
											</div>
											<div class="form-group small" ng-show="InfoPedido.SUBACCION">
												<label for="gestion">Gestión:</label>
												<select
													class= "form-control btn-xs"
													name="gestion"
													ng-change="onChangeGestion()"
													ng-model="InfoPedido.GESTION">
													<option value="" selected="selected">--Seleccione--</option>
													<option ng-repeat="d in ListaGestion | filter:{ACCION: InfoPedido.ACCION, SUB_ACCION: InfoPedido.SUBACCION}"  value="{{d.GESTION}}">{{d.GESTION}}</option>
												</select>
											</div>
											<div class="form-group small" ng-show="InfoPedido.GESTION" ng-class="{ 'has-error' : seguimiento_form.subgestion.$pristine}">
												<label for="subgestion">Sub Gestión:</label>
												<select
													class= "form-control btn-xs"
													name="subgestion"
													ng-model="InfoPedido.SUBGESTION">
													<option value="" selected="selected">--Seleccione--</option>
													<option ng-repeat="d in ListaSubGestion | filter:{ACCION: InfoPedido.ACCION, SUB_ACCION: InfoPedido.SUBACCION, GESTION: InfoPedido.GESTION}" value="{{d.SUB_GESTION}}">{{d.SUB_GESTION}}</option>
												</select>
											</div>
											<div class="form-group small" ng-show="InfoPedido.SUBGESTION=='PROGRAMACION'" >
												<label for="programacion">Programación:</label>
												<div class="control-group" >
													<div class="input-group margin-bottom-sm">
														<input class="form-control btn-xs" name="programacion" ng-model="InfoPedido.PROGRAMACION" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" />
														<span class="input-group-btn">
															<button type="button" class="btn btn-default"><i class="fa fa-calendar-plus-o fa-fw"></i></button>
														</span>
													</div>
												</div>
											</div>
											<div >

											</div>
											<div class="form-group small" >
												<label for="observacion">Observación:</label>
												<textarea
												name="observacion"
												class="form-control"
												ng-model="InfoPedido.OBSERVACIONES" name="OBSERVACIONES"
												select-on-click >
												</textarea>
												<button type="button" class="btn btn-xs btn-default"
												ng-click="executeCopy('Grupo:GS AAA, Usuario:'+galletainfo.USUARIO_ID+', Acción:'+InfoPedido.ACCION+', Subacción:'+InfoPedido.SUBACCION+', Observación:  '+InfoPedido.OBSERVACIONES)" ><i class='fa fa-clipboard'> </i> Copiar
												</button>
											</div>
											<div>
												<div class="hide" ng-repeat="InfoPedido in ListadoParametrosAcciones | filter:{ACCION: InfoPedido.ACCION, SUB_ACCION: InfoPedido.SUBACCION} as model">
													<input ng-model="InfoPedido.STATUS">
												</div>
											</div>
											<div>
												               <pre>
													               Grupo:GS AAA, Usuario:{{galletainfo.USUARIO_ID}}, Acción:{{InfoPedido.ACCION}}, Subacción: {{InfoPedido.SUBACCION}}
												</pre>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>


					</div><!--Panel Body -->
					<div class="panel-footer clearfix" >
						<div class="col-md-6" >
							<ul class="nav navbar-nav navbar-left animated bounceInRight" ng-show="fechaagenda" >
								<li>Agenda: <span class="label label-warning">{{fechaagenda}}</span>
							</li>
							<li>&nbsp; | &nbsp;</li>
							<li>Estado: <span ng-class="{'PROGRAMADO': 'label label-primary','PENDIENTE': 'label label-warning','ENRUTADO': 'label label-danger'}[estado]">{{estado}}</span></li>
							<li ng-show="estado=='PROGRAMADO'">&nbsp; | &nbsp;<span class="label label-primary">{{fechaprogramacion}}</span>
						</li>

					</ul>

				</div>
				<div class="col-md-6">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav navbar-nav" ng-class="pedidoIsGuardado==false?'animated bounceOutRight':'animated bounceInRight'" ng-show="pedidoIsGuardado==true">
							<span class="label label-primary">Pedido Guardado</span>&nbsp;

						</li>
						<li>
							<button type="button" class="btn btn-success btn-xs" ng-click="guardarPedido(InfoPedido,model)"  ng-disabled="!accRdy || pedidoOcupado || loading">
							Guardar
							</button>
						</li>
						<li>&nbsp; | &nbsp;</li>
						<li>
							<button type="button" class="btn btn-info btn-circle-xss" ng-click="muestraNotas(InfoPedido)" data-toggle="modal" data-target="#NotasModal" data-backdrop="static" popover data-trigger="hover" data-placement="left" data-html="true" data-content="<code>Notas</code>"   ng-disabled="pedidoIsBuscado==false && pedidoIsActive==false">
							<i class="fa fa-commenting"  aria-hidden="true"> </i>
							</button>
						</li>
						<li>&nbsp; | &nbsp;</li>
						<li>
							<button type="button" class="btn btn-info btn-circle-xss" ng-click="historicoModal(InfoPedido)" data-toggle="modal" data-target="#HistoricoPedido" data-backdrop="static"  popover data-trigger="hover" data-placement="left" data-html="true" data-content="<code>Historico</code>"   ng-disabled="pedidoIsBuscado==false && pedidoIsActive==false">
							<i class="fa fa-rss"  aria-hidden="true"> </i>
							</button>
						</li>

					</ul>
				</div>
				</div><!--Panel Footer -->
			</div>

		</div>
		</div><!--Row 1 Novedades -->
		</div><!--Container ppal -->
		<!-- Modal Historico Pedidos-->
		<div id="PedidosProgramados" class="modal fade "  role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{TituloModal}} <span class="label label-info">{{galletainfo.USUARIO_ID}} </span> </h4>
					</div>
					<div class="modal-body" >
						<div class="row"><!--Row Programados por USER -->
						<div class="col-md-12">

							<div class = "panel panel-default">
								<div class = "panel-heading">
									<b><i class="fa fa-bars" aria-hidden="true"></i> Pedidos Programados </b>
									<ul class="nav navbar-nav navbar-right">
										<div class="col-md-1 col-xs-1 ">
											<div data-ng-if="loading">
												<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
											</div>
										</div>
									</ul>
								</div>
								<div class="panel-body fixed-panel" >
									<table class = "table small table-striped table-condensed">
										<thead>
											<tr >
												<th>Pedido</th>
												<th>Programación</th>
												<th>Estado</th>
												<th>Fecha Gestión</th>
												<th>Sub acción</th>
												<th>Gestión</th>
												<th>Acción</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="data in ListadoPrograUser as progra" class="animated bounceInRight">
												<td><button type="button" class="btn btn-xs btn-warning" ng-click="executeCopy(data.PEDIDO_ID)">
													{{data.PEDIDO_ID}}
												</button></td>
												<td>{{data.PROGRAMACION}}</td>
												<td>{{data.STATUS}}</td>
												<td>{{data.FECHA_FIN}}</td>
												<td>{{data.SUBACCION}}</td>
												<td>{{data.GESTION}}</td>
												<td ng-class="{'EN ESPERA':'label label-info','LLAMAR':'label label-danger'}[data.MENSAJE]">{{data.MENSAJE}}</td>
												<td> </td>

											</tr>
										</tbody>
									</table>

								</div>
								<div class="panel-footer clearfix" >
									<div class="col-md-6">
										<ul class="nav navbar-nav navbar-left">
											<li>Registros: <span class="badge badge-default">{{progra.length}}</span></li>

										</ul>

									</div>


									<div class="col-md-6">

									</div>
								</div>
								</div><!--Panel -->
							</div>
							</div><!--Row 1 Pedidos Programados -->
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
				</div><!-- Modal Programados-->
				<!-- Modal Historico Pedidos-->
				<div id="HistoricoPedido" class="modal fade "  role="dialog">
					<div class="modal-dialog modal-lg">
						<!-- Modal content-->
						<div class="modal-content" >
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">{{TituloModal}} <span class="label label-info">{{pedidoHistorico}} </span> </h4>
								<span style="color:red" ><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
							</div>
							<div class="modal-body" >
								<div class = "panel panel-default">
									<div class = "panel-heading">
										<div class="panel-body fixed-panel" >
											<table class = "table small table-striped table-condensed">
												<thead>
													<tr >
														<th>USUARIO_ID</th>
														<th>FECHA_GESTION</th>
														<th>ACCION</th>
														<th>SUBACCION</th>
														<th>GESTION</th>
														<th>SUBGESTION</th>
														<th>OBSERVACIONES</th>
														<th>PROGRAMACION</th>
														<th>STATUS</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="data in InfoPedidoHistorico" class="animated bounceInRight">
														<td>{{data.USUARIO_ID}}</td>
														<td>{{data.FECHA_FIN}}</td>
														<td>{{data.ACCION}}</td>
														<td>{{data.SUBACCION}}</td>
														<td>{{data.GESTION}}</td>
														<td>{{data.SUBGESTION}}</td>
														<td>{{data.OBSERVACIONES}}</td>
														<td>{{data.PROGRAMACION}}</td>
														<td><span ng-class="{'CERRADO': 'label label-success','PENDIENTE': 'label label-warning'}[data.STATUS]">{{data.STATUS}}</span></td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
					</div><!-- Modal Eliminar Novedad-->
					<!-- Modal Notas Siebel Pedidos-->
					<div id="NotasModal" class="modal fade "  role="dialog">
						<div class="modal-dialog modal-md">
							<!-- Modal content-->
							<div class="modal-content" >
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Notas Siebel </h4>
								</div>
								<div class="modal-body" >
									<div class="jumbotron">
										{{notaSiebel}}
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
						</div><!-- Modal Eliminar Novedad-->
						<br>
						<ol class="breadcrumb">
							<li><a href=".#/">Home</a> </li>
							<li><a href="">Asignaciones</a></li>
							<li class="active">{{title}} </li>
						</ol>
