
<!-- Crud de Usuarios -->
<!-- 2015-09-18: Estilo corregido -->
<!-- 2015-09-18: Creacion de div para mensajes de notificacion -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<ol class="breadcrumb">
  <li><a href="./#/scheduling/">Agendamiento</a></li>
  <li class="active">Alarmados Proactivos</li>
</ol>
<div class="row" ng-controller="TabController"><!--Div Pestañas Usuarios -->
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSet(1) }">
            <a href ng-click="setTab(1)">Alarmados</a>
        </li>
    </ul>
    <div class="col-md-16">
        <div class="jumbotron">
            <div class="container-fluid"><!--Contenedor PPAL -->
                <div ng-show="isSet(1)"><!-- ISET=? -->
                    <div class="row-fluid"><!--Div Contenedor Mensajes -->
                        <div ng-show="success" class="alert alert-success">{{success}}</div>
                    </div>
                    <div class="row-fluid"><!--Div Contenedor de botones y titulo -->
                        <div class="span12"> <!--Div Titulo -->
                            <center><h3>ALARMADOS PROACTIVOS</h3></center><br>
                        </div><!--Div Titulo -->
                        <div class="row-fluid">
                            <div class="col-sm-16"><!--Div Boton Nuevo Usuario -->
                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvScheduling();"><span class="glyphicon glyphicon-download-alt"></span> Exportar Todos</button>
                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvSchedulingPre();"><span class="glyphicon glyphicon-download-alt"></span> Exportar Pre</button>
                                <button class="btn btn-success btn-sm" value="exportar!" ng-click="csvSchedulingPedidos();"><span class="glyphicon glyphicon-download-alt"></span> Exportar Pedidos</button>
                            </div>
                        </div>
                    </div><!--Div Contenedor de botones y titulo -->

            <table align="center" width="100%">
            <tr>
            <td width="20%" align="left">
                Total de Registros: <b>{{totalScheduling}}</b>
            </td>
             <td width="20%" align="left">
                Total de Preformularios: <b>{{totalSchedulingPre}}</b>
            </td>
             <td width="20%" align="left">
                Total de Pedidos: <b>{{totalSchedulingPedidos}}</b>
            </td>
            <td width="40%" align="right">
                <pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged('listaRegistros')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
            </td>
            </tr>
            </table>
                    <div class="row-fluid"><!-- Div de Datos -->
                        <table class="table small table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <th>PEDIDO</th>
                                <th>CONCEPTO</th>
                                <th>FECHA ESTADO</th>
                                <th>FECHA INGRESO</th>
                                <th>TIPO SOLICITUD</th>
                                <th>FECHA CITA</th>
                                <th>DESCRIPCION CONCEPTO</th>
                                <th>DEPARTAMENTO</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in listaScheduling">
                                    <td>{{data.pedido_id}}-{{data.subpedido_id}}{{data.solicitud_id}}</td>
                                    <td>{{data.concepto_id}}</td>
                                    <td>{{data.FECHA_ESTADO}}</td>
                                    <td>{{data.FECHA_INGRESO}}</td>
                                    <td>{{data.TIPO_SOLICITUD}}</td>
                                    <td>{{data.FECHA_CITA}}</td>
                                    <td>{{data.DESCRIPCION_CONCEPTO}}</td>
                                    <td>{{data.DEPARTAMENTO}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination total-items="data.totalItems" ng-model="data.currentPage" ng-change="pageChanged('listaRegistros')" items-per-page="100" num-pages="smallnumPages" class="pagination-sm" max-size="6"></pagination>
                    </div><!-- Div de Datos -->


                </div><!-- ISET=? -->
            </div><!--Contenedor PPAL -->
        </div><!--Div Pestañas Usuarios -->
</div>
</div>
<div> <br><br><br></div>

