<form   name="taskform"  class="form-horizontal" role="form" >
    <div class="form-group" ng-class="{ 'has-error': taskform.userGest.$error.required }">
        <label for="userGest" class="col-lg-2 control-label">Responsable</label>
        <div class="col-lg-10">
            <select id="userGest" name="userGest"
                    class="form-control"
                    ng-model="taskform.USUARIO_GEST"
                    ng-options="g.USUARIO_ID as g.USUARIO_ID for g in task.usuarios" required></select>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': taskform.sltipo.$error.required }">
        <label for="sltipo" class="col-lg-2 control-label">Tipo</label>
        <div class="col-lg-10">
            <select id="sltipo" name="sltipo"
                    class="form-control"
                    ng-model="taskform.TIPO"
                    ng-options="g.TIPO as g.TIPO for g in task.tipos | unique:'TIPO'"
                     required></select>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': taskform.categoria.$error.required  }">
        <label for="categoria" class="col-lg-2 control-label">Categoría</label>
        <div class="col-lg-10">
            <select id="categoria" name="categoria"
                    class="form-control"
                    ng-model="taskform.CATEGORIA"
                    ng-options="g.CATEGORIA as g.CATEGORIA for g in task.tipos | unique:'CATEGORIA'"
                    required></select>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': taskform.inputSubject.$invalid  }">
        <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
        <div class="col-lg-10">
            <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': taskform.inputMessage.$invalid }">
        <label for="inputMessage" class="col-lg-2 control-label">Message</label>
        <div class="col-lg-10">
            <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default"
                    ng-click="saveTask(taskform)"
                    ng-disabled="taskform.$invalid"
                    data-dismiss="modal"
                    >
                Crear
            </button>
        </div>
    </div>
</form>