<div class="col-md-3 col-xs-3" ng-controller="chatioCtrl">

			<div class = "panel panel-default" >
				<div class = "panel-heading nav navbar-default ">
					<div class="row">
						<div class="col-md-6">
						<b>Chat</b></div>

						<div class="col-md-6">

							<span class="pull-right">
								<b><button type="button" class="btn btn-primary btn-xs" popover data-placement="left"> Online: <span class="badge">{{userOnLine}}</span>
									<infobox data-placement="left">
								 <!--<infobox-title>Usuarios:</infobox-title>-->
								 <infobox-body>

									<div ng-repeat="user in objCurrentUsers as statusObj">

										<span class="small" ng-class="{'true':'text-success','false':'text-muted'}[user.estado]"><i  class="fa fa-user-circle" aria-hidden="true"></i> {{user.usuario}}</span>

									</div>
								</infobox-body>
							 </infobox></button></b>

							</span>
						</div>
					</div>
				</div>
				<div class = "panel-body fixed-panel" schroll-bottom="lista">
					<ul class="list-group small">
						<a href="" ng-repeat="msg in lista as msgobj" class="list-group-item animated slideInRight"><strong><i  class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;{{msg.user}}:</strong>&nbsp; <span ng-bind-html="msg.mensaje | smilies"></span><br><span class="small">{{msg.log | timeago}}</span> </a>
					</ul>
				</div>
				<div class="panel-footer clearfix">
					<div class="btn-group btn-group-xs">
						<input class="btn btn-default ng-pristine ng-valid ng-touched" type="text" ng-model="chatxt" ng-trim="true" on-key-enter="agregar()" ng-disabled="loading" placeholder="Escriba su mensaje">
						<button type="button" class="btn btn-primary btn-circle-xs"
							smilies-selector="chatxt"
							smilies-placement="left"
							smilies-title="Smilies"></button>&nbsp;&nbsp;
						<button type="button" class="btn btn-primary" ng-click="agregar()">
							<i class="fa fa-paper-plane" aria-hidden="true"> </i>
						</button>
					</div>

				</div>
			</div>

</div>
