
<div class="row">
	<div class="col-md-4">

		<div class = "panel panel-default" >
			<div class = "panel-heading nav navbar-default ">
						<div class="row">
							<div class="col-md-12">
							<b>Chat</b></div></div>
			</div>
			<div class = "panel-body fixed-panel">
				<ul class="list-group small">
					<a href="" ng-repeat="msg in lista" class="list-group-item animated slideInRight"><i class="fa fa-user-circle" aria-hidden="true"></i> {{msg.user}}: <span class="small">{{msg.mensaje}} - {{msg.log | timeago}}</span></a>
				</ul>
			</div>
			<div class="panel-footer clearfix">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav navbar-nav navbar-right">
							<li><input style="width:200px"  class="btn btn-default btn-xs " type="text" ng-model="chatxt" ng-trim="true" on-key-enter="agregar()" ng-disabled="loading" /></li>
							<li><button type="button" class="btn btn-primary btn-xs" ng-click="agregar()" >
								<i class="fa fa-paper-plane" aria-hidden="true"> </i>
							</button></li>

						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
