<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b><i class="fa fa-bars" aria-hidden="true"></i> Tareas Pendientes</b>
                <span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle" aria-hidden="true"
                                                              ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
                <div class="pull-right">
                    <div class="col-md-1 col-xs-1 ">
                        <div data-ng-if="loading">
                            <img title="Esperando respuesta" tooltip data-placement="top" src="images/loader.gif"
                                 height="16" width="16"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed small">
                    <thead>
                    <tr>
                        <th>IdTarea</th>
                        <th>Flag</th>
                        <th>Estado</th>
                        <th>Inicio</th>
                        <th>Cambio</th>
                        <th>Progreso</th>
                        <th>Responsable</th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th>Grupo</th>
                        <th>Usuario</th>
                        <th>Mas...</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="t in task.crud">
                            <td><span class="small">{{t.IDTAREA}}</span></td>
                            <td><span class="small" ng-style="estiloflag(t.PRIORIDAD)" tooltip-placement="left" uib-tooltip="{{t.PRIORIDAD}}"><i class="fa fa-flag" aria-hidden="true"></i></span></td>
                            <td><span class="small">
                                <a href="#"
                                   edit-disabled="{{t.ESTADO == 'CERRADO'}}"
                                   editable-select="t.ESTADO" e-ng-options="s for s in task.estados"
                                   onaftersave="updateStatus(t,$index)">
                                {{t.ESTADO}}
                              </a>
                               </span></td>
                            <td><span class="small">{{t.FECHA_INICIO}}</span></td>
                            <td><span class="small">{{t.FECHA_MODIFICACION}}</span></td>
                            <td><span class="small">
                                <a href="#"
                                   edit-disabled="{{t.ESTADO == 'CERRADO'}}"
                                   editable-range="t.PROGRESO"
                                   e-step="5"
                                   onaftersave="updateStatus(t,$index)">
                                    <uib-progressbar class="progress-striped" value="t.PROGRESO"  type="success">{{t.PROGRESO}}%
                                    </uib-progressbar>
                                </a></span></td>
                            <td><img class="profile-card" data-ng-src="{{t.PIC || 'images/avatar_2x.png'}}" height="20px" width="20px"/> <span class="small">{{t.USUARIO_GEST}}</span></td>
                            <td><span class="small">
                                <a href="#" ng-click="getTaskOptions()"
                                   edit-disabled="{{t.ESTADO == 'CERRADO'}}"
                                   editable-select="t.TIPO" e-ng-options="g.TIPO as g.TIPO for g in task.tipos | unique:'TIPO'"
                                   onaftersave="updateStatus(t,$index)">
                                {{t.TIPO}}
                              </a></span></td>
                            <td><span class="small">{{t.CATEGORIA}}</span></td>
                            <td><span class="small">{{t.GRUPO}}</span></td>
                            <td><span class="small">{{t.REPRESENTANTE}}</span></td>
                            <td>
                                <button type="button"
                                        uib-tooltip="Observaciones"
                                        tooltip-placement="left"
                                        uib-popover-html="'<b>{{t.OBSERVACIONES}}</b>'"
                                        class="btn btn-default btn-circle-xss"
                                        ng-disabled="loading">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </button>
                                <button type="button" uib-tooltip="Editar: {{t.IDTAREA}}" tooltip-placement="left"
                                                            class="btn btn-default btn-circle-xss" ng-click="editarModal(data)"
                                                            data-toggle="modal" data-target="#editarModal" data-backdrop="static"
                                                            ng-disabled="loading">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button type="button" uib-tooltip="Borrar: {{t.IDTAREA}}" tooltip-placement="left"
                                        class="btn btn-default btn-circle-xss" ng-click="borrarModal(data)"
                                        data-toggle="modal" data-target="#eliminaUsuario" data-backdrop="static"
                                        ng-disabled="loading">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>




            </div>
            <div class="panel-footer clearfix">


            </div>

        </div>
    </div>

</div><!--Row 1 Novedades -->
<br>
<ol class="breadcrumb">
    <li><a href=".#/">Home</a></li>
    <li><a href="">Administracion</a></li>
    <li class="active">{{title}}</li>
</ol>
