<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b><i class="fa fa-bars" aria-hidden="true"></i> Tareas Pendientes</b>
                <span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle" aria-hidden="true"
                                                              ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
                <div class="pull-right">
                    <div class="col-md-1 col-xs-1 ">
                        <div data-ng-if="loading">
                            <img title="Esperando respuesta" tooltip data-placement="top" src="images/loader.gif"
                                 height="16" width="16"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table small">
                    <thead>
                    <tr>
                        <th>Flag</th>
                        <th>Estado</th>
                        <th>Inicio</th>
                        <th>Progreso</th>
                        <th>Responsable</th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th>Grupo</th>
                        <th>Usuario</th>
                        <th>Observaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="t in task.crud">
                            <td><span class="small" ng-style="estiloflag(t.PRIORIDAD)" tooltip-placement="left" uib-tooltip="{{t.PRIORIDAD}}"><i class="fa fa-flag" aria-hidden="true"></i></span></td>
                            <td><span class="small">{{t.ESTADO}}</span></td>
                            <td><span class="small">{{t.FECHA_INICIO}}</span></td>
                            <td><span class="small"><div class="col-sm-4"><uib-progressbar value="{{t.PROGRESO}}">{{t.PROGRESO}}</uib-progressbar></div></span></td>
                            <td><img class="profile-card" data-ng-src="{{t.PIC || 'images/avatar_2x.png'}}" height="20px" width="20px"/> <span class="small">{{t.USUARIO_GEST}}</span></td>
                            <td><span class="small">{{t.TIPO}}</span></td>
                            <td><span class="small">{{t.CATEGORIA}}</span></td>
                            <td><span class="small">{{t.GRUPO}}</span></td>
                            <td><span class="small">{{t.REPRESENTANTE}}</span></td>
                            <td><span class="small">boton</span></td>
                        </tr>
                    </tbody>
                </table>




            </div>
            <div class="panel-footer clearfix">


            </div>

        </div>
    </div>

</div><!--Row 1 Novedades -->
<br>
<ol class="breadcrumb">
    <li><a href=".#/">Home</a></li>
    <li><a href="">Administracion</a></li>
    <li class="active">{{title}}</li>
</ol>
